<div class="container-fluid p-5">
  <div class="row">
            
    <legend class="text-center text-primary mb-3"><h1 class="display-4 sombraTitulo">Productos externos</h1></legend>

    <div class="form-group row mb-3">
        <div class="col-md-10 p-0">
            <a class="btn btn-primary btn-sm br25" (click)="limpiarFormulario()" data-bs-toggle="modal" data-bs-target="#modalAgregarProducto" >
                <span class="col-md-1 text-center">
                <i class="fa fa-add bigicon" aria-hidden="true"></i>
            </span></a>
        </div>
        <div class="col-md-2 p-0 text-end">
              <label class="text-primary">Total de clientes: <strong>{{_paginadoDetalle.TotalRegistros}}</strong></label>
        </div>
    </div>

    <div class="form-group row mb-3">
        <table class="table table-sm text-primary table-striped table-bordered border-primary color-table">
            <thead>
              <tr>
                <th width="50px" class="text-primary text-center" scope="col">Id</th>
                <th width="100px" class="text-primary text-center" scope="col">Clave</th>
                <th width="100px" class="text-primary text-center" scope="col">Clave SAT</th>
                <th width="300px" class="text-primary text-center" scope="col">Descripción</th>
                <th width="100px" class="text-primary text-center" scope="col">Precio</th>
                <th width="150px" class="text-primary text-center" scope="col">Fecha de Alta</th>
                <th width="150px" class="text-primary text-center" scope="col">Fecha de Modificación</th>
                <th class="text-primary text-center" scope="col">Modificar</th>
                <th class="text-primary text-center" scope="col">Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let producto of _productosExternos; let i = index;">
                <td class="text-primary text-center" scope="row">{{producto.Id_Producto}}</td>
                <td class="text-primary text-truncate" data-toggle="tooltip" data-placement="top" title="{{producto.Clave}}" style="max-width: 150px;">{{producto.Clave}}</td>
                <td class="text-primary text-truncate" data-toggle="tooltip" data-placement="top" title="{{producto.ClaveProdServ}}" style="max-width: 150px;">{{producto.ClaveProdServ}}</td>
                <td class="text-primary text-truncate" data-toggle="tooltip" data-placement="top" title="{{producto.Descripcion}}" style="max-width: 150px;">{{producto.Descripcion}}</td>
                <td class="text-primary text-truncate text-end" data-toggle="tooltip" data-placement="top" title="$ {{producto.Precio | number : '1.2-2'}}" style="max-width: 150px;">$ {{producto.Precio | number : '1.2-2'}}</td>
                <td class="text-primary text-center">{{producto.FechaAlta | date:'yyyy-MM-dd HH:mm'}}</td>
                <td class="text-primary text-center">{{producto.FechaModificacion | date:'yyyy-MM-dd HH:mm'}}</td>
                <td width="90px" class="p-1">
                    <div class="col-auto p-0 m-0 text-center" heigth="auto">
                        <button class="btn btn-sm btn-outline-primary br25" heigth="auto" (click)="obtenerProductoExterno(producto);" data-bs-toggle="modal" data-bs-target="#modalAgregarProducto">
                          <span class="col-md-1 col-md-offset-2 text-center">
                            <i class="fa fa-pencil"></i>
                          </span>
                        </button>
                    </div>
                </td>
                <td width="90px" class="p-1">
                  <div class="col-auto p-0 m-0 text-center">
                      <button class="btn btn-sm btn-danger br25" heigth="auto" (click)="eliminarProductoExterno(producto);" >
                        <span class="col-md-1 col-md-offset-2 text-center">
                          <i class="fa fa-trash-can"></i>
                        </span>
                      </button>
                  </div>
                </td>
              </tr>
            </tbody>
            <tfoot>
                <tr>
                  <td colspan="9">
                    <div *ngIf="_seRealizaBusqueda" class="d-flex justify-content-center">
                      <nav aria-label="Page navigation py-0 m-0">
                        <ul class="pagination my-2">
                          <li class="page-item px-2" [ngStyle]="{'pointer-events': _mostrarPaginaAnterior ? 'auto' : 'none', 'visibility': _mostrarPaginaAnterior && _paginadoDetalle.TotalPaginas > _numeroPaginasMostrar ? 'visible' : 'hidden'}" >
                            <button id="btnPaginador" class="page-link color-text-box" style="border-radius: 30px;" (click)="obtenerPaginaAnterior()" aria-label="Previous">
                              <span><i class="fa-solid fa-arrow-left"></i></span>
                            </button>
                          </li>
                          <li *ngFor="let pagina of _paginas" class="page-item mx-2">
                            <button id="btnPaginador" class="page-link color-text-box br25" style="width:40px; height:40px;" [ngStyle]="{'border': pagina.Activa ? '1px solid #bf4080' : '', 'background-color': pagina.Activa ? 'rgba(223, 126, 137, .4)' : ''}" (click)="obtenerClientes(pagina.Pagina)" [disabled]="pagina.Activa">
                              <span style="position:absolute; top:50%; left:50%; transform:translate(-50%, -50%)">{{pagina.Pagina+1}}</span>
                            </button>
                          </li>
                          <li class="page-item px-2" [ngStyle]="{'pointer-events': _mostrarPaginaSiguiente ? 'auto' : 'none', 'visibility': _mostrarPaginaSiguiente && _paginadoDetalle.TotalPaginas > _numeroPaginasMostrar ? 'visible' : 'hidden'}" >
                            <button id="btnPaginador" class="page-link color-text-box" style="border-radius: 30px;" (click)="obtenerPaginaSiguiente()" aria-label="Next">
                              <span><i class="fa-solid fa-arrow-right"></i></span>
                            </button>
                          </li>
                          <li class="page-item mx-1" [ngStyle]="{'visibility': _paginadoDetalle.TotalPaginas > 0 ? 'visible' : 'hidden'}">
                            <form [formGroup]="formaNumeroPagina">
                              <div class="row">
                                <div class="col-md-5">
                                  <input type="number" 
                                          class="form-control text-primary color-text-box br25"
                                          formControlName="numeroPagina">
                                </div>
                                <div class="col p-0">
                                  <button type="submit" class="btn btn-sm btn-primary br25" style="position: relative; top: 50%;transform: translateY(-50%);" (click)="obtenerClientes(null)">
                                    <span><i class="fa-solid fa-angles-right"></i></span>
                                  </button>
                                </div>
                              </div>
                            </form>
                          </li>
                        </ul>
                      </nav>
                    </div>
                  </td>
                </tr>
              </tfoot>
          </table>
    </div>

  </div>
</div>
  
  <div class="modal fade" id="modalAgregarProducto" tabindex="-1" aria-labelledby="gridModalLabel" aria-modal="true" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content color-modal">
          <div class="modal-header">
            <h5 class="modal-title text-primary" id="gridModalLabel">{{_textoAccion}} Producto externo</h5>
            <button type="button" class="btn-close bg-color-5" (click)="limpiarFormulario()" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid bd-example-row">
              <div class="row">
                <form class="form-horizontal" [formGroup]="formaProducto">
                    <fieldset>

                        <div class="form-group row mb-3">
                            <span class="col-md-1 col-md-offset-2 text-primary text-center"><i class="fa fa-file-signature bigicon"></i></span>
                            <div class="col-md-8">
                                <input formControlName="descripcion" 
                                        type="text" 
                                        placeholder="Descripción" 
                                        [class.is-invalid]="descripcionNoValido" 
                                        class="form-control text-primary color-text-box">
                            </div>
                            <div class="col-md-3 px-0">
                                <small *ngIf="descripcionNoValido" class="text-danger">
                                  Descripción no valida
                                </small>
                            </div>
                        </div>

                        <div class="form-group row mb-3">
                            <span class="col-md-1 col-md-offset-2 text-primary text-center"><i class="fa fa-dollar-sign bigicon"></i></span>
                            <div class="col-md-8">
                                <input formControlName="precio" 
                                        type="number"
                                        [class.is-invalid]="precioNoValido"
                                        placeholder="Precio" 
                                        class="form-control text-primary color-text-box">
                            </div>
                            <div class="col-md-3 px-0">
                                <small *ngIf="precioNoValido" class="text-danger">
                                  Precio no valido
                                </small>
                            </div>
                        </div>

                        <div class="form-group row mb-3">
                          <span class="col-md-1 col-md-offset-2 text-primary text-center"><i class="fa fa-calendar-days bigicon"></i></span>
                          <div class="col-md-8">
                              <input formControlName="clave" 
                                      type="text"
                                      maxlength="10"
                                      [class.is-invalid]="claveNoValido"
                                      placeholder="Clave interna del producto" 
                                      class="form-control text-primary color-text-box">
                          </div>
                          <div class="col-md-3 px-0">
                              <small *ngIf="claveNoValido" class="text-danger">
                                Clave requerida
                              </small>
                          </div>
                        </div>

                        <div class="form-group row mb-3">
                          <span class="col-md-1 col-md-offset-2 text-primary text-center"><i class="fa fa-calendar-days bigicon"></i></span>
                          <div class="col-md-8">
                              <input formControlName="claveProdSAT" 
                                      type="text"
                                      maxlength="10"
                                      [class.is-invalid]="claveProdSATNoValido"
                                      placeholder="Clave del SAT requerida" 
                                      class="form-control text-primary color-text-box">
                          </div>
                          <div class="col-md-3 px-0">
                              <small *ngIf="claveProdSATNoValido" class="text-danger">
                                Clave del SAT requerida
                              </small>
                          </div>
                        </div>

                    </fieldset>
                </form>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" #myModalClose (click)="limpiarFormulario()" class="btn btn-secondary text-light br25" data-bs-dismiss="modal" >Cancelar</button>
            <button type="button" class="btn btn-primary br25" (click)="guardarProducto();">{{_textoAccion}}</button>
          </div>
        </div>
      </div>
    </div>  