<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form [formGroup]="formaCliente" class="form-horizontal">
                    <fieldset>
                        <legend class="text-center text-primary mb-4"><h1 class="display-4 sombraTitulo">Asignar paquete a Empresa (Cliente)</h1></legend>

                        <div class="form-group row mb-3">
                            <div class="col-md-1 p-0">
                                <a class="btn btn-primary btn-sm" style="border-radius:25px;" (click)="limpiarFormulario()" data-bs-toggle="modal" data-bs-target="#gridAgregarPaquete" >
                                    <span class="col-md-1 col-md-offset-2 text-center">
                                    <i class="fa fa-add bigicon" aria-hidden="true"></i>
                                </span></a>
                            </div>
                            <div class="col-md-1 text-end">
                                <label class="text-primary text-end">Paquete:</label>
                            </div>
                            <div class="col-md-3">
                                <select class="form-select form-select-md mb-3 text-primary color-text-box"
                                        style="border-radius: 0.8em"
                                        aria-label="Default select example"
                                        (change)="limpiarResultados()"
                                        formControlName="clavePaquete">
                                        <option value={{null}} selected>[Todos]</option>
                                        <option *ngFor="let paquete of _paquetes; let i = index" [value]="paquete.Id_Paquete">
                                          {{ paquete.Clave }}
                                        </option>
                                </select>
                            </div>
                            <div class="col-md-1 text-end">
                                <label class="text-primary text-end">Empresa:</label>
                            </div>
                            <div class="col-md-3">
                                <select class="form-select form-select-md mb-3 text-primary color-text-box"
                                        style="border-radius: 0.8em"
                                        aria-label="Default select example"
                                        (change)="limpiarResultados()"
                                        formControlName="empresa">
                                        <option value={{null}} selected>[Todas]</option>
                                        <option *ngFor="let empresa of _empresas; let i = index" [value]="empresa.UID">
                                          {{ empresa.Nombre }}
                                        </option>
                                </select>
                            </div>
                            <div class="col-md-1">
                                <button type="button" class="btn btn-primary mx-1 br25" (click)="buscarPaquetes()" >
                                    <span class="col-md-1 col-md-offset-2 text-center">
                                        <i class="fa fa-search" aria-hidden="true"> </i>
                                    </span>
                                </button>
                            </div>
                            <div class="col-md-2 p-0 text-end">
                                  <label class="text-primary">Total de registros: <strong>{{_paquetesEmpresas.length}}</strong></label>
                            </div>
                        </div>


                        <div class="form-group row mb-3">
                            <table class="table table-sm text-primary table-striped table-bordered border-primary color-table">
                                <thead>
                                  <tr>
                                    <th width="50px" class="text-primary text-center" scope="col">#Id_Paquete</th>
                                    <th width="50px" class="text-primary text-center" scope="col">#Id_Empresa</th>
                                    <th class="text-primary text-center" scope="col">Clave Paquete</th>
                                    <th class="text-primary text-center" scope="col">Paquete</th>
                                    <th width="100px" class="text-primary text-center" scope="col">Precio</th>
                                    <th class="text-primary text-center" scope="col">Empresa</th>
                                    <th width="150px" class="text-primary text-center" scope="col">Fecha de Alta</th>
                                    <th width="150px" class="text-primary text-center" scope="col">Fecha de Modificación</th>
                                    <th class="text-primary text-center" scope="col">Quitar</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let paqEmp of _paquetesEmpresas; let i = index;">
                                    <td class="text-primary text-center" scope="row">{{paqEmp.Id_Paquete}}</td>
                                    <td class="text-primary text-center" scope="row">{{paqEmp.Id_Empresa}}</td>
                                    <td class="text-primary text-center" scope="row">{{paqEmp.ClavePaquete}}</td>
                                    <td class="text-primary text-truncate" data-toggle="tooltip" data-placement="top" title="{{paqEmp.Paquete}}" data-placement="top" title="Tooltip on top" style="max-width: 150px;">{{paqEmp.Paquete}}</td>
                                    <td class="text-primary">{{paqEmp.Precio | currency}}</td>
                                    <td class="text-primary" >{{paqEmp.Empresa}}</td>
                                    <td class="text-primary text-center">{{paqEmp.FechaAlta | date:'yyyy-MM-dd HH:mm'}}</td>
                                    <td class="text-primary text-center">{{paqEmp.FechaModificacion | date:'yyyy-MM-dd HH:mm'}}</td>
                                    <td width="90px" class="p-1">
                                    <div class="col-auto p-0 m-0 text-center">
                                        <button class="btn btn-sm btn-outline-danger br25" (click)="eliminarPaqueteEmpresa(paqEmp);" ><span class="col-md-1 col-md-offset-2 text-center">
                                            <i class="fa fa-trash-can"></i>
                                        </span></button>
                                    </div></td>
                                  </tr>
                                </tbody>
                              </table>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>


<button type="button" style="display: none;" #MyModalPaquete data-bs-toggle="modal" data-bs-target="#gridAgregarPaquete"></button>


<div class="modal fade" id="gridAgregarPaquete" tabindex="-1" aria-labelledby="gridModalLabel" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-xl">
      <div class="modal-content color-modal">
        <div class="modal-header">
          <h5 *ngIf="_empresa" class="modal-title text-primary" id="gridModalLabel">Asignar paquete a empresa</h5>
          <button type="button" class="btn-close bg-color-5" (click)="limpiarFormulario()" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container-fluid bd-example-row">
            <div class="row">
                <div class="col-md-12">

                    <form [formGroup]="formaPaqueteEmpresa">
                        <div class="form-group row mb-3">
                            <div class="col-md-1 text-end">
                                <label class="text-primary text-end">Empresa:</label>
                            </div>
                            <div class="col-md-3">
                                <select class="form-select form-select-md mb-3 text-primary color-text-box"
                                        style="border-radius: 0.8em"
                                        aria-label="Default select example"
                                        formControlName="empresaModal">
                                        <option *ngFor="let empresa of _empresasModal; let i = index" [value]="empresa.Id_Empresa">
                                        {{ empresa.Nombre }}
                                        </option>
                                </select>
                            </div>
                        </div>
                    </form>

                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well well-sm">
                                    <div class="card-group justify-content-center">
                                    <div class="form-group row" *ngFor="let paquete of _paquetes">
                                        <app-tarjetapaquetes class="row px-4 g-3" [_paquete]="paquete" [_origen]="'menuAgregarPlanACliente'" (_sePresionaElegirPaquete)="seleccionarPaqueteCliente(paquete)" ></app-tarjetapaquetes>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" #myModalClose (click)="limpiarFormulario()" class="btn btn-secondary text-light br25" data-bs-dismiss="modal" >Cancelar</button>
          <button type="button" class="btn btn-primary br25" (click)="guardarPaqueteEmpresa();">Agregar</button>
        </div>
      </div>
    </div>
  </div>  