<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal" [formGroup]="formaBusqueda">
                    <fieldset>
                        <legend class="text-center text-primary mb-3"><h1 class="display-4">Sub Tipos de propiedad</h1></legend>

                        <div class="form-group row mb-3">
                            <div class="col-md-10 p-0">
                                <a class="btn btn-primary btn-sm" style="border-radius:25px;" (click)="limpiarFormularioSubTipos()" data-bs-toggle="modal" data-bs-target="#gridAgregarTipoPropiedad" >
                                    <span class="col-md-1 col-md-offset-2 text-center">
                                    <i class="fa fa-add bigicon" aria-hidden="true"></i>
                                </span></a>
                            </div>
                            <div class="col-md-2 p-0 align-items-end">
                                <td class="align-items-end">
                                  <span class="text-primary">Total de registros: <strong>{{_subtiposPropiedad.length}}</strong></span>
                                </td>
                            </div>
                        </div>

                        <div class="form-row row">
                            <div class="col-md-2">
                              <label class="text-primary">Tipo propiedad:</label>
                            </div>
                            <div class="col-md-4">
                              <select
                                class="form-select form-select-lg mb-3 text-primary"
                                style="border-radius: 0.8em"
                                aria-label="Default select example"
                                name="tipopropiedad"
                                formControlName="tipopropiedad"
                                [class.is-invalid]="tipopropiedadNoValido">
                                <option value="" selected disabled>Seleccione...</option>
                                <option *ngFor="let tipopropiedad of _tiposPropiedad; let i = index" [value]="tipopropiedad.Id_TipoPropiedad">{{ tipopropiedad.Descripcion }}
                                </option>
                              </select>
                            </div>
                            <div class="col-md-2 px-0">
                              <small *ngIf="tipopropiedadNoValido" class="text-danger">
                                Seleccione el tipo de propiedad
                              </small>
                            </div>
                            <div class="col-md-2">
                              <button
                                class="btn btn-primary "
                                style="border-radius: 30px;"
                                type="button" (click)="obtenerSubTiposPropiedad()" >
                                <i class="fa fa-magnifying-glass"></i><span class="px-3">Buscar</span>
                              </button>
                            </div>
                        </div>

                        <div class="form-group row mb-3">
                            <table class="table table-primary table-striped table-bordered border-primary">
                                <thead>
                                  <tr>
                                    <th width="50px" class="text-primary text-center" scope="col">#</th>
                                    <!-- <th class="text-primary" scope="col">Id Cliente</th> -->
                                    <th width="50px" class="text-primary text-center" scope="col">Clave</th>
                                    <th width="450px" class="text-primary text-center" scope="col">Descripción</th>
                                    <th width="190px" class="text-primary text-center" scope="col">Fecha de Alta</th>
                                    <th width="190px" class="text-primary text-center" scope="col">Fecha de Modificación</th>
                                    <th class="text-primary text-center" scope="col">Modificar</th>
                                    <th class="text-primary text-center" scope="col">Eliminar</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let subtipoPropiedad of _subtiposPropiedad; let i = index;">
                                    <td class="text-primary text-center" scope="row">{{subtipoPropiedad.Id_SubtipoPropiedad}}</td>
                                    <td class="text-primary">{{subtipoPropiedad.Clave}}</td>
                                    <td class="text-primary">{{subtipoPropiedad.Descripcion}}</td>
                                    <td width="150px" class="text-primary text-center">{{subtipoPropiedad.FechaAlta | date:'yyyy-MM-dd HH:mm'}}</td>
                                    <td width="150px" class="text-primary text-center">{{subtipoPropiedad.FechaModificacion | date:'yyyy-MM-dd HH:mm'}}</td>
                                    <td width="90px" class="p-1">
                                        <div class="col-auto d-grid p-0 m-0" heigth="auto">
                                            <a class="btn btn-primary" heigth="auto" (click)="obtenerSubTipoPropiedad(subtipoPropiedad);" data-bs-toggle="modal" data-bs-target="#gridAgregarTipoPropiedad"><span class="col-md-1 col-md-offset-2 text-center">
                                                <i class="fa fa-pencil"></i>
                                            </span></a>
                                        </div>
                                    </td>
                                    <td width="90px" class="p-1">
                                    <div class="col-auto d-grid p-0 m-0">
                                        <a class="btn btn-primary" heigth="auto" (click)="eliminarSubTipoPropiedad(subtipoPropiedad);" ><span class="col-md-1 col-md-offset-2 text-center">
                                            <i class="fa fa-trash-can"></i>
                                        </span></a>
                                    </div></td>
                                  </tr>
                                </tbody>
                              </table>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="gridAgregarTipoPropiedad" tabindex="-1" aria-labelledby="gridModalLabel" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-primary" id="gridModalLabel">{{_textoAccion}} Subtipo de Propiedad</h5>
          <button type="button" class="btn-close" (click)="limpiarFormularioSubTipos()" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container-fluid bd-example-row">
            <div class="row">
                <div class="col-md-12">
                    <div class="well well-sm">
                        <form class="form-horizontal" [formGroup]="formaSubtipoPropiedad">
                            <fieldset>

                                <div class="form-group row">
                                    <span class="col-md-1 col-md-offset-2 text-primary text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                                    <div class="col-md-5">
                                      <select class="form-select form-select-lg mb-3 text-primary"
                                              style="border-radius: 0.8em"
                                              aria-label="Default select example"
                                              formControlName="tipopropiedadmodal"
                                              [class.is-invalid]="tipopropiedadmodalNoValido" 
                                              placeholder="Estado">
                                              <option value="" selected disabled>Tipo de propiedad...</option>
                                              <option *ngFor="let tipopropiedad of _tiposPropiedadModal; let i = index" [value]="tipopropiedad.Id_TipoPropiedad">
                                                {{ tipopropiedad.Descripcion }}
                                              </option>
                                      </select>
                                    </div>
                                    <div class="col-md-1 px-0">
                                      <small *ngIf="tipopropiedadmodalNoValido" class="text-danger">
                                        *
                                      </small>
                                    </div>
                                  </div>

                              <div class="form-group row mb-3">
                                <span class="col-md-1 col-md-offset-2 text-primary text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                                <div class="col-md-8">
                                    <input formControlName="clave" 
                                           type="text"
                                           [class.is-invalid]="claveNoValido"
                                           placeholder="Clave" 
                                           class="form-control text-primary">
                                </div>
                                <div class="col-md-3 px-0">
                                    <small *ngIf="claveNoValido" class="text-danger">
                                      Clave no valida
                                    </small>
                                </div>
                              </div>

                                <div class="form-group row mb-3">
                                    <span class="col-md-1 col-md-offset-2 text-primary text-center"><i class="fa fa-user bigicon"></i></span>
                                    <div class="col-md-8">
                                        <input formControlName="descripcion" 
                                               type="text" 
                                               placeholder="Descripción" 
                                               [class.is-invalid]="descripcionNoValido" 
                                               class="form-control text-primary">
                                    </div>
                                    <div class="col-md-3 px-0">
                                        <small *ngIf="descripcionNoValido" class="text-danger">
                                          Descripción no valida
                                        </small>
                                    </div>
                                </div>

                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" #myModalClose (click)="limpiarFormularioSubTipos()" class="btn btn-outline-secondary" data-bs-dismiss="modal" >Cancelar</button>
          <button type="button" class="btn btn-outline-primary" (click)="guardarSubTipoPropiedad();">{{_textoAccion}}</button>
        </div>
      </div>
    </div>
  </div>  