<div id="fb-root"></div>

<div *ngIf="(_filtros === '' || _filtros === undefined) && _imagenesCargadas" class="fondoInicio" [style.background-image]="'url('+ _imagenInicio +')'">
  <app-buscador-inicial></app-buscador-inicial>
</div>

<div *ngIf="!_imagenesCargadas || _ejecutandoBusqueda">
  <app-loading [_textoLoading]="'Buscando anuncios...'"></app-loading>
</div>

<div *ngIf="_filtros === '' || _filtros === undefined && _publicacionesLMB.length > 0">
  <br/>
  <br/>
  <div >
    <h1 class="fw400 text-primary text-center mb-5">Recomendados para tí</h1>
    <app-anuncio-inferior [_idControl]="'RPT'" [_publicacionesEspeciales]="_publicacionesRPT"></app-anuncio-inferior>
    <h1 class="fw400 text-primary text-center mb-5">Desarrollos destacados</h1>
    <app-anuncio-inferior [_idControl]="'DD'" [_publicacionesEspeciales]="_publicacionesDD"></app-anuncio-inferior>
    <h1 class="fw400 text-primary text-center mb-5">Bajaron de precio</h1>
    <app-anuncio-inferior [_idControl]="'BP'" [_publicacionesEspeciales]="_publicacionesBP"></app-anuncio-inferior>
  </div>
</div>



<div *ngIf="_publicaciones.length === 0 && _busquedaRealizada">
  
  <div class="text-start br10" style="position:sticky; top:0px; z-index:100;">
    <app-buscador-detallado [_filtrosBarraDireccion]="_filtros" class="br10" ></app-buscador-detallado>
  </div>

  <div style="position:relative;">
    <h2 class="fw400 text-primary text-center py-5">Lo sentimos, no se encontramos propiedades con esas características</h2>
    <h1 class="fw400 text-primary text-center mb-5">Recomendados para tí</h1>
    <app-anuncio-inferior [_idControl]="'RPT'" [_publicacionesEspeciales]="_publicacionesRPT"></app-anuncio-inferior>
    <h1 class="fw400 text-primary text-center mb-5">Los más buscados</h1>
    <app-anuncio-inferior [_idControl]="'LMB'" [_publicacionesEspeciales]="_publicacionesLMB"></app-anuncio-inferior>
  </div>
</div>

<div *ngIf="_filtros != '' && _filtros != undefined && _publicaciones.length > 0" class="text-primary">

  <div class="text-start br10" style="position:sticky; top:0px; z-index:100;">
    <app-buscador-detallado class="br10"></app-buscador-detallado>
  </div>

  <div style="position:relative;">
    <h4 class="fw400 text-primary text-center py-5">Se encontraron un total de {{_paginadoDetalle.TotalRegistros}} anuncios</h4>

    <div class="row py-2 px-5" *ngFor="let pubCliente of _publicaciones" >
        <app-anuncio-vista-buscador [_publicacionCliente]="pubCliente" (_contactarPorWhatsApp)="abrirVentanaContacto(pubCliente, 1)" (_contactarPorMensaje)="abrirVentanaContacto(pubCliente, 2)" (_seAgregaFavorito)="agregarFavorito(pubCliente)"></app-anuncio-vista-buscador>
    </div>

    <div *ngIf="_publicaciones.length > 0" class="d-flex justify-content-center mt-5">
      <nav aria-label="Page navigation py-0 m-0">
        <ul class="pagination">
          <li class="page-item px-2" [ngStyle]="{'pointer-events': _mostrarPaginaAnterior ? 'auto' : 'none', 'visibility': _mostrarPaginaAnterior && _paginadoDetalle.TotalPaginas > _numeroPaginasMostrar ? 'visible' : 'hidden'}">
            <button class="page-link color-text-box" style="border-radius: 30px;" (click)="obtenerPaginaAnterior()" aria-label="Previous">
              <span><i class="fa-solid fa-arrow-left"></i></span>
            </button>
          </li>
          <li *ngFor="let pagina of _paginas" class="page-item mx-2">
            <!-- <button id="btnPaginador" class="page-link color-text-box br25" style="width:40px; height:40px;" [ngStyle]="{'border': pagina.Activa ? '1px solid #bf4080' : '', 'background-color': pagina.Activa ? 'rgba(223, 126, 137, .4)' : ''}" (click)="cambiarPagina(pagina.Pagina)" [disabled]="pagina.Activa">{{pagina.Pagina+1}}</button> -->
            <a id="btnPaginador" class="page-link color-text-box br25" 
               style="width:40px; height:40px;" 
               [ngStyle]="{'border': pagina.Activa ? '1px solid #bf4080' : '', 'background-color': pagina.Activa ? 'rgba(223, 126, 137, .4)' : ''}" 
               [ngClass]="{'disabled': pagina.Activa }" 
               href="{{ _filtrosSinPagina + '-pagina-' + (pagina.Pagina + 1)}}">
               <span style="position:absolute; top:50%; left:50%; transform:translate(-50%, -50%)">{{pagina.Pagina+1}}</span>
              </a>
          </li>
          <li class="page-item px-2" [ngStyle]="{'pointer-events': _mostrarPaginaAnterior ? 'auto' : 'none', 'visibility': _mostrarPaginaSiguiente && _paginadoDetalle.TotalPaginas > _numeroPaginasMostrar ? 'visible' : 'hidden'}">
            <button class="page-link color-text-box" style="border-radius: 30px;" (click)="obtenerPaginaSiguiente()" aria-label="Next">
              <span><i class="fa-solid fa-arrow-right"></i></span>
            </button>
          </li>
        </ul>
      </nav>
    </div>

    <h1 class="fw400 text-primary text-center my-5">Recomendados para tí</h1>
    <app-anuncio-inferior [_idControl]="'RPT'" [_publicacionesEspeciales]="_publicacionesLMB"></app-anuncio-inferior>
    <h1 class="fw400 text-primary text-center mb-5">Desarrollos destacados</h1>
    <app-anuncio-inferior [_idControl]="'DD'" [_publicacionesEspeciales]="_publicacionesDD"></app-anuncio-inferior>
  </div>
</div>

<button type="button" style="visibility: hidden;" #myModalIniciarSesion data-bs-toggle="modal" data-bs-target="#modalLogin" ></button>
<button type="button" style="visibility: hidden;" #myModalDatosUsuario data-bs-toggle="modal" data-bs-target="#modalDatosUsuarios" ></button>


<div class="modal fade" id="modalLogin" tabindex="-1" aria-labelledby="gridModalLabel" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content color-modal">
      <div class="modal-header">
        <h5 class="modal-title text-primary" id="gridModalLabel">Iniciar sesión</h5>
        <button type="button" class="btn-close bg-color-5" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body py-2 px-0">
        <div class="container">
          <form [formGroup]="formIniciarsesion" autocomplete="on" onsubmit="iniciarSesion()">
              <fieldset>

                <div class="form-group row py-3">
                  <label class="col-md-4 col-form-label text-primary text-end">Correo electrónico</label>
                  <div class="col-md-6 col-10 p-0">
                    <input autocomplete="on"
                           class="form-control text-primary color-text-box"
                           type="email"
                           email
                           placeholder="Correo electrónico"
                           formControlName="correo"
                           [class.is-invalid]="correoNoValido"/>
                  </div>
                  <div class="col-md-2 col-form-label">
                    <small *ngIf="correoNoValido" class="text-danger">
                      *
                    </small>
                  </div>
                </div>
              
                <div class="form-group row py-3">
                  <label class="col-md-4 col-form-label text-primary text-end">Contraseña</label>
                  <div class="col-md-6 col-10 p-0">
                    <input [type]="obtenerTipo"
                           autocomplete="off"
                           class="form-control text-primary color-text-box"
                           placeholder="Contraseña"
                           formControlName="password1"
                           [class.is-invalid]="password1NoValido"/>
                  </div>
                  <div class="col-auto px-0">
                    <button type="button" tabindex="-1" class="btn btn-primary px-1" (click)="cambiarTipo()"><span class="col-md-1 col-md-offset-2 text-center">
                      <div *ngIf="obtenerTipo=='text'">
                        <i class="fa fa-eye"></i>
                      </div>
                      <div *ngIf="obtenerTipo=='password'">
                        <i class="fa fa-eye-slash"></i>
                      </div>
                    </span></button>
                  </div>
                  <div class="col-md-1 col-form-label">
                    <small *ngIf="password1NoValido" class="text-danger">
                      *
                    </small>
                  </div>
                </div>
                
              </fieldset>
            </form>


            <div class="form-group row py-3">
              <div class="col-md-3"></div>
              <div class="col-md-5">
                  <div id="g_id_onload"
                      data-client_id="871188979190-53oa9ctrooeiv32eslaocarmn1rnif8a.apps.googleusercontent.com"
                      data-context="signin"
                      data-ux_mode="popup"
                      [attr.data-login_uri]="_direccionPagina"
                      data-auto_prompt="false">
                  </div>
      
                  <div *ngIf="!_modoObscuro">
                      <div class="g_id_signin"
                          data-type="standard"
                          data-shape="pill"
                          data-theme="outline"
                          data-text="$ {button.text}"
                          data-size="large"
                          data-logo_alignment="left">
                      </div>
                  </div>
      
                  <div *ngIf="_modoObscuro">
                      <div class="g_id_signin"
                          data-type="standard"
                          data-shape="pill"
                          data-theme="filled_blue"
                          data-text="$ {button.text}"
                          data-size="large"
                          data-logo_alignment="left">
                      </div> 
                  </div>

              </div>
              <div class="col-md-4"></div>
          </div>

          <div class="form-group row py-3 text-center">
              <div class="col-md-3"></div>
              <div class="col-md-6">
                  <button type="submit" style="background-color:#1877f2; border: none;"
                          (click)="iniciarSesionFacebook()"
                          tabindex="-1"
                          class="btn btn-primary btn-md br25">
                          <span><i class="fa-brands fa-facebook"></i>&nbsp;&nbsp;&nbsp;Iniciar con Facebook&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                  </button>
              </div>
              <div class="col-md-3"></div>
          </div>

    
        <div class="text-center p-3">
          <a class="text-danger" href="/login">¿No tienes cuenta? Registrate aqui.</a>
        </div>
        <div class="text-center p-3">
          <a class="text-success" href="/recuperarpassword">¿Olvidaste tu contraseña? / Recuperar contraseña</a>
        </div>


        </div>
      </div>
      <div class="modal-footer">
        <button type="button" #myModalCloseLogin class="btn btn-secondary text-light br25" data-bs-dismiss="modal" >Cancelar</button>
        <button type="submit" class="btn btn-primary br25" (click)="iniciarSesion()">Iniciar sesión</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="modalDatosUsuarios" tabindex="-1" aria-labelledby="gridModalLabel" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content color-modal">
      <div class="modal-header">
        <h5 class="modal-title text-primary" id="gridModalLabel">Información requerida</h5>
        <button type="button" class="btn-close bg-color-5" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body py-2 px-0">
        <div class="container">
          <form [formGroup]="formaMensajeVendedor" autocomplete="off" class="br15 bg-color-rt px-3 py-1">
              <div class="row mb-2 br25" >

                  <label for="nombreContacto"
                         class="col-sm-3 col-form-label text-primary text-end">Nombre</label>
                  <div class="col-sm-8 px-0">
                      <input  type="text" autocomplete="off"
                              class="form-control text-primary color-text-box"
                              placeholder="Nombre"
                              [class.is-invalid]="nombreDUNoValido"
                              formControlName="nombreDU"
                              id="nombreUsuario">
                  </div>
                  <div class="col-md-1 px-0 text-center">
                      <small *ngIf="nombreDUNoValido" class="text-danger">
                          *
                      </small>
                  </div>
              </div>

              <div class="row mb-2 br25">
                  <label for="telefonoContacto"
                         class="col-sm-3 col-form-label text-primary text-end">Teléfono</label>
                  <div class="col-sm-8 px-0">
                      <input  type="number"
                              class="form-control text-primary color-text-box"
                              placeholder="Teléfono"
                              formControlName="telefonoDU"
                              [class.is-invalid]="telefonoDUNoValido"
                              id="telefonoUsuario">
                  </div>
                  <div class="col-md-1 px-0 text-center">
                      <small *ngIf="telefonoDUNoValido" class="text-danger">
                          *
                      </small>
                  </div>
              </div>

              <div class="row mb-2 br25">
                  <label for="emailContacto"
                         class="col-sm-3 col-form-label text-primary text-end">Email</label>
                  <div class="col-sm-8 px-0">
                      <input  type="text"
                              class="form-control text-primary color-text-box"
                              placeholder="email"
                              [attr.disabled]="_usuarioAutenticado ? 'disabled' : null"
                              [ngStyle]="{'background-color': _usuarioAutenticado ? 'rgba(223, 126, 137, 0.15)' : ''}"
                              formControlName="emailDU"
                              [class.is-invalid]="emailDUNoValido"
                              id="emailUsuario">
                  </div>
                  <div class="col-md-1 px-0 text-center">
                      <small *ngIf="emailDUNoValido" class="text-danger">
                          *
                      </small>
                  </div>
              </div>

              <div class="row mb-2 br25" >
                <label for="mensajeUsuario"
                       class="col-sm-3 col-form-label text-primary text-end">Mensaje</label>
                <div class="col-sm-8 px-0">
                    <textarea  type="text" 
                               autocomplete="off"
                               class="form-control text-primary color-text-box"
                               placeholder="Mensaje"
                               [class.is-invalid]="mensajeDUNoValido"
                               formControlName="mensajeDU"
                               id="mensajeUsuario"></textarea>
                </div>
                <div class="col-md-1 px-0 text-center">
                    <small *ngIf="mensajeDUNoValido" class="text-danger">
                        *
                    </small>
                </div>
            </div>

              <div class="row mb-2 br25 text-center">
                  <div class="col-md-12 text-center d-grid">
                      <span *ngIf="_tipoContactoVendedor === 1" class="text-primary" style="font-size: 10px;">Al hacer clic en <strong>Contactar por WhatsApp</strong> aceptas nuestros <a href="/legal/terminosycondicionesdeuso" target="_blank">Terminos, condiciones y politicas de privacidad.</a></span>
                      <span *ngIf="_tipoContactoVendedor === 2" class="text-primary" style="font-size: 10px;">Al hacer clic en <strong>Enviar mensaje</strong> aceptas nuestros <a href="/legal/terminosycondicionesdeuso" target="_blank">Terminos, condiciones y politicas de privacidad.</a></span>
                  </div>
              </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" #myModalCloseDatosUsuario class="btn btn-secondary text-light br25" data-bs-dismiss="modal" >Cancelar</button>
        <button type="button" class="btn btn-primary br25" (click)="contactarVendedor()">
            <span *ngIf="_tipoContactoVendedor === 1">Contactar por WhatsApp</span>
            <span *ngIf="_tipoContactoVendedor === 2">Enviar mensaje</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalUbicacion" tabindex="-1" aria-labelledby="gridModalLabel" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-lg">
      <div class="modal-content color-modal">
      <div class="modal-header">
          <h5 class="modal-title text-primary" id="gridModalLabel">Seleccione la ubicación</h5>
          <button type="button" class="btn-close bg-color-5" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="formaUbicacion" autocomplete="off">
        <fieldset>
          <div class="modal-body py-2 px-0">
              <div class="container">
                  <div class="row mb-2 br25" >

                    <div class="row">

                      <div class="col">
                        <div class="col-md-12 text-center">
                          <label class="text-primary">Estado:</label>
                        </div>
                        <div class="col-md-12">
                          <input class="form-control text-primary color-text-box br10"
                                  aria-label="Default select example"
                                  name="estado"
                                  [readonly]="true"
                                  formControlName="estado" />
                        </div>
                        <div *ngIf="!_cargandoEstados" class="col-md-12 p-1 overflow-auto" style="height: 20rem;">
                            <div *ngFor="let estado of _estados; let i = index">
                              <p (click)="obtenerMunicipios(estado)" class="text-primary my-1" style="cursor: pointer; font-weight: 400;">{{estado.Nombre}}</p>
                            </div>
                        </div>
                        <div *ngIf="_cargandoEstados" class="col-md-12">
                            <app-loading [_textoLoading]="'Espere por favor...'"></app-loading>
                        </div>
                      </div>
  
                      <div class="col">
                        <div class="col-md-12 text-center">
                          <label class="text-primary">Municipio o ciudad:</label>
                        </div>
                        <div class="col-md-12">
                          <input class="form-control text-primary color-text-box br10"
                                  aria-label="Default select example"
                                  name="municipio"
                                  [readonly]="true"
                                  formControlName="municipio" />
                        </div>
                        <div *ngIf="!_cargandoMunicipios" class="col-md-12 p-1 overflow-auto" style="height: 20rem;">
                            <div *ngFor="let municipio of _municipios; let i = index">
                              <p (click)="obtenerAsentamientos(municipio)" 
                                  class="text-primary my-1" 
                                  style="cursor: pointer; font-weight: 400;">{{municipio.Municipio}}</p>
                            </div>
                        </div>
                        <div *ngIf="_cargandoMunicipios" class="col-md-12">
                          <app-loading [_textoLoading]="'Espere por favor...'"></app-loading>
                        </div>
                      </div>
  
                      <div class="col">
                        <div class="col-md-12 text-center">
                          <label class="text-primary">Colonia o sentamiento:</label>
                        </div>
                        <div class="col-md-12">
                          <input  class="form-control text-primary color-text-box br10"
                                  aria-label="Default select example"
                                  name="asentamiento"
                                  type="text" 
                                  [readonly]="true"
                                  formControlName="asentamiento" />
                        </div>
                        <div *ngIf="!_cargandoAsentamientos" class="col-md-12 p-1 overflow-auto" style="height: 20rem;">
                            <div *ngFor="let asentamiento of _asentamientos; let i = index">
                              <div class="form-check">
                                <input class="form-check-input" 
                                       type="checkbox" 
                                       value="" 
                                       id="checkAsentamiento{{i}}" 
                                       (click)="seleccionarAsentamiento(asentamiento)" 
                                       [checked]="asentamiento.Seleccionado">
                                <label class="text-primary form-check-label" for="checkAsentamiento{{i}}">
                                  {{asentamiento.Asentamiento}}
                                </label>
                              </div>
                            </div>
                        </div>
                        <div *ngIf="_cargandoAsentamientos" class="col-md-12">
                          <app-loading [_textoLoading]="'Espere por favor...'"></app-loading>
                        </div>
                      </div>

                    </div>

                    <div class="row">
                      <p class="text-primary mt-3">Buscar: {{this._cadenaBusqueda}}</p>
                    </div>

                  </div>
              </div>
          </div>
        </fieldset>
      </form>
          <div class="modal-footer">
              <button type="button" #myModalCloseUbicacion class="btn btn-secondary text-light br25" data-bs-dismiss="modal" >Salir</button>
              <button type="button" class="btn btn-primary text-light br25" (click)="limpiarBusqueda()">Limpiar</button>
              <button type="button" class="btn btn-primary br25" (click)="ejecutarConsulta()">Buscar</button>
          </div>
      </div>
  </div>
</div>