<p>buscar works! {{ TipoPropiedad }}</p>

<div class="container">
  <form action="">
    <!--Grid row-->
    <div class="row">
      <div class="row col-md-9 d-flex justify-content-left" style="padding:0px 0px 10px 10px;">
        <div
          class="btn-group"
          role="group"
          aria-label="Basic radio toggle button group">
          <input style="border-radius: 30px solid !important;"
                 type="radio"
                 class="btn-check"
                 name="btnradio"
                 id="btnradio1"
                 autocomplete="off"
                 checked/>
          <label class="btn btn-primary" for="btnradio1">Rentar</label>

          <input type="radio"
                 class="btn-check"
                 name="btnradio"
                 id="btnradio2"
                 autocomplete="off"/>
          <label class="btn btn-primary" for="btnradio2">Comprar</label>

          <input type="radio"
                 class="btn-check"
                 name="btnradio"
                 id="btnradio3"
                 autocomplete="off"/>
          <label class="btn btn-primary" for="btnradio3">Desarrollos</label>
        </div>
      </div>
      <div class="row">
        <!--Grid column-->
        <div class="col-md-3 col-12">
          <!-- Email input -->
          <div class="form-floating form-white mb-4">
            
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  [Seleccione tipo de inmueble]
                </button>
                <ul class="dropdown-menu custom-select" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Departamento</a></li>
                  <li><a class="dropdown-item" href="#">Casa</a></li>
                  <li><a class="dropdown-item" href="#">Remate Bancario</a></li>
                  <li><a class="dropdown-item" href="#">Terreno</a></li>
                </ul>
              </div>

          </div>
        </div>
        <div class="col-md-6 col-12">
          <!-- Email input -->
          <div class="form-floating form-white mb-4">
            <input type="text" 
                   id="ubicacionInmueble" 
                   aria-describedby="addon-wrapping" 
                   class="form-control color-text-box" 
                   pattern="[a-z,A-Z,' ',0-9]{1,8}" placeholder="."/>
            <label for="ubicacionInmueble" style="color:gray;">Ingrese la ubicación del inmueble</label>
          </div>
        </div>

        <!--Grid column-->
        <div class="col-md-3 col-12">
          <!-- Submit button -->
          
          <button
            type="button"
            (click)="buscarPropiedades()"
            class="form-control btn-primary text-white" style="border-radius: 15px;"
          >
          <i class="fa-solid fa-magnifying-glass"></i>
            <span>    Buscar</span>
          </button>
        </div>
        <!--Grid column-->
      </div>
    </div>
    <!--Grid row-->
  </form>
  <app-slideprincipal></app-slideprincipal>
</div>
<!-- Section: Form -->