<div class="container animate__animated" [ngClass]="{' animate__zoomIn': _numeroPaso === 1, ' animate__zoomOut': _numeroPaso === 2}">
  <form>
    <fieldset>
      <legend class="text-center text-primary mb-3 "><h1 class="display-4">Fotos y videos</h1></legend>
      <div class="container border-primary" style="border-radius: 20px 20px 0 0px; background: rgba(223, 126, 137, 0.15);">
        <div class="form-row row py-3">
          <div class="form-floating mb-3 px-3">
            <input
              type="email"
              class="form-control"
              id="correoElectronico"
              placeholder="name@example.com"/>
            <label for="correoElectronico" class="px-4" style="color: gray;">Correo electrónico</label>
          </div>

          <div class="form-floating">
            <input
              type="password"
              class="form-control"
              id="contrasena"
              placeholder="Password"/>
            <label for="contrasena" class="px-4" style="color: gray;">Contraseña</label>
          </div>

          <div class="form-check px-5 mt-3">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" />
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
        </div>
      </div>
      
      <div class="container" >
        <div class="row px-0" >
          <div class="col-md-2 d-grid py-3" style="border-width:0px 1px 5px 1px; border-style: solid; border-color: rgba(223, 126, 137, 0.8); border-radius: 0 0 20px 20px; background: rgba(223, 126, 137, 0.15);">
            <button type="button" style="border-radius: 0.8em;" (click)="regresar()" class="btn btn-primary btn-lg align-items-right">Atras</button>
          </div>
          <div class="col-md-4"></div>
            <div class="col-md-3 d-grid py-3" style="border-width:0px 0px 5px 1px; border-style: solid; border-color: rgba(223, 126, 137, 0.8); border-radius: 0 0 0 20px; background: rgba(223, 126, 137, 0.15);">
                <button type="button" style="border-radius: 0.8em;" (click)="guardarFotosyVideos()" class="btn btn-primary btn-lg align-items-right">Guardar</button>
            </div>
            <div class="col-md-3 d-grid py-3" style="border-width:0px 1px 5px 0px; border-style: solid; border-color: rgba(223, 126, 137, 0.8); border-radius: 0 0 20px 0; background: rgba(223, 126, 137, 0.15);">
                <button type="button" style="border-radius: 0.8em;" (click)="guardarFotosyVideos()" class="btn btn-primary btn-lg align-items-right">Guardar y Continuar</button>
            </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>