<div class="container animate__animated" [ngClass]="{' animate__zoomIn': _numeroPaso === 1, ' animate__zoomOut': _numeroPaso === 2}">
  <form [formGroup]="formaFotosyVideos">
    <fieldset>

      <div class="container" >
        <div class="row px-0" >
            <div class="col-md-10" >
              <legend class="text-center text-primary mb-3 "><h1 class="display-4">Fotos y videos</h1></legend>
            </div>
            <div class="col-md-2 d-grid py-3" style="border-width:1px 1px 0px 1px; border-style: solid; border-color: rgba(223, 126, 137, 0.8); border-radius: 20px 20px 0px 0px; background: rgba(223, 126, 137, 0.15);">
                <button type="button" style="border-radius: 0.8em;" (click)="pantallaSiguiente()" class="btn btn-primary btn-lg align-items-right">Siguiente</button>
            </div>
        </div>
      </div>

      <div class="container" style="border-width:0px 1px 0px 0px; border-style: solid; border-radius: 20px 0px 0px 0px; border-color: rgba(223, 126, 137, 0.8); background: rgba(223, 126, 137, 0.15);">

        <div class="row p-5">
          <label for="formFileMultiple" class="form-label">Seleccione las fotos de su propiedad</label>
          <input type="file" 
                 class="form-control" 
                 accept="image/jpg,image/png,image/jpeg,image/gif" 
                 id="fileElem" 
                 formControlName="fotosPropiedad"
                 (change)="obtenerArchivos($event)"
                 multiple >
        </div>

        <!-- <img *ngFor="let foto of _listaFotos;let i = index;" src="{{foto}}"> -->
        <div class="form-group row">
          <legend class="text-center text-primary mt-2 mb-5"><h3>Características Generales</h3></legend>
        
          <div class="form-group py-0 mb-5 px-5">
            <div formArrayName="fotosPropiedad">
              <div class="row row-cols-3 row-cols-lg-4">
                <div class="form-group col" [formGroupName]="i" *ngFor="let control of imagenes.controls; let i = index;">
                    <div class="col-md-auto">
                      <div class="col p-0 m-0">
                        <img class="form-control " alt="Girl" width="100" height="auto" [src]="obtenerInfo(control)">
                      </div>
                      <div class="col">
                          <input class="form-control" type="text" formControlName="Descripcion">
                      </div>
                    </div>
                </div>
            </div>
            </div>
          </div>
        </div>

        
        
      </div>
      
      <div class="container" >
        <div class="row px-0" >
          <div class="col-md-2 d-grid py-3" style="border-width:0px 1px 5px 1px; border-style: solid; border-color: rgba(223, 126, 137, 0.8); border-radius: 0 0 20px 20px; background: rgba(223, 126, 137, 0.15);">
            <button type="button" style="border-radius: 0.8em;" (click)="regresar()" class="btn btn-primary btn-lg align-items-right">Atras</button>
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-3 d-grid py-3">
              <!-- <button type="button" style="border-radius: 0.8em;" (click)="guardarFotosyVideos()" class="btn btn-primary btn-lg align-items-right">Guardar</button> -->
          </div>
          <div class="col-md-3 d-grid py-3" style="border-width:0px 1px 5px 1px; border-style: solid; border-color: rgba(223, 126, 137, 0.8); border-radius: 0px 0px 20px 20px; background: rgba(223, 126, 137, 0.15);">
              <button type="button" style="border-radius: 0.8em;" (click)="guardarFotosyVideos()" class="btn btn-primary btn-lg align-items-right">Guardar y Continuar</button>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>