<div class="">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                  <legend class="text-center text-primary mb-3"><h1 class="display-4" style="text-shadow: 3px 3px 7px black;">Mis planes y paquetes</h1></legend>

                  <div class="form-group row mb-3 px-2">
                    <div class="col-md-1 px-0">
                        <a class="btn btn-primary btn-sm br25" data-bs-toggle="modal" data-bs-target="#gridAgregarPlanCliente" >
                            <span class="col-md-1 col-md-offset-2 text-center">
                            <i class="fa fa-add bigicon" aria-hidden="true"> </i>
                        </span></a>
                    </div>
                    <div class="col-md-7 px-0"></div>
                    <div class="col-md-4 p-0 text-end">
                      <label class="text-primary text-end px-3">Total de planes: {{_planesCliente.length}} - Paquetes: {{_paquetesCliente.length}}</label>
                      <button class="btn btn-primary btn-sm br25" (click)="mostrarFiltros()">
                          <span class="col-md-1 text-center">
                            <i [ngClass]="{' fa-regular fa-eye': _mostrarFiltros, ' fa-solid fa-eye-slash': !_mostrarFiltros}" ></i>
                          </span>
                      </button>
                    </div>
                  </div>

                  <div class="row">

                    <div [ngClass]="{' col-md-9': _mostrarFiltros, ' col-md-12': !_mostrarFiltros}">
                      <div class="card-group justify-content-center">
                        <div class="form-group row mb-3" *ngFor="let planCliente of _planesCliente">
                          <app-tarjetaplanescliente class="row px-4 g-2" [_planCliente]="planCliente" [_tipoTarjeta]="'MisPlanes'" [_enviando]="planCliente.Enviando" (_enviarInfoPagoPlan)="enviarCorreoPlan(planCliente)" (_eliminarPlanCliente)="eliminarPlanCliente(planCliente)"></app-tarjetaplanescliente>
                        </div>
                      </div>
            
                      <div class="card-group justify-content-center">
                        <div class="form-group row mb-3" *ngFor="let paqueteEmpresa of _paquetesCliente">
                          <app-tarjetapaquetescliente class="row px-4 g-2" [_paqueteCliente]="paqueteEmpresa" [_tipoTarjeta]="'MisPlanes'" (_enviarInfoPagoPaquete)="enviarCorreoPaquete(paqueteEmpresa)" (_eliminarPaqueteCliente)="eliminarPaqueteCliente(paqueteEmpresa)"></app-tarjetapaquetescliente>
                        </div>
                      </div>
                    </div>

                    <div [ngClass]="{' col-md-3': _mostrarFiltros, ' col-md-0': !_mostrarFiltros}" [ngStyle]="{'display': !_mostrarFiltros ? 'none' : 'inline' }" >
                      <div class="sticky-md-top text-primary br15" style="top:70px; left:10px; border: 1px solid">
                        <div class="row px-3" >
                            <div class="row">
                              <div class="col-md-8">
                                <h3 class="text-primary text-center">Filtros</h3>
                              </div>
                              <div class="col-md-2 py-1">
                                <button class="btn btn-outline-primary btn-sm br25" type="button" (click)="colapsarFiltros()" style="border: 0px;">
                                  <span class="col-md-1 text-center">
                                    <i *ngIf="!_collapseFiltros" class="fa-solid fa-arrow-down"></i>
                                    <i *ngIf="_collapseFiltros" class="fa-solid fa-arrow-up"></i>
                                  </span>
                                </button>
                              </div>
                              <div class="col-md-2 py-1">
                                <button class="btn btn-outline-primary btn-sm br25" type="button" (click)="eliminarFiltros()" style="border: 0px;">
                                  <span class="col-md-1 text-center">
                                    <i class="fa-solid fa-eraser"></i>
                                  </span>
                                </button>
                              </div>
                            </div>
                            
              
                            <div *ngFor="let filtroEstatus of _filtrosSeleccionados.lstEstatus">
                              <span class="badge text-primary">
                                {{filtroEstatus.Descripcion}}
                                <button type="button" class="btn btn-primary p-0 m-0 br25" (click)="removerFiltroEstatus(filtroEstatus)" style="width:20px; height:20px; line-height: 0 !important;">
                                  <i class="fa fa-xmark" style="font-size: 10px;" ></i>
                                </button>
                              </span>
                            </div>
              
                            <div *ngFor="let filtroTP of _filtrosSeleccionados.lstTiposPlanes">
                              <span class="badge text-primary">
                                {{filtroTP.Descripcion}}
                                <button type="button" class="btn btn-primary p-0 m-0 br25" (click)="removerFiltroTipoPlan(filtroTP)" style="width:20px; height:20px; line-height: 0 !important;">
                                  <i class="fa fa-xmark" style="font-size: 10px;" ></i>
                                </button>
                              </span>
                            </div>
              
                            <div *ngFor="let filtroTA of _filtrosSeleccionados.lstTiposAnuncios">
                              <span class="badge text-primary">
                                {{filtroTA.Descripcion}}
                                <button type="button" class="btn btn-primary p-0 m-0 br25" (click)="removerFiltroTipoAnuncio(filtroTA)" style="width:20px; height:20px; line-height: 0 !important;">
                                  <i class="fa fa-xmark" style="font-size: 10px;" ></i>
                                </button>
                              </span>
                            </div>
              
                            <div class="accordion mb-2 p-1" id="accordionPanelsStayOpenExample">
                              <div class="accordion-item color-modal" [ngStyle]="{'display': !_verFiltros.Estatus ? 'none' : '' }">
                                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                  <button #myColapseFiltro1 class="accordion-button p-2 text-primary color-collapse collapsed" type="button" (click)="colapseEstatus()" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                                    Estatus planes y paquetes
                                  </button>
                                </h2>
                                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
                                  <div class="accordion-body p-2">
                                    <div *ngFor="let item of _planesPaquetesFiltros.lstEstatus">
                                      <span class="badge text-primary" (click)="seleccionarFiltroEstatus(item)" style="cursor: pointer" >
                                          {{item.Descripcion}} ({{item.Cantidad}})
                                      </span>
                                    </div>
                                  </div>
                                </div>
                              </div>
              
                              <div class="accordion-item color-modal" [ngStyle]="{'display': !_verFiltros.TipoPlan ? 'none' : '' }">
                                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                  <button #myColapseFiltro2 class="accordion-button p-2 text-primary color-collapse collapsed" type="button" (click)="colapseTipoPlan()" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                    Tipo de plan
                                  </button>
                                </h2>
                                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                                  <div class="accordion-body p-2">
                                    <div *ngFor="let item of _planesPaquetesFiltros.lstTiposPlanes">
                                      <span class="badge text-primary" (click)="seleccionarFiltroTipoPlan(item)" style="cursor: pointer" >
                                          {{item.Descripcion}} ({{item.Cantidad}})
                                      </span>
                                  </div>
                                  </div>
                                </div>
                              </div>
              
                              <div class="accordion-item color-modal" [ngStyle]="{'display': !_verFiltros.TipoAnuncio ? 'none' : '' }">
                                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                                  <button #myColapseFiltro3 class="accordion-button p-2 text-primary color-collapse collapsed" type="button" (click)="colapseTipoAnuncio()" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                    Plan ó Paquete
                                  </button>
                                </h2>
                                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                                  <div class="accordion-body p-2">
                                    <div *ngFor="let item of _planesPaquetesFiltros.lstTiposAnuncios">
                                      <span class="badge text-primary" (click)="seleccionarFiltroTipoAnuncio(item)" style="cursor: pointer" >
                                          {{item.Descripcion}} ({{item.Cantidad}})
                                      </span>
                                  </div>
                                  </div>
                                </div>
                              </div>
              
                            </div>
              
              
                        </div>
                      </div>
                    </div>

                  </div>
                  
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="gridAgregarPlanCliente" tabindex="-1" aria-labelledby="gridModalLabel" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-xl">
    <div class="modal-content color-modal br15">
      <div class="modal-header">
        <h5 *ngIf="!_planesOPaquetes" class="modal-title text-primary" id="gridModalLabel">Comprar Plan</h5>
        <h5 *ngIf="_planesOPaquetes" class="modal-title text-primary" id="gridModalLabel">Comprar Paquete</h5>
        <button type="button" class="btn-close bg-color-5" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body py-2 px-0">
        <div class="container">

          <div class="row">
            <div class="col-md-1"></div>
            <div class="col d-grid">
              <input type="radio" class="btn-check" name="options-outlined" id="planActual" autocomplete="off" [checked]="!_planesOPaquetes" (change)="cambiarPlanPaquete(0)">
              <label class="btn btn-outline-primary br25" for="planActual">Planes</label>
            </div>
            <div class="col-md-1"></div>
            <div class="col d-grid">
              <input type="radio" class="btn-check" name="options-outlined" id="planNuevo" autocomplete="off" [checked]="_planesOPaquetes" (change)="cambiarPlanPaquete(1)">
              <label class="btn btn-outline-primary br25" for="planNuevo">Paquetes</label>
            </div>
            <div class="col-md-1"></div>
          </div>
          
          <div class="row">

              <div *ngIf="!_planesOPaquetes" class="card-group justify-content-center">
                <div class="form-group row" *ngFor="let plan of _planes">
                  <app-tarjetaplanes class="row px-4 g-3" [_plan]="plan" [_origen]="'misPlanes'" (_sePresionaComprar)="comprarPlan(plan)"></app-tarjetaplanes>
                </div>
              </div>

              <div *ngIf="_planesOPaquetes" class="card-group justify-content-center">
                <div class="form-group row" *ngFor="let paquete of _paquetesEmpresa">
                  <app-tarjetapaquetes class="row px-4 g-3" [_paquete]="paquete" [_origen]="'misPlanes'" (_sePresionaComprar)="comprarPaquete(paquete)"></app-tarjetapaquetes>
                </div>
              </div>

          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" #myModalClose class="btn btn-secondary text-light br25" data-bs-dismiss="modal" >Cerrar</button>
        <!-- <button type="button" class="btn btn-primary" (click)="guardarPlanCliente();">Pagar</button> -->
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="gridAgregarFactura" tabindex="-1" aria-labelledby="gridModalLabel" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content color-modal br15">
      <div class="modal-header">
        <h5 class="modal-title text-primary" id="gridModalLabel">Facturación</h5>
        <button type="button" class="btn-close bg-color-5" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div *ngIf="_datosFiscales.length === 0" class="modal-body py-2 px-0">
        <div class="container">
          <div class="row">

              <div class="card-group justify-content-center">
                <div class="form-group row">
                  <legend class="text-center text-primary mb-3">
                    <h1 class="display-4 mb-4">No cuentas con información fiscal para poder facturar la compra.</h1>
                    <h1>Puedes continuar sin facturar o puedes darde alta tus datos fiscales <a href="/micuenta/datosfiscales">aqui</a></h1>
                  </legend>
                </div>
              </div>

          </div>
        </div>
      </div>

      <div class="modal-body py-2 px-0">
        <div class="container">
          <div class="row">

              <div class="card-group justify-content-center">
                <div class="form-group row" *ngFor="let datoFiscal of _datosFiscales">
                  <app-tarjetadatofiscal  class="row px-4 g-2" (_seSeleccionaDatoFiscal)="seleccionarDatosFiscales(datoFiscal)" [_datoFiscal]="datoFiscal" [_origen]="'PagarYActivar'" ></app-tarjetadatofiscal>
                </div>
              </div>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" #myModalCloseFacturas class="btn btn-secondary text-light br25" data-bs-dismiss="modal" >Cancelar</button>
        <button type="button" class="btn btn-primary br25" (click)="guardarPlanPaquete(0)">Continuar sin Facturar</button>
        <button type="button" class="btn btn-primary br25" (click)="guardarPlanPaquete(1)" [disabled]="_datosFiscales.length === 0">Continuar y Facturar</button>
      </div>
    </div>
  </div>
</div>