<div class="row">
    <div class="col-md-4 p-1 border" style="border-radius: 15px 0px 0px 15px;">
      <img src="https://i.ibb.co/3RgNhSM/Credencial-De-Elector.jpg" alt="" width="290px;" height="auto" style="border-radius: 15px 0px 0px 15px;">
    </div>
    <div class="col-md-8 p-1 border" style="border-radius: 0px 15px 15px 0px;">
      <div class="row">
        <h2>{{_publicacion.TituloPublicacion}}</h2>
        <!-- <h2>{{_publicacion.Descripcion}}</h2> -->
            <h4>{{_publicacion.Direccion}}</h4>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-1"><span>MN</span></div>
                        <div class="col-auto"><h4>$ {{_publicacion.PrecioDesde | number : '1.0'}}</h4></div>
                    </div>
                </div>
                <div class="col-md-auto">
                    <label>+ Mantemiento:</label>
                    <h6>{{_publicacion.CuotaMantenimiento | currency}}</h6>
                </div>
            </div>

						<div class="row">
							<div class="col">
									<div class="row">
											<div class="col text-center" >
												<button type="button" class="btn btn-primary" (click)="editarPagina()" style="width:100px;">Editar</button>
											</div>
									</div>
							</div>
							<div class="col">
								<div class="row">
									<div class="col text-center">
										<button type="button" class="btn btn-primary" style="width:100px;">Eliminar</button>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="row">
									<div class="col text-center">
										<button type="button" class="btn btn-primary" style="width:100px;">Activar</button>
									</div>
								</div>
							</div>
					</div>

        <!-- <div class="row">
            <div class="col">
                <div><label class="text-secondary">Terreno:</label></div>
                <div><label class="text-primary">{{_publicacion.SuperficieTerreno}} m2</label></div>
            </div>
            <div class="col">
                <div><span class="text-secondary">Recamaras:</span></div>
                <div><label class="text-primary">{{_publicacion.RecamarasDesde}}</label></div>
            </div>
            <div class="col">
                <div><label class="text-secondary">Baños:</label></div>
                <div><label class="text-primary">{{_publicacion.BaniosCompDesde}}</label></div>
            </div>
            <div class="col">
                <div><span class="text-secondary">Estacionamiento:</span></div>
                <div><label class="text-primary">{{_publicacion.EstacionamientosDesde}}</label></div>
            </div>
        </div> -->
      </div>
    </div>
</div>