<div id="tarjeta" class="row br15" style="box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.5);">
    <div class="col-md-3 p-0 border" style="border-radius: 15px 0px 0px 15px;">

        <div class="carousel-item active text-center br15">
            <div *ngIf="_publicacion.Estatus !== 'Borrador'" class="justify-content-center br15" (click)="verPublicacionCliente()" style="cursor:pointer !important;">
                <img *ngIf="_publicacion.Url != null" [src]="_publicacion.Url" class="d-block w-100" style="border-radius: 15px 0px 0px 15px; max-width:100%;" alt="" height="170px" onerror="this.src='/assets/logoMeza/Logo_IMZ_1.png';">
            </div>
            <div *ngIf="_publicacion.Estatus === 'Borrador'" class="justify-content-center br15">
                <a [href]="'publicar/fotosyvideos?Id_Publicacion=' + this._publicacion.Id_Publicacion" target="_blank">
                    <img *ngIf="_publicacion.Url != null" [src]="_publicacion.Url" class="d-block w-100" style="border-radius: 15px 0px 0px 15px; max-width:100%;" alt="" height="170px" onerror="this.src='/assets/logoMeza/Logo_IMZ_1.png';">
                </a>
            </div>
            <!-- <div class="carousel-caption active d-none d-md-block p-0 m-0">
                <h6 *ngIf="_publicacion.Url != null && _publicacion.lstMultimedia!.length > 0" class="sombraTitulo text-capitalize p-0 m-0">{{_publicacion.lstMultimedia![0].Descripcion}}</h6>
            </div> -->
        </div>

    </div>
    <div class="col-md-9 p-1 border" style="border-radius: 0px 15px 15px 0px;">

      <div class="row" (click)="verPublicacionCliente()" style="cursor:pointer !important;">

          <div class="row px-0">
              <div class="col-md-9 px-4">
                  <h4 *ngIf="_publicacion.TituloPublicacion != null" class="text-primary text-truncate fw400" data-toggle="tooltip" data-placement="top" title="{{_publicacion.TituloPublicacion}}">{{_publicacion.TituloPublicacion}}</h4>
                  <h4 *ngIf="_publicacion.TituloPublicacion === null || _publicacion.TituloPublicacion === ''" class="text-danger text-truncate">SIN TITULO</h4>
              </div>
              <div *ngIf="_tipoBusqueda == 'misAnuncios'" class="col-md-3 p-1">
                  <h6 *ngIf="_publicacion.Estatus === 'Activada' || _publicacion.Estatus === 'Vencida' || _publicacion.Estatus === 'Cancelada' || _publicacion.Estatus === 'En espera de pago'" class="text-primary text-end"><kbd style="background-color: #ffe600; color:black">{{_publicacion.PlanCliente}}</kbd></h6>
              </div>
              <div *ngIf="_tipoBusqueda == 'misFavoritos'" class="col-md-3 p-1">
                  <h6 *ngIf="_publicacion.Estatus === 'Activada'" class="text-primary text-end"><kbd style="background-color: #ffe600; color:black">{{_publicacion.PlanCliente}}</kbd></h6>
                  <h6 *ngIf="_publicacion.Estatus !== 'Activada'" class="text-primary text-end"><kbd style="background-color: red; color:white">NO disponible</kbd></h6>
              </div>
          </div>

          <div class="row px-0">
            <div class="col-md-10 px-4">
                <p *ngIf="_publicacion.Asentamiento != null " class="text-primary text-truncate" data-toggle="tooltip" data-placement="top" title="{{_publicacion.Asentamiento}}, {{_publicacion.Municipio}}, {{_publicacion.Estado}}">{{_publicacion.Asentamiento}}, {{_publicacion.Municipio}}, {{_publicacion.Estado}}</p>
                <p *ngIf="_publicacion.Asentamiento === null || _publicacion.Asentamiento === ''" class="text-danger">Tu anuncio no tiene una ubicación definida</p>
            </div>
            <div class="col-md-2 p-1">
                <h6 *ngIf="_publicacion.TipoOperacion === 'Venta'" class="text-primary text-end">
                    <kbd style="background-color: #003cff;">{{_publicacion.TipoOperacion}}</kbd>
                </h6>
                <h6 *ngIf="_publicacion.TipoOperacion === 'Renta'" class="text-primary text-end">
                    <kbd style="background-color: #8100b4;">{{_publicacion.TipoOperacion}}</kbd>
                </h6>
                <h6 *ngIf="_publicacion.TipoOperacion === 'Desarrollo'" class="text-primary text-end">
                    <kbd style="background-color: #06b400;">{{_publicacion.TipoOperacion}}</kbd>
                </h6>
                <h6 *ngIf="_publicacion.TipoOperacion === 'Remate'" class="text-primary text-end">
                    <kbd style="background-color: #e90000;">{{_publicacion.TipoOperacion}}</kbd>
                </h6>
                <h6 *ngIf="_publicacion.TipoOperacion === 'Eventual'" class="text-primary text-end">
                    <kbd style="background-color: #ff89e5;">{{_publicacion.TipoOperacion}}</kbd>
                </h6>
            </div>
          </div>

          <div *ngIf="_publicacion.TipoOperacion != 'Desarrollo'" class="row px-0">
              <div class="col-auto px-4">
                    <div class="row">
                        <div class="col-auto text-primary">
                            <p>{{_publicacion.ClaveMoneda}}</p>
                        </div>
                        <div class="col-auto text-primary px-0">
                            <h4 *ngIf="_publicacion.PrecioDescuento! > 0" style="text-decoration:line-through; color:lightgray;">{{_publicacion.PrecioDesde | currency : 'USD' : 'symbol' : '1.0-0' }}</h4>
                            <h4 *ngIf="_publicacion.PrecioDescuento! === 0">{{_publicacion.PrecioDesde | currency : 'USD' : 'symbol' : '1.0-0' }}</h4>
                        </div>
                        <div *ngIf="_publicacion.PrecioDescuento! > 0" class="col-auto text-primary px-2">
                            <h4 >{{_publicacion.PrecioDescuento | currency : 'USD' : 'symbol' : '1.0-0' }} <kbd style="background-color: rgb(52, 190, 52); color:#ffffff; font-size: medium;"><span>Bajó </span>{{(1 - (_publicacion.PrecioDescuento! / _publicacion.PrecioDesde!)) * 100 | number: '1.0-0'}}%</kbd></h4>
                        </div>
                        <div *ngIf="_publicacion.PrecioNegociable === 1" class="col-auto text-primary" style="font-size:1rem;">
                            <label class="mt-1">Precio negociable</label>
                        </div>
                    </div>
              </div>
              <div *ngIf="_tipoBusqueda == 'misAnuncios'" class="col text-end p-1">
                    <!-- <h6 *ngIf="_publicacion.Estatus === 'Activada'" class="text-primary text-end"><kbd style="background-color: #ffe600; color:black">{{_publicacion.PlanCliente}}</kbd></h6> -->
                    <h6 class="text-primary text-end"><kbd class="bg-color-2" >{{_publicacion.Estatus}}</kbd></h6>
              </div>
          </div>

          <div *ngIf="_publicacion.TipoOperacion === 'Desarrollo'" class="row px-0">
              <div class="col-md-9 px-4">
                  <div class="row">
                      <div class="col-auto text-primary"><p>{{_publicacion.ClaveMoneda}}</p></div>
                      <div class="col-auto text-primary px-2"><h4>{{_publicacion.PrecioDesde | currency : 'USD' : 'symbol' : '1.0-0' }} -</h4></div>
                      <div class="col-auto text-primary px-0"><h4>{{_publicacion.PrecioHasta | currency : 'USD' : 'symbol' : '1.0-0' }}</h4></div>
                      <div *ngIf="_publicacion.PrecioNegociable === 1" class="col-auto text-primary" style="font-size:1rem;">
                        <label class="mt-1">Precio negociable</label>
                    </div>
                  </div>
              </div>
              <div *ngIf="_tipoBusqueda == 'misAnuncios'" class="col text-end p-1">
                    <!-- <h6 *ngIf="_publicacion.Estatus === 'Activada'" class="text-primary text-end"><kbd style="background-color: #ffe600; color:black">{{_publicacion.PlanCliente}}</kbd></h6> -->
                    <h6 class="text-primary text-end"><kbd class="bg-color-2" >{{_publicacion.Estatus}}</kbd></h6>
              </div>
          </div>



            <ng-template #misAnuncios>

                <div *ngIf="_publicacion.Estatus === 'Borrador'" >
                    <div class="row m-0 p-0" >
                        <div class="col-md-7 text-start px-0">
                            <span class="text-primary">F. creación: <strong>{{_publicacion.FechaAlta | date:'dd-MM-yyyy'}}</strong></span>
                            <span *ngIf="_publicacion.PerteneceADesarrollo === 1" class="text-primary"> - Pertenece a desarrollo</span>
                        </div>
                        <div class="col-md-5 text-end px-0">
                            <a class="btn btn-success br25" [href]="'publicar/operacion-tipo-inmueble?Id_Publicacion=' + this._publicacion.Id_Publicacion" target="_blank">
                                <span class="col-md-1 col-md-offset-2 text-center">
                                    <i class="fa fa-pen" aria-hidden="true"> </i>
                            </span></a>
                            <a class="btn btn-primary mx-1 br25" [href]="'propiedad/' + (this._publicacion.TituloPublicacion)?.replaceAll(' ','-') + '-' + this._publicacion.Id_Publicacion" target="_blank">
                                <span class="col-md-1 text-center">
                                    <i class="fa fa-eye" aria-hidden="true"> </i>
                            </span></a>
                            <a *ngIf="_publicacion.PerteneceADesarrollo === 0" class="btn btn-warning br25" [href]="'publicar/pagar-y-activar?Id_Publicacion=' + this._publicacion.Id_Publicacion" target="_blank">
                                <span class="col-md-1 col-md-offset-2 text-center">
                                    <i class="fa fa-arrow-up" aria-hidden="true"> </i>
                            </span></a>
                            <button *ngIf="_publicacion.PerteneceADesarrollo === 0" type="button" class="btn btn-danger mx-1 br25" (click)="eliminarAnuncio()">
                                <span class="col-md-1 col-md-offset-2 text-center">
                                    <i class="fa fa-trash-can" aria-hidden="true"> </i>
                            </span></button>
                        </div>
                    </div>
                </div>

                <div *ngIf="_publicacion.Estatus === 'Activada'">
                    <div class="row m-0 p-0" >
                        <div class="col-md-8 text-primary px-0 mt-3">
                            <span>Fecha inicio: <strong>{{_publicacion.FechaInicioPublicacion | date:'dd-MM-yyyy'}}</strong> / </span>
                            <span>Fecha fin: <strong>{{_publicacion.FechaFinPublicacion | date:'dd-MM-yyyy'}}</strong></span>
                        </div>
                        <div class="col-md-4 text-end px-0">
                            <!-- <button type="button" style="border-radius:25px;" class="btn btn-success" (click)="editarAnuncio()">
                                <span class="col-md-1 col-md-offset-2 text-center">
                                    <i class="fa fa-pen" aria-hidden="true"> </i>
                            </span></button> -->
                            <a class="btn btn-primary mx-1 br25" [href]="'propiedad/' + (this._publicacion.TituloPublicacion)?.replaceAll(' ','-') + '-' + this._publicacion.Id_Publicacion" target="_blank">
                                <span class="col-md-1 text-center">
                                    <i class="fa fa-eye" aria-hidden="true"> </i>
                            </span></a>
                            <button type="button" class="btn btn-dark text-primary mx-1 br25" (click)="cancelarPublicacion()">
                                <span class="col-md-1 text-center">
                                    <i class="fa fa-xmark" aria-hidden="true"> </i>
                            </span></button>
                        </div>
                    </div>
                </div>

                <div *ngIf="_publicacion.Estatus === 'Cancelada'">
                    <div class="row m-0 p-0">
                        <div class="col-md-8 text-primary px-0 mt-3">
                            <span>Fecha en que se canceló: <strong>{{_publicacion.FechaModificacion | date:'dd-MM-yyyy'}}</strong></span>
                        </div>
                        <div class="col-md-4 text-end px-0">
                            <a class="btn btn-primary mx-1 br25" [href]="'propiedad/' + (this._publicacion.TituloPublicacion)?.replaceAll(' ','-') + '-' + this._publicacion.Id_Publicacion" target="_blank">
                                <span class="col-md-1 text-center">
                                    <i class="fa fa-eye" aria-hidden="true"> </i>
                            </span></a>
                            <button class="btn btn-primary mx-1 br25" (click)="copiarPublicacion()">
                                <span class="col-md-1 text-center">
                                    <i class="fa-solid fa-copy"></i>
                            </span></button>
                        </div>
                    </div>
                </div>

                <div *ngIf="_publicacion.Estatus === 'Vencida'">
                    <div class="row m-0 p-0" style="position:relative; bottom:0px; right:0px;">
                        <div class="col-md-8 text-primary px-0 mt-3">
                            <span>Fecha en que venció: <strong>{{_publicacion.FechaFinPublicacion | date:'dd-MM-yyyy'}}</strong></span>
                        </div>
                        <div class="col-md-4 text-end px-0">
                            <a class="btn btn-primary mx-1 br25" [href]="'propiedad/' + (this._publicacion.TituloPublicacion)?.replaceAll(' ','-') + '-' + this._publicacion.Id_Publicacion" target="_blank">
                                <span class="col-md-1 text-center">
                                    <i class="fa fa-eye" aria-hidden="true"> </i>
                            </span></a>
                            <a class="btn btn-primary mx-1 br25" (click)="copiarPublicacion()">
                                <span class="col-md-1 text-center">
                                    <i class="fa-solid fa-copy"></i>
                            </span></a>
                        </div>
                    </div>
                </div>

                <div *ngIf="_publicacion.Estatus === 'En espera de pago'">
                    <div class="row m-0 p-0" style="position:relative; bottom:0px; right:-15px;">
                        <div class="col text-end">
                            <!-- <button type="button" style="border-radius:25px;" class="btn btn-success" (click)="editarAnuncio()">
                                <span class="col-md-1 col-md-offset-2 text-center">
                                    <i class="fa fa-pen" aria-hidden="true"> </i>
                            </span></button> -->
                            <a class="btn btn-primary mx-1 br25" [href]="'propiedad/' + (this._publicacion.TituloPublicacion)?.replaceAll(' ','-') + '-' + this._publicacion.Id_Publicacion" target="_blank">
                                <span class="col-md-1 text-center">
                                    <i class="fa fa-eye" aria-hidden="true"> </i>
                            </span></a>
                            <!-- <button type="button" class="btn btn-danger mx-1 br25" (click)="eliminarAnuncio()">
                                <span class="col-md-1 col-md-offset-2 text-center">
                                    <i class="fa fa-trash-can" aria-hidden="true"> </i>
                            </span></button> -->
                        </div>
                    </div>
                </div>

                <div *ngIf="_publicacion.Estatus === 'Bloqueada'">
                    <div class="row m-0 p-0">
                        <div class="col-md-8 text-primary px-0 mt-3">
                            <span>Fecha en que se canceló: <strong>{{_publicacion.FechaModificacion | date:'dd-MM-yyyy'}}</strong></span>
                        </div>
                        <div class="col-md-4 text-end px-0">
                            <a class="btn btn-primary mx-1 br25" [href]="'propiedad/' + (this._publicacion.TituloPublicacion)?.replaceAll(' ','-') + '-' + this._publicacion.Id_Publicacion" target="_blank">
                                <span class="col-md-1 text-center">
                                    <i class="fa fa-eye" aria-hidden="true"> </i>
                            </span></a>
                        </div>
                    </div>
                </div>

            </ng-template>

            <ng-template #misFavoritos>

                <div *ngIf="_publicacion.Estatus === 'Activada'">
                    <div class="row m-0 p-0" >
                        <div class="col-md-8 text-primary px-0 mt-3">
                            <span>Fecha en que terminará: <strong>{{_publicacion.FechaFinPublicacion | date:'dd-MM-yyyy'}}</strong></span>
                        </div>
                        <div class="col-md-4 text-end px-0">
                            <a class="btn btn-primary mx-1 br25" [href]="'propiedad/' + (this._publicacion.TituloPublicacion)?.replaceAll(' ','-') + '-' + this._publicacion.Id_Publicacion" target="_blank">
                                <span class="col-md-1 text-center">
                                    <i class="fa fa-eye" aria-hidden="true"> </i>
                            </span></a>
                            <button type="button" style="box-shadow: none;" class="btn br25" (click)="quitarFavorito()">
                                <span class="col-md-1 text-danger">
                                    <i class="fa fa-heart" style="font-size: 25px;" aria-hidden="true"> </i>
                            </span></button>
                        </div>
                    </div>
                </div>

                <div *ngIf="_publicacion.Estatus != 'Activada'">
                    <div class="row m-0 p-0" >
                        <div class="col-md-8 text-primary px-0 mt-3">
                            <span>Fecha en que terminó: <strong>{{_publicacion.FechaFinPublicacion | date:'dd-MM-yyyy'}}</strong></span>
                        </div>
                        <div class="col-md-4 text-end px-0">
                            <a class="btn btn-primary mx-1 br25" [href]="'propiedad/' + (this._publicacion.TituloPublicacion)?.replaceAll(' ','-') + '-' + this._publicacion.Id_Publicacion" target="_blank">
                                <span class="col-md-1 text-center">
                                    <i class="fa fa-eye" aria-hidden="true"> </i>
                            </span></a>
                            <button type="button" style="box-shadow: none;" class="btn br25" (click)="quitarFavorito()">
                                <span class="col-md-1 text-danger">
                                    <i class="fa fa-heart" style="font-size: 25px;" aria-hidden="true"> </i>
                            </span></button>
                        </div>
                    </div>
                </div>

            </ng-template>

      </div>

      <div style="position:relative; bottom:0px; bottom:0px; right:0px;">
          <div *ngIf="_tipoBusqueda == 'misAnuncios'; then misAnuncios else misFavoritos"></div>
      </div>

    </div>
</div>