<div class="">
    <div class="row">
        <form class="form-horizontal" >
            <fieldset>
                <legend class="text-center text-primary mb-3">
                    <h1 class="display-4">Mis facturas</h1>
                </legend>
                <div class="card-group justify-content-center">
                    <div class="form-group mb-4" *ngFor="let factura of _facturasCliente">
                    <app-tarjetafactura class="row px-4 gy-2" [_facturaCliente]="factura" (_enviarFactura)="enviarFacturaCliente(factura)"></app-tarjetafactura>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>