
  <footer class="text-center text-white" style="background-color: #c3365e;">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a tabindex="-1"
          class="btn btn-outline-light btn-floating m-1"
          href="https://www.facebook.com"
          role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>

        <!-- Twitter -->
        <a tabindex="-1"
          class="btn btn-outline-light btn-floating m-1"
          href="https://www.twitter.com"
          role="button"
          ><i class="fab fa-twitter"></i
        ></a>

        <!-- Instagram -->
        <a tabindex="-1"
          class="btn btn-outline-light btn-floating m-1"
          href="https://www.instagram.com"
          role="button"
          ><i class="fab fa-instagram"></i
        ></a>

        <!-- Linkedin -->
        <a tabindex="-1"
          class="btn btn-outline-light btn-floating m-1"
          href="https://www.linkedin.com"
          role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
      </section>

      <section class="mb-4">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
          distinctio earum repellat quaerat voluptatibus placeat nam, commodi
          optio pariatur est quia magnam eum harum corrupti dicta, aliquam sequi
          voluptate quas.
        </p>
      </section>
      <!-- Section: Text -->

      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">acerca de nosotros</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Quienes somos</a>
              </li>
              <li>
                <a href="#!" class="text-white">Terminos y condiciones</a>
              </li>
              <li>
                <a href="#!" class="text-white">Aviso de privacidad</a>
              </li>
              <li>
                <a href="#!" class="text-white">Trabaja con nosotros</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">servicio al cliente</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Inmobiliarias</a>
              </li>
              <li>
                <a href="#!" class="text-white">Desarrollos</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Consejos y Ayuda</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a class="text-white" routerLink="/ayuda/contacto" title="Contacto">Contacto</a>
              </li>
              <li>
                <a href="#!" class="text-white">Ayuda</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">terrenos</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Enlace 1</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © Copyright 2022-{{ fecha }}
      <a class="text-white" routerLink="/">inmuebles yuca</a><br>
      <a class="text-white" routerLink="/legal/terminosycondicionesdeuso"  title="Términos y condiciones de Uso">Términos y condiciones de Uso</a> -
      <a class="text-white" routerLink="/legal/terminosycondicionesdecontratacion" title="Términos y condiciones de Contratacion">Términos y condiciones de Contratacion</a> -
      <a class="text-white" routerLink="/legal/politicadeprivacidad" title="Política de Privacidad">Política de Privacidad</a>
    </div>
    <!-- Copyright -->
  </footer>