<form [formGroup]="formaRestablecer" (ngSubmit)="restablecerPassword()">
    <div class="form-group row py-3">
      <label class="col-md-12 col-form-label text-center"><h1 class="display-4 text-primary">Restablecer contraseña</h1></label>
    </div>
  
      <div class="form-group row py-3">
            <label class="col-md-2 col-form-label text-primary text-end">Nueva contraseña</label>
            <div class="col-md-4 col-10 p-0">
                <input class="form-control"
                        type="password"
                        placeholder="Contraseña"
                        formControlName="password1"
                        [class.is-invalid]="password1NoValido" />
                </div>
            <div class="col-md-4 col-form-label">
                <small *ngIf="password1NoValido" class="text-danger">
                    Ingrese contraseña
                </small>
            </div>
      </div>

      <div class="form-group row py-3">
            <label class="col-md-2 col-form-label text-primary text-end">Repita contraseña</label>
            <div class="col-md-4 col-10 p-0">
                <input class="form-control"
                        type="password"
                        placeholder="Repita contraseña"
                        formControlName="password2"
                        [class.is-invalid]="passwordsDiferentes" />
                </div>
            <div class="col-md-4 col-form-label">
                <small *ngIf="passwordsDiferentes" class="text-danger">
                    Contraseñas diferentes
                </small>
            </div>
      </div>
    
      <div class="form-group row py-3">
        <label class="col-md-2 col-form-label">&nbsp;</label>
        <div class="col-4 d-grid gap-2 mix-auto">
          <button type="submit" class="btn btn-primary br25 btn-lg">Restablecer contraseña</button>
        </div>
      </div>
  
    </form>
    