<script type="text/javascript">
  window.addEventListener("resize", function () {
    "use strict";
    window.location.reload();
  });

  document.addEventListener("DOMContentLoaded", function () {
    /////// Prevent closing from click inside dropdown
    document.querySelectorAll(".dropdown-menu").forEach(function (element) {
      element.addEventListener("click", function (e) {
        e.stopPropagation();
      });
    });

    // make it as accordion for smaller screens
    if (window.innerWidth < 992) {
      // close all inner dropdowns when parent is closed
      document
        .querySelectorAll(".navbar .dropdown")
        .forEach(function (everydropdown) {
          everydropdown.addEventListener("hidden.bs.dropdown", function () {
            // after dropdown is hidden, then find all submenus
            this.querySelectorAll(".megasubmenu").forEach(function (
              everysubmenu
            ) {
              // hide every submenu as well
              everysubmenu.style.display = "none";
            });
          });
        });

      document
        .querySelectorAll(".has-megasubmenu a")
        .forEach(function (element) {
          element.addEventListener("click", function (e) {
            let nextEl = this.nextElementSibling;
            if (nextEl && nextEl.classList.contains("megasubmenu")) {
              // prevent opening link if link needs to open dropdown
              e.preventDefault();

              if (nextEl.style.display == "block") {
                nextEl.style.display = "none";
              } else {
                nextEl.style.display = "block";
              }
            }
          });
        });
    }
    // end if innerWidth
  });
  // DOMContentLoaded  end
</script>

<!-- ============= COMPONENT ============== -->
<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-dark fixed-top" style="background:#c3365e;">
  <div class="container-fluid" style="padding: 0px 10px;">
    <a class="navbar-brand" routerLink="Inicio">Inmuebles Yuca</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#main_nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main_nav">
      <ul class="navbar-nav fade-up">
        <!-- <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="inicio">Inicio</a>
            </li> -->
        <li class="nav-item dropdown" routerLinkActive="active">
          <a
            class="nav-link dropdown-toggle"
            routerLink="comprar"
            data-bs-toggle="dropdown"
          >
            Comprar
          </a>
          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item text-primary"
                [routerLink]="['comprar', 'departamento']"
                >Departamento</a
              >
            </li>
            <li>
              <a class="dropdown-item text-primary" [routerLink]="['comprar', 'casa']"
                >Casa</a
              >
            </li>
            <li>
              <a
                class="dropdown-item text-primary"
                [routerLink]="['comprar', 'rematebancario']"
                >Remates Bancarios</a
              >
            </li>
            <li>
              <a class="dropdown-item text-primary" [routerLink]="['comprar', 'terreno']"
                >Terrenos</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown" routerLinkActive="active">
          <a
            class="nav-link dropdown-toggle"
            routerLink="rentar"
            data-bs-toggle="dropdown"
          >
            Rentar
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item text-primary" [routerLink]="['rentar', 'departamento']"
                ><i class="fa-solid fa-building"></i>
                <span style="padding: 10px;"> Departamento</span></a
              >
            </li>
            <li>
              <a class="dropdown-item text-primary" [routerLink]="['rentar', 'casa']"
                ><i class="fa-solid fa-house-chimney-window"></i><span style="padding: 10px;">Casa</span></a
              >
            </li>
            <li>
              <a class="dropdown-item text-primary" [routerLink]="['rentar', 'cuarto']"
                >Cuarto</a
              >
            </li>
            <li>
              <a class="dropdown-item text-primary" [routerLink]="['rentar', 'oficina']"
                >Oficina</a
              >
            </li>
            <li>
              <a
                class="dropdown-item text-primary"
                [routerLink]="['rentar', 'bodegacomercial']"
                >Bodega Comercial</a
              >
            </li>
            <li>
              <a
                class="dropdown-item text-primary"
                [routerLink]="['rentar', 'localcomercial']"
                >Local Comercial</a
              >
            </li>
            <li>
              <a class="dropdown-item text-primary" [routerLink]="['rentar', 'quinta']">Quinta-Salon</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown" routerLinkActive="active">
          <a class="nav-link dropdown-toggle" routerLink="desarrollos" data-bs-toggle="dropdown">
            Desarrollos
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item text-primary" [routerLink]="['desarrollos', 'departamento']">Departamento</a>
            </li>
            <li>
              <a class="dropdown-item text-primary" [routerLink]="['desarrollos', 'casa']">Casa</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown" routerLinkActive="active">
          <a
            class="nav-link dropdown-toggle"
            routerLink="desarrollos"
            data-bs-toggle="dropdown"
          >
            Ayuda para tu hogar
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item text-primary" [routerLink]="['ayudahogar/pintores']"
                >Pintores</a
              >
            </li>
            <li>
              <a
                class="dropdown-item text-primary"
                [routerLink]="['ayudahogar/electricistas']"
                >Electricistas</a
              >
            </li>
            <li>
              <a class="dropdown-item text-primary" [routerLink]="['ayudahogar/plomeros']"
                >Plomeros</a
              >
            </li>
            <li>
              <a class="dropdown-item text-primary" [routerLink]="['ayudahogar/limpieza']"
                >Limpieza</a
              >
            </li>
            <li>
              <a class="dropdown-item text-primary" [routerLink]="['ayudahogar/jardineros']"
                >Jardinero</a
              >
            </li>
            <li>
              <a class="dropdown-item text-primary" [routerLink]="['ayudahogar/carpinteros']"
                >Carpintero</a
              >
            </li>
          </ul>
        </li>
        <div *ngIf="usuarioAutenticado && usuarioRol == 'Administrador'" >
          <li class="nav-item dropdown" routerLinkActive="active">
            <a class="nav-link dropdown-toggle"
               routerLink="rentar"
               data-bs-toggle="dropdown">
               Administración
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item text-primary text-primary" [routerLink]="['procesos', 'actualizarpublicacionesplanesypaquetes']"><i class="fa-solid fa-house-chimney-window"></i>
                  <span style="padding: 10px;">Actualizar publicaciones vencidas</span></a>
              </li>
              <li>
                <a class="dropdown-item text-primary text-primary" [routerLink]="['catalogos', 'archivosfiscales']"><i class="fa-solid fa-house-chimney-window"></i>
                  <span style="padding: 10px;">Archivos Fiscales</span></a>
              </li>
              <li>
                <a class="dropdown-item text-primary text-primary" [routerLink]="['procesos', 'asignarpaqueteacliente']"><i class="fa-solid fa-house-chimney-window"></i>
                  <span style="padding: 10px;">Agregar paquete a Empresa</span></a>
              </li>
              <li>
                <a class="dropdown-item text-primary" [routerLink]="['catalogos', 'usuariosempresa']"><i class="fa-solid fa-house-chimney-window"></i>
                  <span style="padding: 10px;">Asignar usuario a Empresa</span></a>
              </li>
              <li>
                <a class="dropdown-item text-primary text-primary" [routerLink]="['procesos', 'confirmarpagosplanes']"><i class="fa-solid fa-house-chimney-window"></i>
                  <span style="padding: 10px;">Confirmar pagos de clientes</span></a>
              </li>
              <li>
                <a class="dropdown-item text-primary" [routerLink]="['catalogos', 'asentamientos']"><i class="fa-solid fa-building"></i>
                  <span style="padding: 10px;"> Asentamientos</span></a>
              </li>
              <li>
                <a class="dropdown-item text-primary" [routerLink]="['catalogos', 'bancos']"><i class="fa-solid fa-building"></i>
                  <span style="padding: 10px;"> Bancos</span></a>
              </li>
              <li>
                <a class="dropdown-item text-primary" [routerLink]="['catalogos', 'caracteristicas']"><i class="fa-solid fa-building"></i>
                  <span style="padding: 10px;"> Características</span></a>
              </li>
              <li>
                <a class="dropdown-item text-primary text-primary" [routerLink]="['catalogos', 'empresas']"><i class="fa-solid fa-house-chimney-window"></i>
                  <span style="padding: 10px;">Empresas</span></a>
              </li>
              <li>
                <a class="dropdown-item text-primary" [routerLink]="['catalogos', 'medioscontacto']"><i class="fa-solid fa-building"></i>
                  <span style="padding: 10px;"> Medios de contacto</span></a>
              </li>
              <li>
                <a class="dropdown-item text-primary" [routerLink]="['catalogos', 'tiposasentamiento']"><i class="fa-solid fa-house-chimney-window"></i>
                  <span style="padding: 10px;">Tipos de asentamiento</span></a>
              </li>
              <!-- <li>
                <a class="dropdown-item text-primary" [routerLink]="['catalogos', 'amenidades']"><i class="fa-solid fa-house-chimney-window"></i>
                  <span style="padding: 10px;">Amenidades</span></a>
              </li> -->
              <li>
                <a class="dropdown-item text-primary" [routerLink]="['catalogos', 'tiposoperacion']"><i class="fa-solid fa-house-chimney-window"></i>
                  <span style="padding: 10px;">Tipos Operación</span></a>
              </li>
              <li>
                <a class="dropdown-item text-primary" [routerLink]="['catalogos', 'paquetes']"><i class="fa-solid fa-house-chimney-window"></i>
                  <span style="padding: 10px;">Paquetes</span></a>
              </li>
              <li>
                <a class="dropdown-item text-primary" [routerLink]="['catalogos', 'planes']"><i class="fa-solid fa-house-chimney-window"></i>
                  <span style="padding: 10px;">Planes</span></a>
              </li>
              <li>
                <a class="dropdown-item text-primary" [routerLink]="['catalogos', 'tipospropiedad']"><i class="fa-solid fa-house-chimney-window"></i>
                  <span style="padding: 10px;">Tipos de propiedad</span></a>
              </li>
              <li>
                <a class="dropdown-item text-primary" [routerLink]="['catalogos', 'subtipospropiedad']"><i class="fa-solid fa-house-chimney-window"></i>
                  <span style="padding: 10px;">Subtipos de propiedad</span></a>
              </li>
            </ul>
          </li>
        </div>

        <!-- <div *ngIf="usuarioAutenticado && usuarioRol == 'Empresa'" >
          <li class="nav-item dropdown" routerLinkActive="active">
            <a class="nav-link dropdown-toggle" routerLink="rentar" data-bs-toggle="dropdown">
              Administración
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item text-primary" [routerLink]="['catalogos', 'usuariosempresa']"><i class="fa-solid fa-house-chimney-window"></i>
                  <span style="padding: 10px;">Usuarios de Empresa</span></a>
              </li>
            </ul>
          </li>
        </div> -->

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="ayuda">Ayuda</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="btn text-white btn-secondary br25" [routerLink]="['publicar']">
            Publicar</a>
        </li>
        <div *ngIf="usuarioAutenticado">
          <li class="nav-item dropdown" routerLinkActive="active">
              <a class="btn btn-link" data-bs-toggle="dropdown"
                style="border:none; box-shadow: none;"
                [routerLink]="['micuenta']">
                <span *ngIf="!_urlFotoPerfil"><i class="fa-solid fa-circle-user medicon"></i></span>
                <img *ngIf="_urlFotoPerfil" class="br25" width="25px" height="100%" [src]="_urlFotoPerfil" alt="">
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item text-primary" [routerLink]="['micuenta', 'misanuncios']"><i class="fa-solid fa-house-chimney-window"></i>
                    <span style="padding: 10px;">Mis anuncios</span></a>
                </li>
                <li>
                  <a class="dropdown-item text-primary" [routerLink]="['micuenta', 'misplanesypaquetes']"><i class="fa-solid fa-house-chimney-window"></i>
                    <span style="padding: 10px;">Mis planes y paquetes</span></a>
                </li>
                <li>
                  <a class="dropdown-item text-primary" [routerLink]="['micuenta', 'misfavoritos']"><i class="fa-solid fa-house-chimney-window"></i>
                    <span style="padding: 10px;">Mis favoritos</span></a>
                </li>
                <li>
                  <a class="dropdown-item text-primary" [routerLink]="['micuenta', 'mismensajes']"><i class="fa-solid fa-house-chimney-window"></i>
                    <span style="padding: 10px;">Mis mensajes</span></a>
                </li>
                <li>
                  <a class="dropdown-item text-primary" [routerLink]="['micuenta', 'misfacturas']"><i class="fa-solid fa-house-chimney-window"></i>
                    <span style="padding: 10px;">Mis facturas</span></a>
                </li>
                <div class="dropdown-divider"></div>
                <li>
                  <a class="dropdown-item text-primary btn btn-link" (click)="cerrarSesion()"><i class="fa-solid fa-house-chimney-window"></i>
                    <span style="padding: 10px;">Cerrar sesión</span></a>
                </li>
              </ul>
          </li>
        </div>
        <li class="nav-item py-1" routerLinkActive="active">
          <label class="text-white text-capitalize text-truncate" style="max-width:60px;">{{_nombreUsuario}}</label>
        </li>
        <div *ngIf="!usuarioAutenticado; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <li class="nav-item">
            <a class="btn btn-link" 
               style="border:none; box-shadow: none;"
               href="iniciarsesion">
               <i class="fa-solid fa-arrow-right-to-bracket medicon"></i>
            </a>
          </li>
        </ng-template>
        <ng-template #elseBlock>
          <li class="nav-item">
            <a class="btn btn-link" 
               style="border:none; box-shadow: none;"
               (click)="cerrarSesion()">
               <span><i class="fa-solid fa-arrow-right-from-bracket medicon"></i></span>
            </a>
          </li>
        </ng-template>
        <li class="nav-item" routerLinkActive="active">
          <button type="button" class="btn btn-link px-0" (click)="cambiarModo()">
            <i *ngIf="_modoObscuro" class="fa-solid fa-sun fs-5" style="color:yellow"></i>
            <i *ngIf="!_modoObscuro" class="fa-solid fa-moon fs-5" style="color:white"></i>
          </button>
        </li>
      </ul>
    </div>
    
    <!-- navbar-collapse.// -->
  </div>
  <!-- container-fluid.// -->
</nav>