<script type="text/javascript">
  window.addEventListener("resize", function () {
    "use strict";
    window.location.reload();
  });

  document.addEventListener("DOMContentLoaded", function () {
    /////// Prevent closing from click inside dropdown
    document.querySelectorAll(".dropdown-menu").forEach(function (element) {
      element.addEventListener("click", function (e) {
        e.stopPropagation();
      });
    });

    // make it as accordion for smaller screens
    if (window.innerWidth < 992) {
      // close all inner dropdowns when parent is closed
      document
        .querySelectorAll(".navbar .dropdown")
        .forEach(function (everydropdown) {
          everydropdown.addEventListener("hidden.bs.dropdown", function () {
            // after dropdown is hidden, then find all submenus
            this.querySelectorAll(".megasubmenu").forEach(function (
              everysubmenu
            ) {
              // hide every submenu as well
              everysubmenu.style.display = "none";
            });
          });
        });

      document
        .querySelectorAll(".has-megasubmenu a")
        .forEach(function (element) {
          element.addEventListener("click", function (e) {
            let nextEl = this.nextElementSibling;
            if (nextEl && nextEl.classList.contains("megasubmenu")) {
              // prevent opening link if link needs to open dropdown
              e.preventDefault();

              if (nextEl.style.display == "block") {
                nextEl.style.display = "none";
              } else {
                nextEl.style.display = "block";
              }
            }
          });
        });
    }
    // end if innerWidth
  });
  // DOMContentLoaded  end
</script>

<!-- ============= COMPONENT ============== -->
<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-dark fixed-top" style="background:#c3365e;">
  <div class="container-fluid" style="padding: 0px 10px;">
    <a class="navbar-brand" routerLink="Inicio">Inmuebles Yuca</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#main_nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main_nav">
      <ul class="navbar-nav fade-up">
        <!-- <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="inicio">Inicio</a>
            </li> -->
        <li class="nav-item dropdown" routerLinkActive="active">
          <a
            class="nav-link dropdown-toggle"
            routerLink="comprar"
            data-bs-toggle="dropdown"
          >
            Comprar
          </a>
          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item"
                [routerLink]="['comprar', 'departamento']"
                >Departamento</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['comprar', 'casa']"
                >Casa</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                [routerLink]="['comprar', 'rematebancario']"
                >Remates Bancarios</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['comprar', 'terreno']"
                >Terrenos</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown" routerLinkActive="active">
          <a
            class="nav-link dropdown-toggle"
            routerLink="rentar"
            data-bs-toggle="dropdown"
          >
            Rentar
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" [routerLink]="['rentar', 'departamento']"
                ><i class="fa-solid fa-building"></i>
                <span style="padding: 10px;"> Departamento</span></a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['rentar', 'casa']"
                ><i class="fa-solid fa-house-chimney-window"></i><span style="padding: 10px;">Casa</span></a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['rentar', 'cuarto']"
                >Cuarto</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['rentar', 'oficina']"
                >Oficina</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                [routerLink]="['rentar', 'bodegacomercial']"
                >Bodega Comercial</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                [routerLink]="['rentar', 'localcomercial']"
                >Local Comercial</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['rentar', 'quinta']"
                >Quinta-Salon</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown" routerLinkActive="active">
          <a
            class="nav-link dropdown-toggle"
            routerLink="desarrollos"
            data-bs-toggle="dropdown"
          >
            Desarrollos
          </a>
          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item"
                [routerLink]="['desarrollos', 'departamento']"
                >Departamento</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['desarrollos', 'casa']"
                >Casa</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown" routerLinkActive="active">
          <a
            class="nav-link dropdown-toggle"
            routerLink="desarrollos"
            data-bs-toggle="dropdown"
          >
            Ayuda para tu hogar
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" [routerLink]="['ayudahogar/pintores']"
                >Pintores</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                [routerLink]="['ayudahogar/electricistas']"
                >Electricistas</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['ayudahogar/plomeros']"
                >Plomeros</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['ayudahogar/limpieza']"
                >Limpieza</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['ayudahogar/jardineros']"
                >Jardinero</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['ayudahogar/carpinteros']"
                >Carpintero</a
              >
            </li>
          </ul>
        </li>
        <div *ngIf="usuarioAutenticado && usuarioRol == 'Administrador'" >
        <li class="nav-item dropdown" routerLinkActive="active">
          <a
            class="nav-link dropdown-toggle"
            routerLink="rentar"
            data-bs-toggle="dropdown"
          >
            Administración
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" [routerLink]="['catalogos', 'asentamientos']"><i class="fa-solid fa-building"></i>
                <span style="padding: 10px;"> Asentamientos</span></a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['catalogos', 'medioscontacto']"><i class="fa-solid fa-building"></i>
                <span style="padding: 10px;"> Medios de contacto</span></a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['catalogos', 'tiposasentamiento']"><i class="fa-solid fa-house-chimney-window"></i>
                <span style="padding: 10px;">Tipos de asentamiento</span></a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['catalogos', 'amenidades']"><i class="fa-solid fa-house-chimney-window"></i>
                <span style="padding: 10px;">Amenidades</span></a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['catalogos', 'tiposoperacion']"><i class="fa-solid fa-house-chimney-window"></i>
                <span style="padding: 10px;">Tipos Operación</span></a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['catalogos', 'planes']"><i class="fa-solid fa-house-chimney-window"></i>
                <span style="padding: 10px;">Planes</span></a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['catalogos', 'tipospropiedad']"><i class="fa-solid fa-house-chimney-window"></i>
                <span style="padding: 10px;">Tipos de propiedad</span></a>
            </li>

          </ul>
        </li>
      </div>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="ayuda">Ayuda</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto">
        <li class="nav-item px-2" routerLinkActive="active">
          <a class="btn text-white btn-secondary" style="border-radius: 10px;" [routerLink]="['publicar']"
            >Publicar gratis</a
          >
        </li>
        <div *ngIf="usuarioAutenticado && (usuarioRol == 'Administrador' || usuarioRol == 'Cliente')">
        <li class="nav-item" style="padding-right: 10px;" routerLinkActive="active">
          <a
            class="btn text-white btn-secondary" style="border-radius: 10px; padding-left: 10px;"
            [routerLink]="['micuenta']"
          >
            Mi Cuenta
          </a>
        </li>
      </div>
        <div *ngIf="!usuarioAutenticado; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <li class="nav-item">
            <a class="btn text-white btn-secondary" style="border-radius: 10px;" routerLink="iniciarsesion">Ingresar</a>
          </li></ng-template>
        <ng-template #elseBlock>
          <li class="nav-item">
            <a class="btn text-white btn-secondary" style="border-radius: 10px;" (click)="cerrarSesion()">Salir</a>
          </li>
        </ng-template>
        <!-- <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                data-bs-toggle="dropdown"
              >
                Dropdown right
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="#"> Submenu item 1</a></li>
                <li><a class="dropdown-item" href="#"> Submenu item 2 </a></li>
              </ul>
            </li> -->
      </ul>
    </div>
    
    <!-- navbar-collapse.// -->
  </div>
  <!-- container-fluid.// -->
</nav>