<div class="card px-0" style="width: 15rem; border-radius: 15px;">
    <div class="card-header text-center bg-color-rt py-0" style="border-radius: 15px 15px 0px 0px;">
      <div class="row">
        <div class="col">
          <h3 class="card-title text-primary text-uppercase py-1 m-0">{{_planCliente.Descripcion}}</h3>
        </div>
        <div class="col px-0 text-end py-1" *ngIf="_tipoTarjeta === 'AlPagar'">
          <button type="button" class="btn btn-outline-primary" (click)="elegirPlanCliente()" style="border-radius: 25px;">
            <span class="col-md-1  text-center"><i class="fa fa-check" > </i></span>
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <!-- <h6 class="card-subtitle mb-3 text-primary text-uppercase">Precio: {{_planCliente.Precio}}</h6> -->
      <p class="card-text text-primary text-center">Disponibles:</p>
      <h4 class="card-text text-primary text-center">{{_planCliente.Restantes}}</h4>
      <p class="card-text text-primary text-center">Fecha de compra:</p>
      <h4 class="card-text text-primary text-center">{{_planCliente.FechaDePago | date:'dd-MM-yyyy'}}</h4>
    </div>
    
  </div>