<div class="container p-0">
    <div class="row">

      <legend class="text-center text-primary mb-3">
          <h1 class="display-4" style="text-shadow: 3px 3px 7px black;">Mis indicadores</h1>
      </legend>

      <div *ngIf="!_cargandoInformacion">
        <div class="form-group row mb-3 px-2">
            <div class="col-md-9 px-0"></div>
            <div class="col-md-3 p-0 text-end">
              <label class="text-primary text-end px-3">Total de registros: {{_paginadoDetalle.TotalRegistros}}</label>
              <button class="btn btn-primary btn-sm br25" (click)="mostrarFiltros()">
                  <span class="col-md-1 text-center">
                    <i [ngClass]="{' fa-regular fa-eye': _mostrarFiltros, ' fa-solid fa-eye-slash': !_mostrarFiltros}" ></i>
                  </span>
              </button>
            </div>
        </div>

        <div class="row">

            <div [ngClass]="{' col-md-9': _mostrarFiltros, ' col-md-12': !_mostrarFiltros}">
                <div class="row">
                  <div class="col-md-12 table-responsive-sm">
                    <table class="table table-sm text-primary table-striped border-primary table-hover color-table br15" style="box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.5);">
                        <thead>
                        <tr>
                            <th class="text-center" scope="col" style="border-radius: 20px 0px 0px 0px; max-width: 100px;">#</th>
                            <th class="text-center text-truncate" scope="col">Título publiación</th>
                            <th class="text-center px-0 mx-0" style="border:1px solid;" scope="col" [ngStyle]="{'display': _indicadoresColumnas.lstIndicadores[0].Mostrar ? 'none' : ''}"><span class="girar">VT</span></th>
                            <th class="text-center px-0 mx-0" style="border:1px solid;" scope="col" [ngStyle]="{'display': _indicadoresColumnas.lstIndicadores[1].Mostrar ? 'none' : ''}"><span class="girar">EM</span></th>
                            <th class="text-center px-0 mx-0" style="border:1px solid;" scope="col" [ngStyle]="{'display': _indicadoresColumnas.lstIndicadores[2].Mostrar ? 'none' : ''}"><span class="girar">CWDP</span></th>
                            <th class="text-center px-0 mx-0" style="border:1px solid;" scope="col" [ngStyle]="{'display': _indicadoresColumnas.lstIndicadores[3].Mostrar ? 'none' : ''}"><span class="girar">VP</span></th>
                            <th class="text-center px-0 mx-0" style="border:1px solid;" scope="col" [ngStyle]="{'display': _indicadoresColumnas.lstIndicadores[4].Mostrar ? 'none' : ''}"><span class="girar">VPLB</span></th>
                            <th class="text-center px-0 mx-0" style="border:1px solid;" scope="col" [ngStyle]="{'display': _indicadoresColumnas.lstIndicadores[5].Mostrar ? 'none' : ''}"><span class="girar">VFP</span></th>
                            <th class="text-center px-0 mx-0" style="border:1px solid;" scope="col" [ngStyle]="{'display': _indicadoresColumnas.lstIndicadores[6].Mostrar ? 'none' : ''}"><span class="girar">VVP</span></th>
                            <th class="text-center px-0 mx-0" style="border:1px solid;" scope="col" [ngStyle]="{'display': _indicadoresColumnas.lstIndicadores[7].Mostrar ? 'none' : ''}"><span class="girar">CLPDLB</span></th>
                            <th class="text-center px-0 mx-0" style="border:1px solid;" scope="col" [ngStyle]="{'display': _indicadoresColumnas.lstIndicadores[8].Mostrar ? 'none' : ''}"><span class="girar">CPFDLB</span></th>
                            <th class="text-center px-0 mx-0" style="border:1px solid;" scope="col" [ngStyle]="{'display': _indicadoresColumnas.lstIndicadores[9].Mostrar ? 'none' : ''}"><span class="girar">CPWDLB</span></th>
                            <th class="text-center px-0 mx-0" style="border:1px solid;" scope="col" [ngStyle]="{'display': _indicadoresColumnas.lstIndicadores[10].Mostrar ? 'none' : ''}"><span class="girar">CLPDP</span></th>
                            <th class="text-center px-0 mx-0" style="border:1px solid;" scope="col" [ngStyle]="{'display': _indicadoresColumnas.lstIndicadores[11].Mostrar ? 'none' : ''}"><span class="girar">CPFDP</span></th>
                            <th class="text-center px-0 mx-0" style="border:1px solid;" scope="col" [ngStyle]="{'display': _indicadoresColumnas.lstIndicadores[12].Mostrar ? 'none' : ''}"><span class="girar">CPWDP</span></th>
                            <th class="text-center px-0 mx-0" style="border:1px solid;" scope="col" [ngStyle]="{'display': _indicadoresColumnas.lstIndicadores[13].Mostrar ? 'none' : ''}"><span class="girar">FDP</span></th>
                            <th class="text-center px-0 mx-0" style="border:1px solid;" scope="col" [ngStyle]="{'display': _indicadoresColumnas.lstIndicadores[14].Mostrar ? 'none' : ''}"><span class="girar">IROV</span></th>
                            <th class="text-center px-0 mx-0" style="border:1px solid;" scope="col" [ngStyle]="{'display': _indicadoresColumnas.lstIndicadores[15].Mostrar ? 'none' : ''}"><span class="girar">CPCEDP</span></th>
                            <th class="text-center px-0 mx-0" style="border:1px solid;" scope="col" [ngStyle]="{'display': _indicadoresColumnas.lstIndicadores[16].Mostrar ? 'none' : ''}"><span class="girar">VPP</span></th>
                            <th class="text-center" scope="col" style="border-radius: 0px 20px 0px 0px;">Fecha de evento</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of _estadisticasCliente">
                                <td class="text-primary" >{{item.Id_Publicacion}}</td>
                                <td class="text-primary" >
                                  <a class="text-truncate" (click)="verPublicacionCliente(item)" style="cursor:pointer;">
                                    <p class="text-primary text-truncate my-0" style="cursor:pointer; max-width:200px" data-toggle="tooltip" data-placement="top" title="{{item.TituloPublicacion}}">{{item.TituloPublicacion}}</p>
                                  </a>
                                </td>
                                <td class="text-primary px-0 mx-0 text-center" style="width:auto; border: 1px solid;" [ngStyle]="{'display': _indicadoresColumnas.lstIndicadores[0].Mostrar ? 'none' : ''}"><span *ngIf="item.VistaTelefono != 0">{{item.VistaTelefono}}</span></td>
                                <td class="text-primary px-0 mx-0 text-center" style="width:auto; border: 1px solid;" [ngStyle]="{'display': _indicadoresColumnas.lstIndicadores[1].Mostrar ? 'none' : ''}"><span *ngIf="item.EnvioMensaje != 0">{{item.EnvioMensaje}}</span></td>
                                <td class="text-primary px-0 mx-0 text-center" style="width:auto; border: 1px solid;" [ngStyle]="{'display': _indicadoresColumnas.lstIndicadores[2].Mostrar ? 'none' : ''}"><span *ngIf="item.ContactoWhatssAppDesdePublicacion != 0">{{item.ContactoWhatssAppDesdePublicacion}}</span></td>
                                <td class="text-primary px-0 mx-0 text-center" style="width:auto; border: 1px solid;" [ngStyle]="{'display': _indicadoresColumnas.lstIndicadores[3].Mostrar ? 'none' : ''}"><span *ngIf="item.VistaPublicacion != 0">{{item.VistaPublicacion}}</span></td>
                                <td class="text-primary px-0 mx-0 text-center" style="width:auto; border: 1px solid;" [ngStyle]="{'display': _indicadoresColumnas.lstIndicadores[4].Mostrar ? 'none' : ''}"><span *ngIf="item.VistaPublicacionEnListado != 0">{{item.VistaPublicacionEnListado}}</span></td>
                                <td class="text-primary px-0 mx-0 text-center" style="width:auto; border: 1px solid;" [ngStyle]="{'display': _indicadoresColumnas.lstIndicadores[5].Mostrar ? 'none' : ''}"><span *ngIf="item.VistaFotografias != 0">{{item.VistaFotografias}}</span></td>
                                <td class="text-primary px-0 mx-0 text-center" style="width:auto; border: 1px solid;" [ngStyle]="{'display': _indicadoresColumnas.lstIndicadores[6].Mostrar ? 'none' : ''}"><span *ngIf="item.VistaVideos != 0">{{item.VistaVideos}}</span></td>
                                <td class="text-primary px-0 mx-0 text-center" style="width:auto; border: 1px solid;" [ngStyle]="{'display': _indicadoresColumnas.lstIndicadores[7].Mostrar ? 'none' : ''}"><span *ngIf="item.CompartirLinkPublicacionDesdeListado != 0">{{item.CompartirLinkPublicacionDesdeListado}}</span></td>
                                <td class="text-primary px-0 mx-0 text-center" style="width:auto; border: 1px solid;" [ngStyle]="{'display': _indicadoresColumnas.lstIndicadores[8].Mostrar ? 'none' : ''}"><span *ngIf="item.CompartirPublicacionFacebookDesdeListado != 0">{{item.CompartirPublicacionFacebookDesdeListado}}</span></td>
                                <td class="text-primary px-0 mx-0 text-center" style="width:auto; border: 1px solid;" [ngStyle]="{'display': _indicadoresColumnas.lstIndicadores[9].Mostrar ? 'none' : ''}"><span *ngIf="item.CompartirPublicacionWhatssAppDesdeListado != 0">{{item.CompartirPublicacionWhatssAppDesdeListado}}</span></td>
                                <td class="text-primary px-0 mx-0 text-center" style="width:auto; border: 1px solid;" [ngStyle]="{'display': _indicadoresColumnas.lstIndicadores[10].Mostrar ? 'none' : ''}"><span *ngIf="item.CompartirLinkPublicacionDesdePublicacion != 0">{{item.CompartirLinkPublicacionDesdePublicacion}}</span></td>
                                <td class="text-primary px-0 mx-0 text-center" style="width:auto; border: 1px solid;" [ngStyle]="{'display': _indicadoresColumnas.lstIndicadores[11].Mostrar ? 'none' : ''}"><span *ngIf="item.CompartirPublicacionFacebookDesdePublicacion != 0">{{item.CompartirPublicacionFacebookDesdePublicacion}}</span></td>
                                <td class="text-primary px-0 mx-0 text-center" style="width:auto; border: 1px solid;" [ngStyle]="{'display': _indicadoresColumnas.lstIndicadores[12].Mostrar ? 'none' : ''}"><span *ngIf="item.CompartirPublicacionWhatssAppDesdePublicacion != 0">{{item.CompartirPublicacionWhatssAppDesdePublicacion}}</span></td>
                                <td class="text-primary px-0 mx-0 text-center" style="width:auto; border: 1px solid;" [ngStyle]="{'display': _indicadoresColumnas.lstIndicadores[13].Mostrar ? 'none' : ''}"><span *ngIf="item.FavoritoDurantePublicacion != 0">{{item.FavoritoDurantePublicacion}}</span></td>
                                <td class="text-primary px-0 mx-0 text-center" style="width:auto; border: 1px solid;" [ngStyle]="{'display': _indicadoresColumnas.lstIndicadores[14].Mostrar ? 'none' : ''}"><span *ngIf="item.InmuebleRentadoOVendido != 0">{{item.InmuebleRentadoOVendido}}</span></td>
                                <td class="text-primary px-0 mx-0 text-center" style="width:auto; border: 1px solid;" [ngStyle]="{'display': _indicadoresColumnas.lstIndicadores[15].Mostrar ? 'none' : ''}"><span *ngIf="item.CompartirPublicacionCorreoElectronicoDesdePublicacion != 0">{{item.CompartirPublicacionCorreoElectronicoDesdePublicacion}}</span></td>
                                <td class="text-primary px-0 mx-0 text-center" style="width:auto; border: 1px solid;" [ngStyle]="{'display': _indicadoresColumnas.lstIndicadores[16].Mostrar ? 'none' : ''}"><span *ngIf="item.VistaPlanosPublicacion != 0">{{item.VistaPlanosPublicacion}}</span></td>
                                <td class="text-primary text-center" style="width:auto; min-width: 50px;" >{{item.FechaEnvio | date : 'dd/MM/yyyy'}}</td>
                            </tr>
                        </tbody>
                    </table>
                  </div>

                  <div *ngIf="_seRealizaBusqueda" class="d-flex justify-content-center">
                    <nav aria-label="Page navigation py-0 m-0">
                      <ul class="pagination">
                        <li class="page-item mx-1" [ngStyle]="{'pointer-events': _mostrarPaginaAnterior ? 'auto' : 'none', 'visibility': _mostrarPaginaAnterior && _paginadoDetalle.TotalPaginas > _numeroPaginasMostrar ? 'visible' : 'hidden'}">
                          <button id="btnPaginador" class="page-link color-text-box" style="border-radius: 30px;" (click)="obtenerPaginaAnterior()" aria-label="Previous">
                            <span><i class="fa-solid fa-arrow-left"></i></span>
                          </button>
                        </li>
                        <li *ngFor="let pagina of _paginas" class="page-item mx-1">
                          <button id="btnPaginador" class="page-link color-text-box br25" style="width:40px; height:40px;" [ngStyle]="{'border': pagina.Activa ? '1px solid #bf4080' : '', 'background-color': pagina.Activa ? 'rgba(223, 126, 137, .4)' : ''}" (click)="ejecutarConsulta(pagina.Pagina)" [disabled]="pagina.Activa">
                            <span style="position:absolute; top:50%; left:50%; transform:translate(-50%, -50%)">{{pagina.Pagina+1}}</span>
                          </button>
                        </li>
                        <li class="page-item mx-1" [ngStyle]="{'pointer-events': _mostrarPaginaSiguiente ? 'auto' : 'none', 'visibility': _mostrarPaginaSiguiente && _paginadoDetalle.TotalPaginas > _numeroPaginasMostrar ? 'visible' : 'hidden'}">
                          <button id="btnPaginador" class="page-link color-text-box" style="border-radius: 30px;" (click)="obtenerPaginaSiguiente()" aria-label="Next">
                            <span><i class="fa-solid fa-arrow-right"></i></span>
                          </button>
                        </li>
                        <li class="page-item mx-1">
                          <form [formGroup]="formaNumeroPagina">
                            <div class="row">
                              <div class="col-md-5">
                                <input type="number" 
                                        class="form-control text-primary color-text-box br25"
                                        formControlName="numeroPagina">
                              </div>
                              <div class="col p-0">
                                <button type="submit" class="btn btn-sm btn-primary br25" style="position: relative; top: 50%;transform: translateY(-50%);" (click)="ejecutarConsulta(null)">
                                  <span><i class="fa-solid fa-angles-right"></i></span></button>
                              </div>
                            </div>
                          </form>
                        </li>
                      </ul>
                    </nav>
                  </div>


                </div>
              </div>

            <div [ngClass]="{' col-md-3': _mostrarFiltros, ' col-md-0': !_mostrarFiltros}" [ngStyle]="{'display': !_mostrarFiltros ? 'none' : 'inline' }" >

                <div class="sticky-md-top row px-2" style="top:10px; left:10px;">
      
                    <div class="accordion mb-2 p-1" id="accordionPanelsStayOpenExample">

                      <div class="accordion-item color-modal" style="box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.5);">
                        <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                          <button #myColapseFiltro5 class="accordion-button p-2 text-primary color-collapse collapsed" type="button" (click)="colapseIndicador()" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                            Indicadores
                          </button>
                        </h2>
                        <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
                          <div class="accordion-body p-0 py-1 overflow-auto" style="height:10rem;">
                            <div class="py-2">
                              <span class="br25 px-1" style="position:relative; left:2px; cursor: pointer; font-size:1em; border:none; height:0px;" (click)="mostrarIndicadores()" >
                                <i *ngIf="_mostrarIndicadores" class="fa fa-eye coloreye coloreye"></i> <span *ngIf="_mostrarIndicadores" class="badge text-primary"> - TODOS</span>
                                <i *ngIf="!_mostrarIndicadores" class="fa fa-eye-slash coloreye"></i> <span *ngIf="!_mostrarIndicadores" class="badge text-primary"> - NINGUNO</span>
                              </span>
                            </div>
                            <div *ngFor="let indicador of _indicadoresColumnas.lstIndicadores">
                              <span *ngIf="indicador.Mostrar" class="badge text-primary text-truncate py-0" style="cursor: pointer; font-size:0.75em; font-weight: 700; max-width: 220px;" data-toggle="tooltip" data-placement="top" title="{{indicador.Clave}} - {{indicador.DescripcionCorta}}" (click)="seleccionarColumnaIndicador(indicador)">
                                  <i class="fa fa-eye-slash mx-1 coloreye"></i>{{indicador.Clave}} - {{indicador.DescripcionCorta}}
                              </span>
                              <span *ngIf="!indicador.Mostrar" class="badge text-primary text-truncate py-0" style="cursor: pointer; font-size:0.75em; font-weight: 700; max-width: 220px;" data-toggle="tooltip" data-placement="top" title="{{indicador.Clave}} - {{indicador.DescripcionCorta}}" (click)="seleccionarColumnaIndicador(indicador)">
                                  <i class="fa fa-eye mx-1 coloreye"></i>{{indicador.Clave}} - {{indicador.DescripcionCorta}}
                              </span>
                          </div>
                          </div>
                        </div>
                      </div>
      
                    </div>


                    <div class="row mx-1 text-primary br15 px-1" style="border: 1px solid; box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.5);">
                      <div class="row">
                        <div class="col-md-8">
                          <h3 class="text-primary text-center">Filtros</h3>
                        </div>
                        <div class="col-md-2 py-1">
                          <button class="btn btn-outline-primary btn-sm br25" type="button" (click)="colapsarFiltros()" style="border: 0px;">
                            <span class="col-md-1 text-center">
                              <i *ngIf="!_collapseFiltros" class="fa-solid fa-arrow-down"></i>
                              <i *ngIf="_collapseFiltros" class="fa-solid fa-arrow-up"></i>
                            </span>
                          </button>
                        </div>
                        <div class="col-md-2 py-1">
                          <button class="btn btn-outline-primary btn-sm br25" type="button" (click)="eliminarFiltros()" style="border: 0px;">
                            <span class="col-md-1 text-center">
                              <i class="fa-solid fa-eraser"></i>
                            </span>
                          </button>
                        </div>
                      </div>
                      
                      <div *ngFor="let publicacion of _filtrosSeleccionados.lstPublicaciones">
                        <p class="text-primary my-1" style="cursor: pointer; font-size:0.75em; font-weight: 700;">
                          {{publicacion.Id_Publicacion}} - {{publicacion.TituloPublicacion}}
                          <button type="button" class="btn btn-primary p-0 m-0 br25" (click)="removerFiltroPublicacion(publicacion)" style="width:20px; height:20px; line-height: 0 !important;">
                            <i class="fa fa-xmark" style="font-size: 10px;" ></i>
                          </button>
                        </p>
                      </div>
        
                      <div *ngFor="let email of _filtrosSeleccionados.lstEmails">
                        <p class="text-primary my-1" style="cursor: pointer; font-size:0.75em; font-weight: 700;">
                          {{email.Email}}
                          <button type="button" class="btn btn-primary p-0 m-0 br25" (click)="removerFiltroEmail(email)" style="width:20px; height:20px; line-height: 0 !important;">
                            <i class="fa fa-xmark" style="font-size: 10px;" ></i>
                          </button>
                        </p>
                      </div>

                      <div *ngFor="let estatus of _filtrosSeleccionados.lstEstatus">
                        <p class="text-primary my-1" style="cursor: pointer; font-size:0.75em; font-weight: 700;">
                          {{estatus.Descripcion}}
                          <button type="button" class="btn btn-primary p-0 m-0 br25" (click)="removerFiltroEstatus(estatus)" style="width:20px; height:20px; line-height: 0 !important;">
                            <i class="fa fa-xmark" style="font-size: 10px;" ></i>
                          </button>
                        </p>
                      </div>

                      <div *ngFor="let fecha of _filtrosSeleccionados.lstFechasInicioPublicacion">
                        <p class="text-primary my-1" style="cursor: pointer; font-size:0.75em; font-weight: 700;">
                          Fecha publicación: {{fecha.FechaInicioPublicacion | date:'dd/MM/yyyy'}}
                          <button type="button" class="btn btn-primary p-0 m-0 br25" (click)="removerFiltroFechaInicioPublicacion(fecha)" style="width:20px; height:20px; line-height: 0 !important;">
                            <i class="fa fa-xmark" style="font-size: 10px;" ></i>
                          </button>
                        </p>
                      </div>
        
                      <div class="accordion mb-2 p-1" id="accordionPanelsStayOpenExample">

                        <!-- <div class="accordion-item color-modal">
                          <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                            <button #myColapseFiltro5 class="accordion-button p-2 text-primary color-collapse collapsed" type="button" (click)="colapseIndicador()" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                              Indicador
                            </button>
                          </h2>
                          <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
                            <div class="accordion-body p-2 overflow-auto" style="height:10rem;">
                              <div *ngFor="let indicador of _estadisticasClienteFiltros.lstIndicadores">
                                <p class="text-primary my-1" style="cursor: pointer; font-size:0.75em; font-weight: 700;" (click)="seleccionarFiltroIndicador(indicador)">
                                    {{indicador.Clave}} - {{indicador.DescripcionCorta}}
                                </p>
                            </div>
                            </div>
                          </div>
                        </div> -->

                        <div class="accordion-item color-modal" [ngStyle]="{'display': !_verFiltros.Estatus ? 'none' : '' }">
                          <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                            <button #myColapseFiltro3 class="accordion-button p-2 text-primary color-collapse collapsed" type="button" (click)="colapseEstatus()" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                              Estatus
                            </button>
                          </h2>
                          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                            <div class="accordion-body p-2">
                              <div *ngFor="let estatus of _estadisticasClienteFiltros.lstEstatus">
                                <p class="text-primary my-1" style="cursor: pointer; font-size:0.75em; font-weight: 700;" (click)="seleccionarFiltroEstatus(estatus)">
                                    {{estatus.Descripcion}}
                                </p>
                            </div>
                            </div>
                          </div>
                        </div>

                        <div class="accordion-item color-modal" [ngStyle]="{'display': !_verFiltros.Publicacion ? 'none' : '' }">
                          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                            <button #myColapseFiltro1 class="accordion-button p-2 text-primary color-collapse collapsed" type="button" (click)="colapsePublicacion()" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                              Publicaciones
                            </button>
                          </h2>
                          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
                            <div class="accordion-body p-2 overflow-auto" style="height:10rem;">
                              <div *ngFor="let publicacion of _estadisticasClienteFiltros.lstPublicaciones">
                                <p class="text-primary my-1" style="cursor: pointer; font-size:0.75em; font-weight: 700;" (click)="seleccionarFiltroPublicacion(publicacion)">
                                    {{publicacion.Id_Publicacion}} - {{publicacion.TituloPublicacion}}
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
        
                        <div class="accordion-item color-modal" [ngStyle]="{'display': !_verFiltros.Email ? 'none' : '' }">
                          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                            <button #myColapseFiltro2 class="accordion-button p-2 text-primary color-collapse collapsed" type="button" (click)="colapseEmail()" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                              Emails
                            </button>
                          </h2>
                          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                            <div class="accordion-body p-2 overflow-auto" style="height:8rem;">
                              <div *ngFor="let email of _estadisticasClienteFiltros.lstEmails">
                                <p class="text-primary my-1" style="cursor: pointer; font-size:0.75em; font-weight: 700;" (click)="seleccionarFiltroEmail(email)">
                                    {{email.Email}}
                                </p>
                            </div>
                            </div>
                          </div>
                        </div>
                        
                        <div class="accordion-item color-modal" [ngStyle]="{'display': !_verFiltros.FechaInicioPublicacion ? 'none' : '' }">
                          <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                            <button #myColapseFiltro4 class="accordion-button p-2 text-primary color-collapse collapsed" type="button" (click)="colapseFechaInicioPublicacion()" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                              Fecha publicación
                            </button>
                          </h2>
                          <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                            <div class="accordion-body p-2 overflow-auto" style="height:8rem;">
                              <div *ngFor="let fecha of _estadisticasClienteFiltros.lstFechasInicioPublicacion">
                                <p class="text-primary my-1" style="cursor: pointer; font-size:0.75em; font-weight: 700;" (click)="seleccionarFiltroFechaInicioPublicacion(fecha)">
                                    {{fecha.FechaInicioPublicacion | date:'dd/MM/yyyy'}}
                                </p>
                            </div>
                            </div>
                          </div>
                        </div>
        
                      </div>
                  </div>
      
                </div>
                
              </div>

        </div>
      </div>

      <div *ngIf="_cargandoInformacion">
        <app-loading [_textoLoading]="'Cargando tus indicadores...'"></app-loading>
      </div>

    </div>
</div>