<form [formGroup]="formRP" (ngSubmit)="recuperarPassword()">
    <div class="form-group row py-3">
      <label class="col-md-12 col-form-label text-center"><h1 class="display-4 text-primary">Recuperar contraseña</h1></label>
    </div>
  
      <div class="form-group row py-3">
          <label class="col-md-2 col-form-label text-primary text-end">Correo electrónico</label>
          <div class="col-md-4 col-10 p-0">
          <input class="form-control text-primary"
                 type="email"
                 email
                 placeholder="Correo electrónico"
                 formControlName="correo"
                 [class.is-invalid]="correoNoValido"
          />
        </div>
        <div class="col-md-4 col-form-label">
          <small *ngIf="correoNoValido" class="text-danger">
            Ingrese el correo
          </small>
        </div>
      </div>
    
      <div class="form-group row py-3">
        <label class="col-md-2 col-form-label">&nbsp;</label>
        <div class="col-4 d-grid gap-2 mix-auto">
          <button type="submit" class="btn btn-primary btn-lg">Recuperar contraseña</button>
        </div>
      </div>
  
    </form>
    