<div class="">
    <table class="table text-primary table-striped color-table">
        <thead>
          <tr>
            <th class="text-center" scope="col" style="border-radius: 20px 0px 0px 0px;">#</th>
            <th class="text-center" scope="col">Nombre</th>
            <th class="text-center" scope="col">Mensaje</th>
            <th class="text-center" scope="col">Fecha de envio</th>
            <th class="text-center" scope="col" style="border-radius: 0px 20px 0px 0px;">Acción</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let mensaje of _mensajesUsuarios">
                <td class="text-primary" >{{mensaje.Id_PublicacionMensaje}}</td>
                <td class="text-primary" width="15%">{{mensaje.Nombre}}</td>
                <td class="text-primary" width="40%">{{mensaje.Mensaje}}</td>
                <td class="text-primary text-center">{{mensaje.FechaAlta | date:'dd-MM-yyyy'}}</td>
                <td class="text-primary text-center">
                    <button type="button" class="btn btn-outline-primary br25" (click)="responderMensaje()">
                        <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o"></i></span>
                    </button>
                    <button type="button" class="btn btn-primary mx-1 br25" (click)="responderWhatsApp(mensaje)" style="background-color:#4fce5d; border:none !important">
                        <span class="col-md-1 col-md-offset-2 text-center"><i class="fa-brands fa-whatsapp"></i></span>
                    </button>
                    <button type="button" class="btn btn-outline-primary br25" (click)="eliminarMensaje(mensaje)">
                        <span class="col-md-1 col-md-offset-2 text-center"><i class="fa-solid fa-trash-can"></i></span>
                    </button>
                </td>
            </tr>
        </tbody>
      </table>
    <!-- <div class="form-group row mb-1" *ngFor="let mensaje of _mensajesUsuarios">
        <app-mensajeusuario [_mensajeUsuario]="mensaje" (_ResponderMensaje)="responderMensaje()" (_ResponderWhatsApp)="responderWhatsApp(mensaje)" (_EliminarMensaje)="eliminarMensaje(mensaje)"></app-mensajeusuario>
        <hr>
    </div> -->
</div>