<div class="container p-0">
    <div class="row">

        <legend class="text-center text-primary mb-3"><h1 class="display-4" style="text-shadow: 3px 3px 7px black;">Mis mensajes y notificaciones</h1></legend>

        <div *ngIf="!_cargandoInformacion">
          <div class="form-group row mb-3 px-2">
              <div class="col-md-1 px-0">
              </div>
              <div class="col-md-8 px-0"></div>
              <div class="col-md-3 p-0 text-end">
                <label class="text-primary text-end px-3">Total de mensajes: {{_paginadoDetalle.TotalRegistros}}</label>
                <button class="btn btn-primary btn-sm br25" (click)="mostrarFiltros()">
                    <span class="col-md-1 text-center">
                      <i [ngClass]="{' fa-regular fa-eye': _mostrarFiltros, ' fa-solid fa-eye-slash': !_mostrarFiltros}" ></i>
                    </span>
                </button>
              </div>
          </div>

          <div class="row">

              <div [ngClass]="{' col-md-6': _mostrarFiltros, ' col-md-9': !_mostrarFiltros}">
                <div class="row">
                  <div class="col-md-12">
                    <table class="table table-sm text-primary table-striped color-table br15" style="box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.5);">
                        <thead>
                        <tr>
                            <th class="text-center" scope="col" style="border-radius: 20px 0px 0px 0px; max-width: 100px;">#</th>
                            <th class="text-center" scope="col">Publicación</th>
                            <th class="text-center" scope="col">Fec. recibido</th>
                            <th class="text-center" scope="col" style="border-radius: 0px 20px 0px 0px;">Acción</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let mensaje of _mensajesUsuarios">
                                <td *ngIf="mensaje.Id_Estatus === 18" class="text-primary" style="width:auto;" ><strong>{{mensaje.Id_PublicacionMensaje}}</strong></td>
                                <td *ngIf="mensaje.Id_Estatus != 18" class="text-primary" style="width:auto;" >{{mensaje.Id_PublicacionMensaje}}</td>
                                <td *ngIf="mensaje.Id_Estatus === 18" class="text-primary text-truncate" width="70%" style="cursor:pointer; max-width: 50px;">
                                    <a class="text-truncate" [href]="'propiedad/' + (this.mensaje.TituloPublicacion).replaceAll(' ','-') + '-' + this.mensaje.Id_Publicacion" target="_blank">
                                        <p class="text-primary my-0"><strong>{{mensaje.TituloPublicacion}}</strong></p>
                                    </a>
                                </td>
                                <td *ngIf="mensaje.Id_Estatus != 18" class="text-primary text-truncate" width="70%" style="cursor:pointer; max-width: 50px;">
                                    <a class="text-truncate" [href]="'propiedad/' + (this.mensaje.TituloPublicacion).replaceAll(' ','-') + '-' + this.mensaje.Id_Publicacion" target="_blank">
                                        <p class="text-primary my-0">{{mensaje.TituloPublicacion}}</p>
                                    </a>
                                </td>
                                <td *ngIf="mensaje.Id_Estatus === 18" class="text-primary text-truncate" style="width:auto; min-width: 50px;" ><strong>{{mensaje.FechaAlta | date : 'dd/MM/yyyy HH:mm'}}</strong></td>
                                <td *ngIf="mensaje.Id_Estatus != 18" class="text-primary text-truncate" style="width:auto; min-width: 50px;" >{{mensaje.FechaAlta | date : 'dd/MM/yyyy HH:mm'}}</td>
                                <td class="text-primary text-center" style="width:auto; min-width:160px;">
                                    <button type="button" class="btn btn-outline-primary br25" (click)="verMensaje(mensaje)" style="width:30px; height:30px; line-height: 0 !important; border:none;" >
                                        <span class="text-center" style="position:relative; top:0px; left:-8px; top:0px"><i class="fa fa-eye" style="font-size: 20px;"></i></span>
                                    </button>
                                    <a class="btn btn-primary mx-1 br25" (click)="responderWhatsApp(mensaje)" style="width:30px; height:30px; line-height: 0 !important; background-color:#4fce5d; border:none !important; cursor:pointer !important;">
                                        <span class="text-center" style="position:relative; top:0px; left:-3px; top:1px"><i class="fa-brands fa-whatsapp"></i></span>
                                    </a>
                                    <a class="btn btn-outline-primary mx-1 br25" (click)="responderEmail(mensaje)" style="width:30px; height:30px; line-height: 0 !important; border:none !important; cursor:pointer !important;">
                                        <span class="text-center" style="position:relative; top:0px; left:-6px; top:1px"><i class="fa fa-reply"></i></span>
                                    </a>
                                    <button type="button" class="btn btn-outline-danger br25" (click)="eliminarMensaje(mensaje)" style="width:30px; height:30px; line-height: 0 !important; border:none;">
                                        <span class="text-center" style="position:relative; top:0px; left:-4px; top:-1px"><i class="fa-solid fa-trash-can"></i></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                  </div>

                  <div *ngIf="_seRealizaBusqueda" class="d-flex justify-content-center">
                    <nav aria-label="Page navigation py-0 m-0">
                      <ul class="pagination">
                        <li class="page-item mx-2" [ngStyle]="{'pointer-events': _mostrarPaginaAnterior ? 'auto' : 'none', 'visibility': _mostrarPaginaAnterior && _paginadoDetalle.TotalPaginas > _numeroPaginasMostrar ? 'visible' : 'hidden'}" >
                          <button id="btnPaginador" class="page-link color-text-box" style="border-radius: 30px;" (click)="obtenerPaginaAnterior()" aria-label="Previous">
                            <span><i class="fa-solid fa-arrow-left"></i></span>
                          </button>
                        </li>
                        <li *ngFor="let pagina of _paginas" class="page-item mx-1">
                          <button id="btnPaginador" class="page-link color-text-box br25" style="width:40px; height:40px;" [ngStyle]="{'border': pagina.Activa ? '1px solid #bf4080' : '', 'background-color': pagina.Activa ? 'rgba(223, 126, 137, .4)' : ''}" (click)="ejecutarConsulta(pagina.Pagina)" [disabled]="pagina.Activa">
                            <span style="position:absolute; top:50%; left:50%; transform:translate(-50%, -50%)">{{pagina.Pagina+1}}</span>
                          </button>
                        </li>
                        <li class="page-item mx-1" [ngStyle]="{'pointer-events': _mostrarPaginaSiguiente ? 'auto' : 'none', 'visibility': _mostrarPaginaSiguiente && _paginadoDetalle.TotalPaginas > _numeroPaginasMostrar ? 'visible' : 'hidden'}" >
                          <button id="btnPaginador" class="page-link color-text-box" style="border-radius: 30px;" (click)="obtenerPaginaSiguiente()" aria-label="Next">
                            <span><i class="fa-solid fa-arrow-right"></i></span>
                          </button>
                        </li>
                        <li class="page-item mx-1">
                          <form [formGroup]="formaNumeroPagina">
                            <div class="row">
                              <div class="col mx-auto">
                                <input type="number" 
                                      class="form-control text-primary color-text-box br25"
                                      formControlName="numeroPagina">
                              </div>
                              <div class="col p-0">
                                <button type="submit" class="btn btn-sm btn-primary br25" style="position: relative; top: 50%;transform: translateY(-50%);" (click)="ejecutarConsulta(null)">
                                  <span><i class="fa-solid fa-angles-right"></i></span></button>
                              </div>
                            </div>
                          </form>
                        </li>
                      </ul>
                    </nav>
                  </div>


                </div>
              </div>

              <div class="col-md-3 px-0">
                <div class="sticky-md-top text-primary br15" style="top:10px; left:10px;">
                  <table class="table table-sm text-primary table-striped color-table br15" style="box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.5);">
                    <thead>
                    <tr>
                        <th class="text-center" scope="col" style="border-radius: 20px 0px 0px 0px; max-width: 100px;">Contenido del mensaje</th>
                    </tr>
                    </thead>
                    <tbody *ngIf="_mensajeSeleccionado.Id_PublicacionMensaje != 0">
                      <tr>
                        <td><p class="text-primary my-0"><strong>Id:</strong> {{_mensajeSeleccionado.Id_PublicacionMensaje}}</p></td>
                      </tr>
                      <tr>
                        <td><p class="text-primary my-0"><strong>Estatus publicación: </strong><kbd class="bg-color-2">{{_mensajeSeleccionado.EstatusPublicacion}}</kbd></p></td>
                      </tr>
                      <tr>
                        <td><p class="text-primary my-0"><strong>Fecha recibido:</strong> {{_mensajeSeleccionado.FechaAlta | date : 'dd/MM/yyyy HH:mm'}}</p></td>
                      </tr>
                      <tr>
                        <td *ngIf="_mensajeSeleccionado.Id_Estatus === 20"><p class="text-primary my-0"><strong>Fecha lectura:</strong> {{_mensajeSeleccionado.FechaModificacion | date : 'dd/MM/yyyy HH:mm'}}</p></td>
                      </tr>
                      <tr>
                        <td><p class="text-primary my-0"><strong>Nombre:</strong> {{_mensajeSeleccionado.Nombre}}</p></td>
                      </tr>
                      <tr>
                        <td><p class="text-primary my-0"><strong>Teléfono:</strong> {{_mensajeSeleccionado.Telefono}}</p></td>
                      </tr>
                      <tr>
                        <td><p class="text-primary my-0"><strong>Correo electrónico:</strong> {{_mensajeSeleccionado.Email}}</p></td>
                      </tr>
                      <tr>
                        <td *ngIf="_mensajeSeleccionado.Id_Indicador === 1"><p class="text-primary text-center my-0"><strong>Vieron tu  número telefónico</strong></p></td>
                        <td *ngIf="_mensajeSeleccionado.Id_Indicador === 2"><p class="text-primary my-0"><strong>Mensaje:</strong> {{_mensajeSeleccionado.Mensaje}}</p></td>
                        <td *ngIf="_mensajeSeleccionado.Id_Indicador === 3"><p class="text-primary text-center my-0"><strong>Se contactaron contigo via WhatssApp</strong></p></td>
                      </tr>
                    </tbody>
                    <tbody *ngIf="_mensajeSeleccionado.Id_PublicacionMensaje === 0">
                      <tr>
                        <td><p class="text-primary text-center my-0">Selecciona un mensaje para visualizar su contenido presionando el icono <i class="fa fa-eye"></i> que se encuentra a la izquierda del icono de Whatssapp.</p></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div style="padding:0rem 0rem 0rem 1rem;" [ngClass]="{' col-md-3': _mostrarFiltros, ' col-md-0': !_mostrarFiltros}" [ngStyle]="{'display': !_mostrarFiltros ? 'none' : 'inline' }" >
                  <div class="sticky-md-top text-primary br15" style="top:10px; left:10px; border: 1px solid; box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.5);" >
                    <div class="row px-3" >
                        <div class="row">
                          <div class="col-md-8">
                            <h3 class="text-primary text-center">Filtros</h3>
                          </div>
                          <div class="col-md-2 py-1">
                            <button class="btn btn-outline-primary btn-sm br25" type="button" (click)="colapsarFiltros()" style="border: 0px;">
                              <span class="col-md-1 text-center">
                                <i *ngIf="!_collapseFiltros" class="fa-solid fa-arrow-down"></i>
                                <i *ngIf="_collapseFiltros" class="fa-solid fa-arrow-up"></i>
                              </span>
                            </button>
                          </div>
                          <div class="col-md-2 py-1">
                            <button class="btn btn-outline-primary btn-sm br25" type="button" (click)="eliminarFiltros()" style="border: 0px;">
                              <span class="col-md-1 text-center">
                                <i class="fa-solid fa-eraser"></i>
                              </span>
                            </button>
                          </div>
                        </div>
                        
          
                        <div *ngFor="let filtroEstatus of _filtrosSeleccionados.lstEstatus">
                          <p class="text-primary" style="cursor: pointer; font-size:0.75em; font-weight: 700;">
                            {{filtroEstatus.Descripcion}}
                            <button type="button" class="btn btn-primary p-0 m-0 br25" (click)="removerFiltroEstatus(filtroEstatus)" style="width:20px; height:20px; line-height: 0 !important;">
                              <i class="fa fa-xmark" style="font-size: 10px;" ></i>
                            </button>
                          </p>
                        </div>
          
                        <div *ngFor="let filtroIndicador of _filtrosSeleccionados.lstIndicadores">
                          <p class="text-primary" style="cursor: pointer; font-size:0.75em; font-weight: 700;">
                            {{filtroIndicador.Descripcion}}
                            <button type="button" class="btn btn-primary p-0 m-0 br25" (click)="removerFiltroIndicador(filtroIndicador)" style="width:20px; height:20px; line-height: 0 !important;">
                              <i class="fa fa-xmark" style="font-size: 10px;" ></i>
                            </button>
                          </p>
                        </div>
          
                        <div *ngFor="let filtroPublicacion of _filtrosSeleccionados.lstPublicaciones">
                          <p class="text-primary" style="cursor: pointer; font-size:0.75em; font-weight: 700;">
                            {{filtroPublicacion.Id_Publicacion}} - {{filtroPublicacion.TituloPublicacion}}
                            <button type="button" class="btn btn-primary p-0 m-0 br25" (click)="removerFiltroPublicacion(filtroPublicacion)" style="width:20px; height:20px; line-height: 0 !important;">
                              <i class="fa fa-xmark" style="font-size: 10px;" ></i>
                            </button>
                          </p>
                        </div>

                        <div *ngFor="let filtroEmail of _filtrosSeleccionados.lstEmails">
                          <p class="text-primary" style="cursor: pointer; font-size:0.75em; font-weight: 700;">
                            {{filtroEmail.Email}}
                            <button type="button" class="btn btn-primary p-0 m-0 br25" (click)="removerFiltroEmail(filtroEmail)" style="width:20px; height:20px; line-height: 0 !important;">
                              <i class="fa fa-xmark" style="font-size: 10px;" ></i>
                            </button>
                          </p>
                        </div>

                        <div *ngFor="let filtroFecha of _filtrosSeleccionados.lstFechas">
                          <p class="text-primary" style="cursor: pointer; font-size:0.75em; font-weight: 700;">
                            {{filtroFecha.FechaAlta | date : 'dd/MM/yyyy'}}
                            <button type="button" class="btn btn-primary p-0 m-0 br25" (click)="removerFiltroFecha(filtroFecha)" style="width:20px; height:20px; line-height: 0 !important;">
                              <i class="fa fa-xmark" style="font-size: 10px;" ></i>
                            </button>
                          </p>
                        </div>
          
                        <div class="accordion mb-2 p-1" id="accordionPanelsStayOpenExample">
                          <div class="accordion-item color-modal" [ngStyle]="{'display': !_verFiltros.Estatus ? 'none' : '' }">
                            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                              <button #myColapseFiltro1 class="accordion-button p-2 text-primary color-collapse collapsed" type="button" (click)="colapseEstatus()" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                                Estatus mensaje
                              </button>
                            </h2>
                            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
                              <div class="accordion-body p-2">
                                <div *ngFor="let item of _publicacionMensajesFiltros.lstEstatus">
                                  <p class="text-primary" (click)="seleccionarFiltroEstatus(item)" style="cursor: pointer; font-size:0.75em; font-weight: 700;" >
                                      {{item.Descripcion}} ({{item.Cantidad}})
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
          
                          <div class="accordion-item color-modal" [ngStyle]="{'display': !_verFiltros.Indicador ? 'none' : '' }">
                            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                              <button #myColapseFiltro2 class="accordion-button p-2 text-primary color-collapse collapsed" type="button" (click)="colapseAccion()" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                Tipo de contacto
                              </button>
                            </h2>
                            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                              <div class="accordion-body p-2">
                                <div *ngFor="let item of _publicacionMensajesFiltros.lstIndicadores">
                                  <p class="text-primary" (click)="seleccionarFiltroIndicador(item)" style="cursor: pointer; font-size:0.75em; font-weight: 700;" >
                                      {{item.Descripcion}} ({{item.Cantidad}})
                                  </p>
                              </div>
                              </div>
                            </div>
                          </div>
          
                          <div class="accordion-item color-modal" [ngStyle]="{'display': !_verFiltros.Publicacion ? 'none' : '' }">
                            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                              <button #myColapseFiltro3 class="accordion-button p-2 text-primary color-collapse collapsed" type="button" (click)="colapsePublicacion()" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                Publicación
                              </button>
                            </h2>
                            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                              <div class="accordion-body p-2 overflow-auto" style="height:10rem;">
                                <div *ngFor="let item of _publicacionMensajesFiltros.lstPublicaciones">
                                  <p class="text-primary" (click)="seleccionarFiltroPublicacion(item)" style="cursor: pointer; font-size:0.75em; font-weight: 700;" >
                                    {{item.Id_Publicacion}} - {{item.TituloPublicacion}} ({{item.Cantidad}})
                                  </p>
                              </div>
                              </div>
                            </div>
                          </div>

                          <div class="accordion-item color-modal" [ngStyle]="{'display': !_verFiltros.Email ? 'none' : '' }">
                              <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                                <button #myColapseFiltro4 class="accordion-button p-2 text-primary color-collapse collapsed" type="button" (click)="colapseEmail()" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                                  Email
                                </button>
                              </h2>
                              <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                                <div class="accordion-body p-2">
                                  <div *ngFor="let item of _publicacionMensajesFiltros.lstEmails">
                                    <p class="text-primary" (click)="seleccionarFiltroEmail(item)" style="cursor: pointer; font-size:0.75em; font-weight: 700;" >
                                        {{item.Email}} ({{item.Cantidad}})
                                    </p>
                                </div>
                                </div>
                              </div>
                          </div>

                          <div class="accordion-item color-modal" [ngStyle]="{'display': !_verFiltros.Fecha ? 'none' : '' }">
                              <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                                <button #myColapseFiltro5 class="accordion-button p-2 text-primary color-collapse collapsed" type="button" (click)="colapseFecha()" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                                  Fecha recibido
                                </button>
                              </h2>
                              <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
                                <div class="accordion-body p-2 overflow-auto" style="height:10rem;">
                                  <div *ngFor="let item of _publicacionMensajesFiltros.lstFechas">
                                    <p class="text-primary" (click)="seleccionarFiltroFecha(item)" style="cursor: pointer; font-size:0.75em; font-weight: 700;" >
                                        {{item.FechaAlta | date : 'dd/MM/yyyy'}} ({{item.Cantidad}})
                                    </p>
                                </div>
                                </div>
                              </div>
                          </div>

                        </div>
                    </div>
                  </div>
              </div>

          </div>
        </div>

        <div *ngIf="_cargandoInformacion">
          <app-loading [_textoLoading]="'Cargando tus mensajes y notificaciones...'"></app-loading>
        </div>

    </div>


</div>