/* i#corazon:hover{
    background: red;
    transition: background-color 1s;
} */

.telefonoOculto{
    background: -webkit-linear-gradient(left, rgba(191,64,128,1), rgba(223, 126, 137, 0.15));
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    background-clip: text;
}

.telefonoCompleto{
    color: rgba(191,64,128,1);
}

ul {
    display: inline;
    margin: 0;
    padding: 0;
  }

  ul li {display: inline-block;}
  ul li:hover {
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
  }

  ul li:hover ul {
    display: block;
    border: 1px solid rgba(191,64,128,1);
    border-radius: 10px;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;}

  ul li ul {
    position: absolute;
    width: 150px;
    display: none;
    left:100px;
    top:35px;
  }

  ul li ul li { 
    background-color: rgb(255, 199, 206);
    display: block;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
  }

  ul li ul li a {display:block !important;} 
  
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #c3365e;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.8 !important;
  }