<div class="row">
    <div class="col">
        <h3 class="text-primary text-capitalize">{{_publicacion.TituloPublicacion}}</h3>
        <h6 class="text-primary text-capitalize">{{_asentamientoUbicacion.Asentamiento}}, {{_asentamientoUbicacion.Municipio}}, {{_asentamientoUbicacion.Estado}}.</h6>
        <hr>
    </div>
</div>

<div class="row mb-3 bg-color-rt" style="min-height: 500px;">
    <div class="col-md-6 text-center">
        <img class="img-fluid" style="max-height: 500px;" [src]="_fotosPrincipales[0]" alt="">
    </div>
    <div class="col-md-3 px-1" >
      <div class="mb-1 text-center">
        <img class="img-fluid" style="max-height: 250px;" [src]="_fotosPrincipales[1]" alt="">
      </div>
      <div class="text-center" >
        <img class="img-fluid" style="max-height: 250px;" [src]="_fotosPrincipales[2]" alt="">
      </div>
    </div>
    <div class="col-md-3 px-1" >
      <div class="mb-1 text-center" >
        <img class="img-fluid" style="max-height: 250px;" [src]="_fotosPrincipales[3]" alt="">
      </div>
      <div class="text-center" >
        <img class="img-fluid" style="max-height: 250px;" [src]="_fotosPrincipales[4]" alt="">
      </div>
    </div>
  </div>

<div>
    
    <div class="row">
        <div class="col-md-9">
            <div class="col">
                <div class="row row-cols-2">
                    <!-- <h3 class="text-primary text-uppercase">{{_publicacion.TituloPublicacion}}</h3> -->
                    <h1 class="text-primary" style="font-size:3em; font-weight: bolder;">{{_publicacion.PrecioDesde | currency : 'USD' : 'symbol' : '1.0-0' }} <label class="text-primary px-1" style="font-size: 2rem;">{{((_publicacion.Id_Moneda) === 1 ? 'MXN' : 'USD')}}</label></h1>
                    <div class="col text-end mb-3">
                        <a (click)="abrirPaginaCliente()" class="text-end text-truncate" style="cursor:pointer;" data-toggle="tooltip" data-placement="top" >
                            <img class="col-md-2 text-center" [src]="_clienteVista.UrlFotoPerfil" width="100%" height="100%" alt="fotoPefil">
                            <label class="text-primary text-truncate px-2" style="max-width:100px; cursor:pointer;">{{_clienteVista.Nombre}} {{_clienteVista.Apellidos}}</label><br>
                        </a>
                    </div>
                </div>
                <hr>
            </div>
            <div class="col">
                <div>
                    <h3 class="text-primary mb-3">Caracteristicas Generales</h3>
                </div>    
                <div class="row">
                    <div class="col-md-3 m-2">
                            <img src="/assets/anuncioVista/RECAMARA.png" />
                            <span class="text-primary px-2">
                                Recamaras: {{_publicacion.RecamarasDesde}}
                            </span>
                    </div>
                    <div class="col-md-3 m-2">
                        <img src="/assets/anuncioVista/BANIO COMPLETO.png" />
                        <span class="text-primary px-2">
                            Baños completos: {{_publicacion.BaniosCompDesde}}
                        </span>
                    </div>
                    <div class="col-md-3 m-2">
                        <img src="/assets/anuncioVista/MEDIO BANIO.png" />
                        <span class="text-primary px-2">
                            &#189; baños: {{_publicacion.MedioBanioDesde}}
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 m-2">
                        <img src="/assets/anuncioVista/M2 CONSTRUCCION.png" />
                        <span class="text-primary px-2">
                            Sup. construida: {{_publicacion.SuperficieConstruidaDesde}} m<sup>2</sup>
                        </span>
                    </div>
                    <div class="col-md-3 m-2">
                        <img src="/assets/anuncioVista/M2 TERRENO.png" />
                        <span class="text-primary px-2">
                            Sup. Terreno: {{_publicacion.SuperficieTerreno}} m<sup>2</sup>
                        </span>
                    </div>
                    <div class="col-md-3 m-2">
                        <img src="/assets/anuncioVista/COCHERA.png" />
                        <span class="text-primary px-2">
                            Estacionamientos: {{_publicacion.EstacionamientosDesde}}
                        </span>
                    </div>
                </div>
                <hr>
            </div>

            <div class="col">
                <div>
                    <h3 class="text-primary mb-3">Adicionales</h3>
                </div>    
                <div class="row">
                    <div class="row mb-3" *ngIf="_caracteristicasGenerales.length > 0">
                        <h5 class="text-primary">Amenidades</h5>
                        <div class="col-md-3 mb-2 px-1" *ngFor="let cargen of _caracteristicasGenerales; let i = index;">
                            <kbd class="br25 bg-color-3 text-primary">
                                <i class="fa-solid fa-check"></i> {{cargen.Descripcion}}
                            </kbd>
                        </div>
                    </div>
                    <div class="row mb-3" *ngIf="_servicios.length > 0">
                        <h5 class="text-primary">Servicios</h5>
                        <div class="col-md-3 mb-2 px-1" *ngFor="let servicio of _servicios; let i = index;">
                            <kbd class="br25 bg-color-3 text-primary">
                                <i class="fa-solid fa-check"></i> {{servicio.Descripcion}}
                            </kbd>
                        </div>
                    </div>
                    <div class="row mb-3" *ngIf="_exteriores.length > 0">
                        <h5 class="text-primary">Exteriores</h5>
                        <div class="col-md-3 mb-2 px-1" *ngFor="let exterior of _exteriores; let i = index;">
                            <kbd class="br25 bg-color-3 text-primary">
                                <i class="fa-solid fa-check"></i> {{exterior.Descripcion}}
                            </kbd>
                        </div>
                    </div>
                    <div class="row mb-3" *ngIf="_ambientes.length > 0">
                        <h5 class="text-primary">Ambientes</h5>
                        <div class="col-md-3 mb-2 px-1" *ngFor="let ambiente of _ambientes; let i = index;">
                            <kbd class="br25 bg-color-3 text-primary">
                                <i class="fa-solid fa-check"></i> {{ambiente.Descripcion}}
                            </kbd>
                        </div>
                    </div>
                </div>
                <hr>
            </div>

            <div *ngIf="_publicacion.Id_TipoOperacion === 3" class="col">
                <div>
                    <h3 class="text-primary mb-4">Unidades</h3>
                </div>
                <div *ngIf="_existenUnidadesVenta">
                    <button class="btn btn-primary">Unidades en Venta</button>
                    <div class="row text-primary br15" style="border: 1px solid;">
                        <div class="row p-2 m-0" *ngFor="let pubDetalle of _publicacionDetalle">
                            <div class="row" *ngIf="pubDetalle.DescripcionTO === 'Venta'">
                                <div class="col-md-2 p-2">
                                    <a [href]="'/anuncio/vista/' + (pubDetalle.TituloPublicacion)?.replaceAll(' ','-') + '-' + pubDetalle.Id_Publicacion">
                                        <img class="br10" [src]="pubDetalle.UrlFotoPredeterminada" width="100%" height="80px"/>
                                    </a>
                                </div>
                                <div class="col-md-3 p-2">
                                    <label class="text-primary px-1" style="font-size: 1rem;">{{pubDetalle.DescripcionTP}}</label><br>
                                    <label class="text-primary" style="font-weight: bold;">{{pubDetalle.PrecioDesde === null ? 'No definido' : pubDetalle.PrecioDesde | currency}}</label>
                                    <label class="text-primary px-1" style="font-size: 0.8rem; font-weight: bold;">{{((pubDetalle.Id_Moneda) === 1 ? 'MXN' : 'USD')}}</label>
                                </div>
                                <div class="col-md-2 text-center p-2">
                                    <label class="text-primary px-1" style="font-size: 1rem;">Superficie construida</label><br>
                                    <label class="text-primary " style="font-weight: bold;">{{pubDetalle.SuperficieConstruidaDesde === null ? 'No definida' : pubDetalle.SuperficieConstruidaDesde }} m<sup>2</sup></label>
                                </div>
                                <div class="col-md-2 text-center p-2">
                                    <label class="text-primary px-1" style="font-size: 1rem;">Recamaras</label><br>
                                    <label class="text-primary" style="font-weight: bold;">{{pubDetalle.RecamarasDesde === null ? 'No definido' : pubDetalle.RecamarasDesde }}</label>
                                </div>
                                <div class="col-md-1 text-center p-2">
                                    <label class="text-primary px-1" style="font-size: 1rem;">Baños</label><br>
                                    <label class="text-primary" style="font-weight: bold;">{{pubDetalle.BaniosCompDesde === null ? 'No definido' : pubDetalle.BaniosCompDesde }}</label>
                                </div>
                                <div class="col-md-2 text-center p-2">
                                    <label class="text-primary px-1" style="font-size: 1rem;">Estacionamientos</label><br>
                                    <label class="text-primary" style="font-weight: bold;">{{pubDetalle.EstacionamientosDesde === null ? 'No definido' : pubDetalle.EstacionamientosDesde }}</label>
                                </div>
                                <hr class="p-0 m-0">
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="_existenUnidadesRenta">
                    <button class="btn btn-primary m-0">Unidades en Renta</button>
                    <div class="row text-primary br15" style="border: 1px solid;">
                        <div class="row p-2 m-0" *ngFor="let pubDetalle of _publicacionDetalle">
                            <div class="row" *ngIf="pubDetalle.DescripcionTO === 'Renta'">
                                <div class="col-md-2 p-2">
                                    <a [href]="'anuncio/vista/' + (this.pubDetalle.TituloPublicacion)?.replaceAll(' ','-') + '-' + this.pubDetalle.Id_Publicacion">
                                        <img class="br10" [src]="pubDetalle.UrlFotoPredeterminada" width="100%" height="80px"/>
                                    </a>
                                </div>
                                <div class="col-md-3 p-2">
                                    <label class="text-primary px-1" style="font-size: 1rem;">{{pubDetalle.DescripcionTP}}</label><br>
                                    <label class="text-primary" style="font-weight: bold;">{{pubDetalle.PrecioDesde === null ? 'No definido' : pubDetalle.PrecioDesde | currency}}</label>
                                    <label class="text-primary px-1" style="font-size: 0.8rem; font-weight: bold;">{{((pubDetalle.Id_Moneda) === 1 ? 'MXN' : 'USD')}}</label>
                                </div>
                                <div class="col-md-2 text-center p-2">
                                    <label class="text-primary px-1" style="font-size: 1rem;">Superficie construida</label><br>
                                    <label class="text-primary " style="font-weight: bold;">{{pubDetalle.SuperficieConstruidaDesde === null ? 'No definida' : pubDetalle.SuperficieConstruidaDesde }} m<sup>2</sup></label>
                                </div>
                                <div class="col-md-2 text-center p-2">
                                    <label class="text-primary px-1" style="font-size: 1rem;">Recamaras</label><br>
                                    <label class="text-primary" style="font-weight: bold;">{{pubDetalle.RecamarasDesde === null ? 'No definido' : pubDetalle.RecamarasDesde }}</label>
                                </div>
                                <div class="col-md-1 text-center p-2">
                                    <label class="text-primary px-1" style="font-size: 1rem;">Baños</label><br>
                                    <label class="text-primary" style="font-weight: bold;">{{pubDetalle.BaniosCompDesde === null ? 'No definido' : pubDetalle.BaniosCompDesde }}</label>
                                </div>
                                <div class="col-md-2 text-center p-2">
                                    <label class="text-primary px-1" style="font-size: 1rem;">Estacionamientos</label><br>
                                    <label class="text-primary" style="font-weight: bold;">{{pubDetalle.EstacionamientosDesde === null ? 'No definido' : pubDetalle.EstacionamientosDesde }}</label>
                                </div>
                                <hr class="p-0 m-0">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="col">
                <div>
                    <h3 class="text-primary mb-4">Ubicación</h3>
                </div>    
                <div *ngIf="_publicacion.MostrarDireccionExacta === 1" class="row mb-3">
                    <span class="text-primary">{{_publicacion.Direccion}}</span>
                </div>
            </div>
                
            <!-- Se comenta de manera temporal la muestra del mapa -->
            <google-map width="100%"
                        height="400px"
                        [center]="_gm_center"
                        [zoom]="_gm_zoom">
            </google-map>
            <hr>

            <div class="col">
                <div>
                    <h3 class="text-primary mb-3">Descripción</h3>
                </div>    
                <div class="row">
                    <div class="col-md-12">
                        <h6 class="text-primary">
                            {{_publicacion.Descripcion}}
                        </h6>
                    </div>
                </div>
                <hr>
            </div>

        </div>
        <div class="col-md-3">
                <div class="sticky-md-top text-primary" style="top:70px; left:1000px">
                    <div class="text-primary text-end" style="top:50px; left:1000px">
                        <button type="button" style="border-radius:25px; box-shadow: none;" class="btn btn-link" (click)="compartirPublicacion()">
                            <span class="col-md-1 text-danger">
                                <i class="fa fa-share-nodes" style="font-size: 25px;" aria-hidden="true"> </i>
                            </span>
                        </button>
                        <button type="button" style="visibility: hidden;" #myModalIniciarSesion data-bs-toggle="modal" data-bs-target="#modalLogin" ></button>
                        <button type="button" style="box-shadow: none;" class="btn btn-link br25" (click)="agregarFavorito()" >
                            <span class="col-md-1 text-danger">
                                <i class="fa fa-heart" *ngIf="_estaComoFavorito" style="font-size: 25px;" aria-hidden="true"> </i>
                                <i class="fa fa-heart-o" *ngIf="!_estaComoFavorito" style="font-size: 25px;" aria-hidden="true"> </i>
                            </span>
                        </button>
                    </div>
                    <form [formGroup]="formaMensajeVendedor" class="br15 bg-color-rt px-3 py-1">
                        <legend class="text-center">Contacta al vendedor</legend>
                        <div class="row mb-2 br25" >
                            <label for="nombreContacto" 
                                   class="col-sm-3 col-form-label text-end">Nombre</label>
                            <div class="col-sm-8 px-0">
                                <input  type="text" 
                                        class="form-control text-primary color-text-box" 
                                        placeholder="Nombre"
                                        [class.is-invalid]="nombreNoValido"
                                        formControlName="nombre"
                                        id="nombreContacto">
                            </div>
                            <div class="col-md-1 px-0 text-center">
                                <small *ngIf="nombreNoValido" class="text-danger">
                                    *
                                </small>
                            </div>
                        </div>
                        <div class="row mb-2 br25">
                            <label for="telefonoContacto" 
                                   class="col-sm-3 col-form-label text-end">Teléfono</label>
                            <div class="col-sm-8 px-0">
                                <input  type="text" 
                                        class="form-control text-primary color-text-box" 
                                        placeholder="Teléfono"
                                        formControlName="telefono"
                                        [class.is-invalid]="telefonoNoValido"
                                        id="telefonoContacto">
                            </div>
                            <div class="col-md-1 px-0 text-center">
                                <small *ngIf="telefonoNoValido" class="text-danger">
                                    *
                                </small>
                            </div>
                        </div>
                        <div class="row mb-2 br25">
                            <label for="emailContacto" 
                                   class="col-sm-3 col-form-label text-end">Email</label>
                            <div class="col-sm-8 px-0">
                                <input  type="text"
                                        class="form-control text-primary color-text-box" 
                                        placeholder="email"
                                        formControlName="email"
                                        [class.is-invalid]="emailNoValido"
                                        [readonly]="_usuarioAutenticado"
                                        id="emailContacto">
                            </div>
                            <div class="col-md-1 px-0 text-center">
                                <small *ngIf="emailNoValido" class="text-danger">
                                    *
                                </small>
                            </div>
                        </div>
                        <div class="row mb-2 br25">
                            <label for="mensajeContacto" 
                                   class="col-sm-3 col-form-label text-end">Mensaje</label>
                            <div class="col-sm-8 px-0">
                                <textarea type="text" rows="3"
                                        class="form-control text-primary color-text-box" 
                                        placeholder="Describa aqui su mensaje"
                                        formControlName="mensaje"
                                        [class.is-invalid]="mensajeNoValido"
                                        id="mensajeContacto"></textarea>
                            </div>
                            <div class="col-md-1 px-0 text-center">
                                <small *ngIf="mensajeNoValido" class="text-danger">
                                    *
                                </small>
                            </div>
                        </div>
                        <div class="row mb-3 br25 text-center">
                            <div class="col-md-3 text-center"></div>
                            <div class="col-md-8 text-center d-grid">
                                <button type="button" class="btn btn-primary br25" (click)="enviarMensaje()" [disabled]="_loading">
                                    <span *ngIf="!_loading"><i class="fa fa-send-o px-2" aria-hidden="true"></i>Enviar</span>
                                    <span *ngIf="_loading" class="col-md-1"><i class="fa fa-sync fa-spin"></i> Espere por favor...</span>
                                </button>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        <div class="row mb-3 br25 text-center">
                            <div class="col-md-3 text-center"></div>
                            <div class="col-md-8 text-center d-grid">
                                <button type="button" class="btn btn-primary br25" (click)="abrirVentanaWhatsApp()" style="background-color:#4fce5d; border: none;">
                                    <span class="col-md-1">
                                        <i class="fa fa-whatsapp" aria-hidden="true"></i>
                                    </span> Whatssapp
                                </button>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        <div class="row mb-2 br25 text-center">
                            <div class="col-md-12 text-center d-grid">
                                <span class="text-primary" style="font-size: 10px;">Al hacer clic en <strong>Enviar</strong> aceptas nuestros <a href="/legal/terminosycondicionesdeuso">Terminos, condiciones y politicas de privacidad.</a></span>
                            </div>
                        </div>
                    </form>

                    <div class="br15 bg-color-rt px-3 py-1 mt-2" >
                        <div class="col py-2">
                            <div class="row row-cols-2">
                                <div class=" col-auto text-start mb-2 px-2">
                                    <a (click)="abrirPaginaCliente()" class="text-truncate" style="cursor:pointer;">
                                        <img class="text-primary br25" style="border:1px solid;" [src]="_clienteVista.UrlFotoPerfil" width="30px" height="30px" alt="fotoPefil">
                                    </a>
                                </div>
                                <div class="text-start mb-2 p-0">
                                    <a (click)="abrirPaginaCliente()" class="text-truncate" style="cursor:pointer;">
                                        <label class="text-primary text-truncate px-1" style="max-width:250px; cursor:pointer;">{{_clienteVista.Nombre}} {{_clienteVista.Apellidos}}</label><br>
                                    </a>
                                </div>
                            </div>
                            <div class="text-center">
                                <div class="row">
                                    <div class="col-md-6" style="display:flex; align-items : center;">
                                        <span class="text-center text-primary" [ngClass]="{' telefonoOculto': _telefonoOculto, ' telefonoCompleto': _telefonoOculto}"><i class="fa fa-phone" aria-hidden="true" > {{_telefono}}</i></span>
                                    </div>
                                    <div class="col-md-6 text-end px-0" style="display:flex; align-items : center; cursor: pointer;">
                                        <button type="button" style="visibility: hidden;" #myModalDatosUsuario data-bs-toggle="modal" data-bs-target="#modalDatosUsuarios" ></button>
                                        <a class="link link-outline-primary text-end br25" 
                                           style="border: none;"
                                           (click)="verTelefonoContacto()">Ver teléfono</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalLogin" tabindex="-1" aria-labelledby="gridModalLabel" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content color-modal">
        <div class="modal-header">
          <h5 class="modal-title text-primary" id="gridModalLabel">Iniciar sesión</h5>
          <button type="button" class="btn-close bg-color-5" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body py-2 px-0">
          <div class="container">
            <form [formGroup]="formIniciarsesion" autocomplete="on">
                <fieldset>
                  <div class="form-group row py-3">
                    <label class="col-md-4 col-form-label text-primary text-end">Correo electrónico</label>
                    <div class="col-md-6 col-10 p-0">
                      <input autocomplete="on"
                             class="form-control text-primary color-text-box"
                             type="email"
                             email
                             placeholder="Correo electrónico"
                             formControlName="correo"
                             [class.is-invalid]="correoNoValido"/>
                    </div>
                    <div class="col-md-2 col-form-label">
                      <small *ngIf="correoNoValido" class="text-danger">
                        *
                      </small>
                    </div>
                  </div>
                
                  <div class="form-group row py-3">
                    <label class="col-md-4 col-form-label text-primary text-end">Contraseña</label>
                    <div class="col-md-6 col-10 p-0">
                      <input [type]="obtenerTipo"
                             autocomplete="off"
                             class="form-control text-primary color-text-box"
                             placeholder="Contraseña"
                             formControlName="password1"
                             [class.is-invalid]="password1NoValido"/>
                    </div>
                    <div class="col-auto px-0">
                      <button type="button" tabindex="-1" class="btn btn-primary px-1" (click)="cambiarTipo()"><span class="col-md-1 col-md-offset-2 text-center">
                        <div *ngIf="obtenerTipo=='text'">
                          <i class="fa fa-eye"></i>
                        </div>
                        <div *ngIf="obtenerTipo=='password'">
                          <i class="fa fa-eye-slash"></i>
                        </div>
                      </span></button>
                    </div>
                    <div class="col-md-1 col-form-label">
                      <small *ngIf="password1NoValido" class="text-danger">
                        *
                      </small>
                    </div>
                  </div>
              
                  <div class="text-center p-3">
                    <a class="text-danger" href="/login">¿No tienes cuenta? Registrate aqui.</a>
                  </div>
                  <div class="text-center p-3">
                    <a class="text-success" href="/recuperarpassword">¿Olvidaste tu contraseña? / Recuperar contraseña</a>
                  </div>
                  
                </fieldset>
              </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" #myModalCloseLogin class="btn btn-secondary text-light br25" data-bs-dismiss="modal" >Cancelar</button>
          <button type="submit" class="btn btn-primary br25" (click)="iniciarSesion()">Iniciar sesión</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="modalDatosUsuarios" tabindex="-1" aria-labelledby="gridModalLabel" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content color-modal">
        <div class="modal-header">
          <h5 class="modal-title text-primary" id="gridModalLabel">Información requerida</h5>
          <button type="button" class="btn-close bg-color-5" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body py-2 px-0">
          <div class="container">
            <form [formGroup]="formaDatosUsuario" autocomplete="off" class="br15 bg-color-rt px-3 py-1">
                <div class="row mb-2 br25" >
                    <label for="nombreContacto" 
                           class="col-sm-3 col-form-label text-primary text-end">Nombre</label>
                    <div class="col-sm-8 px-0">
                        <input  type="text" autocomplete="off"
                                class="form-control text-primary color-text-box" 
                                placeholder="Nombre"
                                [class.is-invalid]="nombreDUNoValido"
                                formControlName="nombreDU"
                                id="nombreUsuario">
                    </div>
                    <div class="col-md-1 px-0 text-center">
                        <small *ngIf="nombreDUNoValido" class="text-danger">
                            *
                        </small>
                    </div>
                </div>
                <div class="row mb-2 br25">
                    <label for="telefonoContacto" 
                           class="col-sm-3 col-form-label text-primary text-end">Teléfono</label>
                    <div class="col-sm-8 px-0">
                        <input  type="text" 
                                class="form-control text-primary color-text-box" 
                                placeholder="Teléfono"
                                formControlName="telefonoDU"
                                [class.is-invalid]="telefonoDUNoValido"
                                id="telefonoUsuario">
                    </div>
                    <div class="col-md-1 px-0 text-center">
                        <small *ngIf="telefonoDUNoValido" class="text-danger">
                            *
                        </small>
                    </div>
                </div>
                <div class="row mb-2 br25">
                    <label for="emailContacto" 
                           class="col-sm-3 col-form-label text-primary text-end">Email</label>
                    <div class="col-sm-8 px-0">
                        <input  type="text"
                                class="form-control text-primary color-text-box" 
                                placeholder="email"
                                formControlName="emailDU"
                                [class.is-invalid]="emailDUNoValido"
                                id="emailUsuario">
                    </div>
                    <div class="col-md-1 px-0 text-center">
                        <small *ngIf="emailDUNoValido" class="text-danger">
                            *
                        </small>
                    </div>
                </div>
                <div class="row mb-2 br25 text-center">
                    <div class="col-md-12 text-center d-grid">
                        <span class="text-primary" style="font-size: 10px;">Al hacer clic en <strong>Mostrar telefóno</strong> aceptas nuestros <a href="/legal/terminosycondicionesdeuso">Terminos, condiciones y politicas de privacidad.</a></span>
                    </div>
                </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" #myModalCloseDatosUsuario class="btn btn-secondary text-light br25" data-bs-dismiss="modal" >Cancelar</button>
          <button type="button" class="btn btn-primary br25" (click)="mostrarTelefono()">Mostrar telefóno</button>
        </div>
      </div>
    </div>
  </div>