<div class="container animate__animated animate__fadeInRight p-0">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal" [formGroup]="formaPerfil" (ngSubmit)="guardarPerfil()">
                    <fieldset>
                        <legend class="text-center text-primary mb-3"><h1 class="display-4">Mi perfil</h1></legend>

                        <div class="form-group row mb-3">
                            <div class="row row-cols-3">
                                <span class="col-md-1 col-md-offset-2 text-primary text-center"><i class="fa fa-user bigicon"></i></span>
                                <div class="col-md-auto" >
                                    <button for="fileElem" 
                                            type="button"
                                            onclick="$('#fileElem').click()" 
                                            class="btn btn-outline-primary br25">Subir foto de perfil
                                    </button>
                                    <input type="file" 
                                           style="display:none"
                                           class="form-control text-primary" 
                                           accept="image/jpg,image/png,image/jpeg,image/gif" 
                                           id="fileElem" 
                                           (change)="obtenerFotoPerfil($event)">
                                </div>
                                <img class="col-md-2" height="100%" width="100%" [src]="obtenerInfoFotoPerfil()" alt="">
                            </div>
                        </div>

                        <div class="form-group row mb-3">
                            <span class="col-md-1 col-md-offset-2 text-primary text-center"><i class="fa fa-user bigicon"></i></span>
                            <div class="col-md-8">
                                <input formControlName="nombre"
                                       maxlength="50"
                                       type="text" placeholder="Nombre" 
                                       [class.is-invalid]="nombreNoValido" 
                                       class="form-control text-primary color-text-box">
                            </div>
                            <div class="col-md-3 px-0">
                                <small *ngIf="nombreNoValido" class="text-danger">
                                  Nombre no valido
                                </small>
                            </div>
                        </div>

                        <div class="form-group row mb-3">
                            <span class="col-md-1 col-md-offset-2 text-primary text-center"><i class="fa fa-user bigicon"></i></span>
                            <div class="col-md-8">
                                <input formControlName="apellidos" 
                                       maxlength="50"
                                       type="text" 
                                       placeholder="Apellidos" 
                                       [class.is-invalid]="apellidoNoValido" 
                                       class="form-control text-primary color-text-box">
                            </div>
                            <div class="col-md-3 px-0">
                                <small *ngIf="apellidoNoValido" class="text-danger">
                                  Apellido no valido
                                </small>
                            </div>
                        </div>

                        <div class="form-group row mb-3">
                            <span class="col-md-1 col-md-offset-2 text-primary text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                            <div class="col-md-8">
                                <input formControlName="correo" 
                                       type="text" readonly
                                       [class.is-invalid]="correoNoValido"
                                       placeholder="Correo electrónico" 
                                       class="form-control text-primary color-text-box">
                            </div>
                            <div class="col-md-3 px-0">
                                <small *ngIf="correoNoValido" class="text-danger">
                                  Correo no valido
                                </small>
                            </div>
                        </div>

                        <div class="form-group row mb-3">
                            <span class="col-md-1 col-md-offset-2 text-primary text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                            <div class="col-md-8">
                                <input formControlName="rfc" 
                                       type="text" 
                                       maxlength="20"
                                       [class.is-invalid]="rfcNoValido"
                                       placeholder="RFC" 
                                       class="form-control text-primary color-text-box">
                            </div>
                            <div class="col-md-3 px-0">
                                <small *ngIf="rfcNoValido" class="text-danger">
                                  RFC no valido
                                </small>
                            </div>
                        </div>

                        <div class="form-group row mb-3">
                            <div class="col">
                                <div class="row">
                                    <span class="col-md-1 col-md-offset-2 text-primary text-center"><i class="fa fa-phone-square bigicon"></i></span>
                                    <div class="col-md-3">
                                        <input formControlName="telefonoFijo" 
                                               type="number" 
                                               [class.is-invalid]="telefonoFijoNoValido"
                                               placeholder="Telefono fijo" 
                                               class="form-control text-primary color-text-box">
                                    </div>
                                    <div class="col-md-1 px-0">
                                        <small *ngIf="telefonoFijoNoValido" class="text-danger">
                                            Se requiere
                                        </small>
                                    </div>
                                    <span class="col-md-1 col-md-offset-2 text-center" ><i class="fa fa-whatsapp bigicon" style="color:#4fce5d;"></i></span>
                                    <div class="col-md-3">
                                        <input formControlName="telefonoMovil" 
                                               type="number" 
                                               [class.is-invalid]="telefonoMovilNoValido"
                                               placeholder="WhatsApp" 
                                               class="form-control text-primary color-text-box">
                                    </div>
                                    <div class="col-md-2 px-0">
                                        <small *ngIf="telefonoMovilNoValido" class="text-danger">
                                            Se requiere
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-md-6">
                                <div class="row">
                                    <span class="col-md-1 col-md-offset-2 text-primary text-center"><i class="fa fa-phone-square bigicon"></i></span>
                                    <div class="col-md-5">
                                        <input formControlName="telefonoMovil" 
                                            type="number" 
                                            [class.is-invalid]="telefonoMovilNoValido"
                                            placeholder="Telefono movil" 
                                            class="form-control">
                                    </div>
                                    <div class="col-md-5 px-0">
                                        <small *ngIf="telefonoMovilNoValido" class="text-danger">
                                            Se requiere
                                        </small>
                                    </div>
                                </div>
                            </div> -->
                        </div>

                        <div class="form-group row">
                            <div class="col-md-1"></div>
                            <div class="col-md-8 d-grid mt-3">
                                <button type="submit" [disabled]="_actualizandoDatos"
                                        class="btn btn-primary br25 btn-lg">
                                        <span *ngIf="_actualizandoDatos"><i class="fa fa-sync fa-spin"></i> Espere por favor...</span>
                                        <span *ngIf="!_actualizandoDatos"><i class="fa-solid fa-cloud-arrow-up"></i> Guardar</span>
                                </button>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>