<div id="tarjetaBancos" class="card px-0 color-card" style="width: 21rem; border-radius: 15px;">
    <div class="card-header text-center bg-color-3 py-0" style="border-radius: 15px 15px 0px 0px;">
        <div class="row">
            <div class="col">
                <h3 *ngIf="_origen === ''" class="card-title text-center text-primary py-1 m-0">{{_banco.InstitucionBancaria}}</h3>
                <h3 *ngIf="_origen === 'Administracion'" class="card-title text-center text-primary py-1 m-0">{{_banco.InstitucionBancaria}}</h3>
                <div *ngIf="_origen !== 'Administracion'" class="col px-0 text-end py-1">
                  <button type="button" class="btn btn-sm btn-outline-primary br25" (click)="elegirBanco()" [ngClass]="{' btn-primary': _banco.Seleccionado === 1, ' btn-outline-primary': _banco.Seleccionado === 0}" style="position:absolute; top:0px; right:0px;">
                    <span *ngIf="_banco.Seleccionado === 0" class="col-md-1  text-center"><i class="fa fa-check" > </i></span>
                    <span *ngIf="_banco.Seleccionado === 1" class="col-md-1  text-center"><i class="fa fa-check-double" > </i></span>
                  </button>
                </div>
            </div>
          </div>
    </div>
    <div class="card-body">
      <p class="card-text text-primary text-center mb-0">Titular:</p>
      <h3 class="card-text text-primary text-center">{{_banco.Titular}}</h3>
      <p class="card-text text-primary text-center mb-0">Sucursal:</p>
      <h3 class="card-text text-primary text-center">{{_banco.Sucursal}}</h3>
      <p class="card-text text-primary text-center">Cuenta:</p>
      <h3 class="card-text text-primary text-center">{{_banco.NumCuenta}}</h3>
      <p class="card-text text-primary text-center">Clabe interbancaria:</p>
      <h3 class="card-text text-primary text-center">{{_banco.ClabeInterbancaria}}</h3>
    </div>
    <!-- <div class="card-footer text-end bg-color-rt" style="border-radius: 0px 0px 15px 15px;">
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-primary" (click)="elegirBanco()" style="border-radius: 25px;">
            <span class="col-md-1 col-md-offset-2 text-center">Comprar</span>
          </button>
        </div>
      </div>
    </div> -->
  </div>