  <div class="container py-5">
      <div class="row">
          <div class="col-md-12">
              <div class="well well-sm">
                  <form class="form-horizontal">
                      <fieldset>
                          <legend class="text-center text-primary mb-3"><h1 class="display-4 sombraTitulo">Paquetes</h1></legend>

                          <div class="form-group row mb-3">
                              <div class="col-md-10 p-0">
                                  <a class="btn btn-primary btn-sm" style="border-radius:25px;" (click)="limpiarFormularios()" data-bs-toggle="modal" data-bs-target="#gridAgregarPaquete" >
                                      <span class="col-md-1 col-md-offset-2 text-center">
                                      <i class="fa fa-add bigicon" aria-hidden="true"></i>
                                  </span></a>
                              </div>
                              <div class="col-md-2 p-0 text-end">
                                    <label class="text-primary">Total de paquetes: <strong>{{_paquetes.length}}</strong></label>
                              </div>
                          </div>

                          <div class="card-group justify-content-center">
                            <div class="form-group row" *ngFor="let paquete of _paquetes">
                                <app-tarjetapaquetes class="row px-4 g-3" [_paquete]="paquete" [_origen]="'menuPaquetes'" (_sePresionaModificar)="obtenerPaquete(paquete)" (_sePresionaEliminar)="eliminarPaquete(paquete)"></app-tarjetapaquetes>
                            </div>
                          </div>

                      </fieldset>
                  </form>
              </div>
          </div>
      </div>
  </div>
  
  <div class="modal fade" id="gridAgregarPaquete" tabindex="-1" aria-labelledby="gridModalLabel" aria-modal="true" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content color-modal">
          <div class="modal-header">
            <h5 class="modal-title text-primary" id="gridModalLabel">{{_textoAccion}} Paquete</h5>
            <button type="button" class="btn-close bg-color-5" (click)="limpiarFormularios()" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid bd-example-row">
              <div class="row">
                  <div class="col-md-12">
                      <div class="well well-sm">
                          <form class="form-horizontal" [formGroup]="formaPaquete">
                              <fieldset>

                                <!-- <div class="form-group row mb-3">
                                  <span class="col-md-1 col-md-offset-2 text-primary text-center"><i class="fa fa-file-signature bigicon"></i></span>
                                  <div class="col-md-8">
                                    <select class="form-select form-select-md mb-3 br10 text-primary color-text-box"
                                            aria-label="Default select example"
                                            formControlName="empresa">
                                            <option value="0" selected>[Todas las empresas]</option>
                                            <option *ngFor="let empresa of _empresas; let i = index" [value]="empresa.Id_Empresa">
                                              {{ empresa.Nombre }}
                                            </option>
                                    </select>
                                  </div>
                                </div> -->

                                  <div class="form-group row mb-3">
                                      <span class="col-md-1 col-md-offset-2 text-primary text-center"><i class="fa fa-file-signature bigicon"></i></span>
                                      <div class="col-md-8">
                                          <input formControlName="descripcion" 
                                                 type="text" 
                                                 placeholder="Descripción" 
                                                 [class.is-invalid]="descripcionNoValido" 
                                                 class="form-control text-primary color-text-box">
                                      </div>
                                      <div class="col-md-3 px-0">
                                          <small *ngIf="descripcionNoValido" class="text-danger">
                                            Descripción no valida
                                          </small>
                                      </div>
                                  </div>
  
                                  <div class="form-group row mb-3">
                                      <span class="col-md-1 col-md-offset-2 text-primary text-center"><i class="fa fa-dollar-sign bigicon"></i></span>
                                      <div class="col-md-8">
                                          <input formControlName="precio" 
                                                 type="number"
                                                 [class.is-invalid]="precioNoValido"
                                                 placeholder="Precio" 
                                                 class="form-control text-primary color-text-box">
                                      </div>
                                      <div class="col-md-3 px-0">
                                          <small *ngIf="precioNoValido" class="text-danger">
                                            Precio no valido
                                          </small>
                                      </div>
                                  </div>

                                  <div class="form-group row mb-3">
                                    <span class="col-md-1 col-md-offset-2 text-primary text-center"><i class="fa fa-calendar-days bigicon"></i></span>
                                    <div class="col-md-8">
                                        <input formControlName="clave" 
                                               type="text"
                                               maxlength="10"
                                               [class.is-invalid]="claveNoValido"
                                               placeholder="Clave interna del producto" 
                                               class="form-control text-primary color-text-box">
                                    </div>
                                    <div class="col-md-3 px-0">
                                        <small *ngIf="claveNoValido" class="text-danger">
                                          Clave requerida
                                        </small>
                                    </div>
                                  </div>

                                  <div class="form-group row mb-3">
                                    <span class="col-md-1 col-md-offset-2 text-primary text-center"><i class="fa fa-calendar-days bigicon"></i></span>
                                    <div class="col-md-8">
                                        <input formControlName="claveProdSAT" 
                                               type="text"
                                               [class.is-invalid]="claveProdSATNoValido"
                                               placeholder="Clave del SAT requerida" 
                                               class="form-control text-primary color-text-box">
                                    </div>
                                    <div class="col-md-3 px-0">
                                        <small *ngIf="claveProdSATNoValido" class="text-danger">
                                          Clave del SAT requerida
                                        </small>
                                    </div>
                                  </div>

                              </fieldset>
                          </form>

                          <form [formGroup]="formaPlan">
                              <div class="form-group row mb-3">
                                <span class="col-md-1 col-md-offset-2 text-primary text-center"><i class="fa fa-file-signature bigicon"></i></span>
                                <div class="col-md-3">
                                  <select class="form-select form-select-md mb-3 br10 text-primary color-text-box"
                                          aria-label="Default select example"
                                          [class.is-invalid]="planNoValido"
                                          formControlName="plan">
                                          <option value={{null}} selected>[Ninguna]</option>
                                          <option *ngFor="let plan of _planes; let i = index" [value]="plan.Id_Plan">
                                            {{ plan.Descripcion }}
                                          </option>
                                  </select>
                                </div>
                                <div class="col-auto px-0">
                                    <small *ngIf="planNoValido" class="text-danger">
                                      *
                                    </small>
                                </div>
                                <div class="col-md-3">
                                    <input formControlName="cantidad" 
                                          type="number"
                                          [class.is-invalid]="cantidadNoValida"
                                          placeholder="Cantidad" 
                                          class="form-control text-primary color-text-box">
                                </div>
                                <div class="col-auto px-0">
                                    <small *ngIf="cantidadNoValida" class="text-danger">
                                      *
                                    </small>
                                </div>
                                <div class="col-md-3">
                                    <input formControlName="vigencia" 
                                          type="number"
                                          [class.is-invalid]="vigenciaNoValida"
                                          placeholder="Vigencia" 
                                          class="form-control text-primary color-text-box">
                                </div>
                                <div class="col-auto px-0">
                                    <small *ngIf="vigenciaNoValida" class="text-danger">
                                      *
                                    </small>
                                </div>
                                <div class="col-auto">
                                  <button class="btn btn-outline-primary d-grid br25" heigth="auto" (click)="agregarPlan();" >
                                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-add"></i></span>
                                  </button>
                              </div>
                            </div>

                            <table class="table table-sm table-striped text-primary m-0 color-table br15">
                              <thead class="text-primary">
                                <tr class="text-primary">
                                  <th class="text-primary text-center" scope="col">Cant.</th>
                                  <th class="text-primary text-center" scope="col">Tipo</th>
                                  <th class="text-primary text-center" scope="col">Vig.</th>
                                  <th class="text-primary text-center" scope="col">Acción</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr  *ngFor="let plan of _paqueteDetalle; let i = index;">
                                  <td  ><h6 class="card-text text-primary text-center">{{plan.Cantidad}}</h6></td>
                                  <td ><h6 class="card-text text-primary text-center">{{plan.Descripcion}}</h6></td>
                                  <td ><h6 class="card-text text-primary text-center">{{plan.VigenciaXUnidad}}</h6></td>
                                  <td class="text-center p-1">
                                    <div class="col-auto">
                                        <a class="btn btn-sm btn-outline-danger br25" heigth="auto" (click)="eliminarPlan(plan);" >
                                          <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-trash-can"></i></span>
                                        </a>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </form>
                      </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" #myModalClose (click)="limpiarFormularios()" class="btn btn-secondary text-light br25" data-bs-dismiss="modal" >Cancelar</button>
            <button type="button" class="btn btn-primary br25" (click)="guardarPaquete();">{{_textoAccion}}</button>
          </div>
        </div>
      </div>
    </div>  