<div>
  <div class="row">
    <div class="col-md-2">
      <div class="sticky-md-top" style="top:70px; left:10px">
        <ul class="p-0 my-2">
          <a class="btn btn-outline-secondary d-grid mb-2" style="border-width:0px 0px 2px 0px;" routerLinkActive="active" [routerLink]="['/micuenta/mi-perfil']">
            <li>
              <span><i class="fa fa-user-o px-2"></i>Mi perfil</span>
            </li>
          </a>
          <a class="btn btn-outline-secondary d-grid mb-2" style="border-width:0px 0px 2px 0px;" routerLinkActive="active" [routerLink]="['/micuenta/mis-datosfiscales']">
            <li>
              <span><i class="fa-solid fa-file-lines px-2"></i>Mis datos fiscales</span>
            </li>
          </a>
          <a class="btn btn-outline-secondary d-grid mb-2" style="border-width:0px 0px 2px 0px;" routerLinkActive="active" [routerLink]="['/micuenta/mis-planesypaquetes']">
            <li>
              <span><i class="fa-solid fa-file-lines px-2"></i>Mis planes y paquetes</span>
            </li>
          </a>
          <a class="btn btn-outline-secondary d-grid mb-2" style="border-width:0px 0px 2px 0px;" routerLinkActive="active" [routerLink]="['/micuenta/mis-anuncios']">
            <li>
              <span><i class="fa-solid fa-file-lines px-2"></i>Mis anuncios</span>
            </li>
          </a>
          <a class="btn btn-outline-secondary d-grid mb-2" style="border-width:0px 0px 2px 0px;" routerLinkActive="active" [routerLink]="['/micuenta/mis-favoritos']">
            <li>
              <span><i class="fa-solid fa-file-lines px-2"></i>Mis favoritos</span>
            </li>
          </a>
          <a class="btn btn-outline-secondary d-grid mb-2" style="border-width:0px 0px 2px 0px;" routerLinkActive="active" [routerLink]="['/micuenta/mis-mensajes']">
            <li>
              <span><i class="fa-solid fa-file-lines px-2"></i>Mis mensajes y notificaciones</span>
            </li>
          </a>
          <a class="btn btn-outline-secondary d-grid" style="border-width:0px 0px 2px 0px;" routerLinkActive="active" [routerLink]="['/micuenta/mis-facturas']">
            <li>
              <span><i class="fa-solid fa-file-lines px-2"></i>Mis facturas</span>
            </li>
          </a>
          <a class="btn btn-outline-secondary d-grid" style="border-width:0px 0px 2px 0px;" routerLinkActive="active" [routerLink]="['/micuenta/mis-indicadores']">
            <li>
              <span><i class="fa-solid fa-file-lines px-2"></i>Mis indicadores</span>
            </li>
          </a>
          <br/><br/>
          <a class="btn btn-outline-secondary d-grid" style="border-width:0px 0px 2px 0px;" routerLinkActive="active" [routerLink]="['/micuenta/salir']">
            <li>
              <span>Cerrar sesión<i class="fa-solid fa-arrow-right-from-bracket px-2"></i></span>
            </li>
          </a>
        </ul>
      </div>
    </div>
    <div class="col-md-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>