<form [formGroup]="formIniciarsesion" (ngSubmit)="iniciarSesion()">
  <div class="form-group row py-3">
    <label class="col-md-12 col-form-label text-center"><h1 class="display-4 text-primary">Acceder</h1></label>
  </div>

    <div class="form-group row py-3">
        <label class="col-md-2 col-form-label">Correo electrónico</label>
        <div class="col-md-4 col-10 p-0">
        <input
          class="form-control"
          type="email"
          email
          placeholder="Correo electrónico"
          formControlName="correo"
          [class.is-invalid]="correoNoValido"
        />
      </div>
      <div class="col-md-4 col-form-label">
        <small *ngIf="correoNoValido" class="text-danger">
          Ingrese el correo
        </small>
      </div>
    </div>
  
    <div class="form-group row py-3">
      <label class="col-md-2 col-form-label">Contraseña</label>
      <div class="col-md-4 col-10 p-0">
        <input
          type="password"
          class="form-control"
          placeholder="Contraseña"
          formControlName="password1"
          [class.is-invalid]="password1NoValido"
        />
      </div>
      <div class="col-md-4 col-form-label">
        <small *ngIf="password1NoValido" class="text-danger">
          Ingrese la contraseña
        </small>
      </div>
    </div>
  
    <div class="form-group row py-3">
      <label class="col-md-2 col-form-label">&nbsp;</label>
      <div class="col-4 d-grid gap-2 mix-auto">
        <button type="submit" class="btn btn-primary btn-lg">Iniciar sesión</button>
      </div>
    </div>

    <div class="text-center p-3">
      <a class="text-danger" routerLink="/login">¿No tienes cuenta? Registrate aqui.</a>
    </div>
    <div class="text-center p-3">
      <a class="text-success" routerLink="/recuperarpassword">¿Olvidaste tu contraseña? / Recuperar contraseña</a>
    </div>
    <!-- <div class="text-center p-3">
      <a jscontroller="A2m8uc" jsaction="rcuQ6b:npT2md; click:mAWTmb;" href="https://accounts.google.com/Login?continue=https%3A%2F%2Fdocs.google.com%2Fforms%2Fd%2Fe%2F1FAIpQLSfknVR7_h0iDs6t_aGzfNGbEY8YDb3CJkNZk5ErtJYZVv9vCQ%2Fviewform%3Fentry.1940758168%26entry.1121817233%26entry.26508712%26fbzx%3D-5234508198463660143%26emailAddress" aria-describedby="SMMuxb">Iniciar sesión en Google</a>
    </div> -->
  </form>
  