
<form [formGroup]="formIniciarsesion" autocomplete="on">
  <fieldset>
  <div class="form-group row py-3">
    <label class="col-md-12 col-form-label text-center"><h1 class="display-4 text-primary">Ingresar</h1></label>
  </div>

    <div class="form-group row py-3">
      <label class="col-md-2 col-form-label text-primary text-end">Correo electrónico</label>
      <div class="col-md-3 col-10 p-0">
        <input autocomplete="on"
               class="form-control text-primary color-text-box"
               type="email"
               email
               placeholder="Correo electrónico"
               formControlName="correo"
               [class.is-invalid]="correoNoValido"/>
      </div>
      
      <div class="col-md-2 col-form-label">
        <small *ngIf="correoNoValido" class="text-danger">
          Ingrese el correo
        </small>
      </div>
      <div class="col-md-3 col-form-label d-grid mix-auto">
        <button id="sesiongoogle"
                type="submit" 
                (click)="iniciarSesionGoogle()" 
                class="btn btn-outline-primary btn-lg br25">Iniciar con Google
                <i class="fa-brands fa-google"></i>
        </button>
        <!-- <div id="googleBtn" class="g-signin2" data-onsuccess="onSignIn"></div> -->
      </div>
    </div>
  
    <div class="form-group row py-3">
      <label class="col-md-2 col-form-label text-primary text-end">Contraseña</label>
      <div class="col-md-3 col-10 p-0">
        <input [type]="obtenerTipo"
               autocomplete="off"
               class="form-control text-primary color-text-box"
               placeholder="Contraseña"
               formControlName="password1"
               [class.is-invalid]="password1NoValido"/>
      </div>
      <div class="col-auto px-0">
        <button type="button" 
                tabindex="-1" 
                class="btn btn-primary px-1" 
                (click)="cambiarTipo()"><span class="col-md-1 col-md-offset-2 text-center">
          <div *ngIf="obtenerTipo=='text'">
            <i class="fa fa-eye"></i>
          </div>
          <div *ngIf="obtenerTipo=='password'">
            <i class="fa fa-eye-slash"></i>
          </div>
        </span></button>
      </div>
      <div class="col-md-2 col-form-label">
        <small *ngIf="password1NoValido" class="text-danger">
          Ingrese la contraseña
        </small>
      </div>
      <div class="col-md-3 col-form-label d-grid mix-auto">
        <button type="submit" 
                (click)="iniciarSesionFacebook()" 
                class="btn btn-outline-primary btn-lg br25">Iniciar con Facebook
                <i class="fa-brands fa-facebook-square"></i>
        </button>
      </div>
    </div>
  
    <div class="form-group row py-3">
      <label class="col-md-2 col-form-label">&nbsp;</label>
      <div class="col-3 d-grid gap-2 mix-auto">
        <button type="submit" 
                (click)="iniciarSesion()" 
                class="btn btn-primary btn-lg br25">Iniciar sesión
        </button>
      </div>
    </div>

    <div class="text-center p-3">
      <a class="text-danger" routerLink="/login">¿No tienes cuenta? Registrate aqui.</a>
    </div>
    <div class="text-center p-3">
      <a class="text-success" routerLink="/recuperarpassword">¿Olvidaste tu contraseña? / Recuperar contraseña</a>
    </div>
    <!-- <div class="text-center p-3">
      <a jscontroller="A2m8uc" jsaction="rcuQ6b:npT2md; click:mAWTmb;" href="https://accounts.google.com/Login?continue=https%3A%2F%2Fdocs.google.com%2Fforms%2Fd%2Fe%2F1FAIpQLSfknVR7_h0iDs6t_aGzfNGbEY8YDb3CJkNZk5ErtJYZVv9vCQ%2Fviewform%3Fentry.1940758168%26entry.1121817233%26entry.26508712%26fbzx%3D-5234508198463660143%26emailAddress" aria-describedby="SMMuxb">Iniciar sesión en Google</a>
  
    </div> -->
  </fieldset>
</form>
  