<div class="container animate__animated animate__flip">
  <legend class="text-center text-primary mb-3"><h1 class="display-4">Mis anuncios</h1></legend>
    <div *ngFor="let item of [1,2,3]" class="row my-3">
        <div class="col-md-4 p-1 border" style="border-radius: 15px 0px 0px 15px;">
          <img src="https://i.ibb.co/3RgNhSM/Credencial-De-Elector.jpg" alt="" width="290px;" height="auto" style="border-radius: 15px 0px 0px 15px;">
        </div>
        <div class="col-md-8 p-1 border" style="border-radius: 0px 15px 15px 0px;">
          <div class="row">
            <span>Descripcion</span>
            <span>Precio</span>
            <span>Caracteristicas principales</span>
            <span>Caracteristicas secundarias</span>
            <span>Ubicacion</span>
          </div>
        </div>
    </div>
</div>