<div class="">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal">
                    <fieldset>
                        <legend class="text-center text-primary mb-3"><h1 class="display-4">Mis datos fiscales</h1></legend>
                        <div class="form-group row mb-3 px-2">
                            <div class="col-md-1 px-0">
                                <a class="btn btn-primary btn-sm" style="border-radius:25px;" (click)="limpiarFormulario()" data-bs-toggle="modal" data-bs-target="#gridAgregarDatosFiscales" >
                                  <span class="col-md-1 col-md-offset-2 text-center">
                                  <i class="fa fa-add bigicon" aria-hidden="true"> </i>
                              </span></a>
                            </div>
                            <div class="col-md-8 px-0"></div>
                            <div class="col-md-3 p-0 text-end">
                            </div>
                        </div>

                        <div class="row">

                            <div class="card-group justify-content-center">
                              <div class="form-group row mb-3" *ngFor="let datoFiscal of _datosFiscales">
                                    <app-tarjetadatofiscal class="row px-4 gy-2" (_sePresionaEliminar)="eliminarDatosFiscales(datoFiscal)" (_sePresionaEditar)="obtenerDatoFiscal(datoFiscal)" (_sePresionaPredeterminado)="actualizarPredeterminado(datoFiscal)" [_datoFiscal]="datoFiscal" [_origen]="'MisDatosFiscales'"></app-tarjetadatofiscal>
                              </div>
                            </div>

                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="gridAgregarDatosFiscales" tabindex="-1" aria-labelledby="gridModalLabel" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-lg br15">
      <div class="modal-content color-modal">
        <div class="modal-header">
          <h5 class="modal-title text-primary" id="gridModalLabel">{{_textoAccion}} dato fiscal</h5>
          <button type="button" class="btn-close bg-color-5" (click)="limpiarFormulario()" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container-fluid bd-example-row">
            <div class="row">
                <div class="col-md-12">
                    <div class="well well-sm">
                        <form class="form-horizontal" [formGroup]="formaDatosFiscales">
                            <fieldset>
                                <!-- <legend class="text-center text-primary mb-3"><h1 class="display-4">Mi perfil</h1></legend> -->

                                <div class="form-group row mb-3">
                                  <div class="col-md-1">
                                    <label class="text-primary text-start">Persona:</label>
                                  </div>
                                  <div class="col-md-7">
                                    <select class="form-select form-select-md br10 text-primary color-text-box"
                                            aria-label="Default select example"
                                            name="tipopersona"
                                            formControlName="tipopersona"
                                            [class.is-invalid]="tipopersonaNoValido">
                                      <option value="" selected disabled>Seleccione...</option>
                                      <option *ngFor="let tipopersona of _tiposPersonas" [value]="tipopersona.Id_TipoPersona">{{ tipopersona.Descripcion }}
                                      </option>
                                    </select>
                                  </div>
                                  <div class="col-auto px-0">
                                    <small *ngIf="tipopersonaNoValido" class="text-danger">
                                      Seleccione el tipo de persona
                                    </small>
                                  </div>
                                </div>

                                <div class="form-group row mb-3">
                                    <span class="col-md-1 col-md-offset-2 text-primary text-center"><i class="fa fa-user bigicon"></i></span>
                                    <div class="col-md-7">
                                        <input formControlName="nombrerazonsocial" 
                                               maxlength="50"
                                               type="text" 
                                               placeholder="Nombre o razón social" 
                                               [class.is-invalid]="nombreNoValido" 
                                               class="form-control text-primary color-text-box">
                                    </div>
                                    <div class="col-auto px-0">
                                        <small *ngIf="nombreNoValido" class="text-danger">
                                          Nombre/Razón Social requerida
                                        </small>
                                    </div>
                                </div>

                                <div class="form-group row mb-3">
                                    <span class="col-md-1 col-md-offset-2 text-primary text-center"><i class="fa fa-user bigicon"></i></span>
                                    <div class="col-md-7">
                                        <input formControlName="domiciliofiscal" 
                                               type="text" 
                                               maxlength="200"
                                               placeholder="Domicilio fiscal" 
                                               [class.is-invalid]="domiciliofiscalNoValido" 
                                               class="form-control text-primary color-text-box">
                                    </div>
                                    <div class="col-auto px-0">
                                        <small *ngIf="domiciliofiscalNoValido" class="text-danger">
                                          Domicilio requerido
                                        </small>
                                    </div>
                                </div>

                                <div class="form-group row mb-3">
                                    <span class="col-md-1 col-md-offset-2 text-primary text-center"><i class="fa fa-user bigicon"></i></span>
                                    <div class="col-md-7">
                                        <input formControlName="codigopostal" 
                                               type="text" 
                                               maxlength="10"
                                               placeholder="Código Postal" 
                                               [class.is-invalid]="codigopostalNoValido" 
                                               class="form-control text-primary color-text-box">
                                    </div>
                                    <div class="col-auto px-0">
                                        <small *ngIf="codigopostalNoValido" class="text-danger">
                                          Codigo postal requerido
                                        </small>
                                    </div>
                                </div>
        
                                <div class="form-group row mb-3">
                                    <span class="col-md-1 col-md-offset-2 text-primary text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                                    <div class="col-md-7">
                                        <input formControlName="email" 
                                               type="text" 
                                               maxlength="50"
                                               [class.is-invalid]="correoNoValido"
                                               placeholder="Correo electrónico" 
                                               class="form-control text-primary color-text-box">
                                    </div>
                                    <div class="col-auto px-0">
                                        <small *ngIf="correoNoValido" class="text-danger">
                                          Correo no valido
                                        </small>
                                    </div>
                                </div>
        
                                <div class="form-group row mb-3">
                                    <span class="col-md-1 col-md-offset-2 text-primary text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                                    <div class="col-md-7">
                                        <input formControlName="rfc" 
                                               type="text" 
                                               maxlength="15"
                                               [class.is-invalid]="rfcNoValido"
                                               placeholder="RFC" 
                                               class="form-control text-primary color-text-box">
                                    </div>
                                    <div class="col-auto px-0">
                                        <small *ngIf="rfcNoValido" class="text-danger">
                                          RFC no valido
                                        </small>
                                    </div>
                                </div>
        
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" #myModalClose (click)="limpiarFormulario()" class="btn btn-secondary br25" data-bs-dismiss="modal" >Cerrar</button>
          <button type="button" class="btn btn-primary br25" (click)="guardarDatosFiscales();">{{_textoAccion}}</button>
        </div>
      </div>
    </div>
  </div>