  <div class="container py-5">
      <div class="row">
          <div class="col-md-12">
              <div class="well well-sm">
                  <form class="form-horizontal">
                      <fieldset>
                          <legend class="text-center text-primary mb-3"><h1 class="display-4 sombraTitulo">Planes</h1></legend>
                          <div class="form-group row mb-3">
                              <div class="col-md-10 p-0">
                                  <a class="btn btn-primary btn-sm" style="border-radius:25px;" (click)="limpiarFormulario()" data-bs-toggle="modal" data-bs-target="#gridAgregarPlanes" >
                                      <span class="col-md-1 col-md-offset-2 text-center">
                                      <i class="fa fa-add bigicon" aria-hidden="true"></i>
                                  </span></a>
                              </div>
                              <div class="col-md-2 p-0">
                                  <td class="text-end">
                                    <span class="text-primary">Total de registros: <strong>{{_planes.length}}</strong></span>
                                  </td>
                              </div>
                          </div>

                          <div class="">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="well well-sm">
                                      <div class="card-group justify-content-center">
                                        <div class="form-group row" *ngFor="let plan of _planes">
                                          <app-tarjetaplanes class="row px-4 g-3" [_plan]="plan" [_origen]="'menuPlan'" (_sePresionaModificar)="obtenerPlan(plan)" (_sePresionaEliminar)="eliminarPlan(plan)"></app-tarjetaplanes>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                      </fieldset>
                  </form>
              </div>
          </div>
      </div>
  </div>
  
  <div class="modal fade" id="gridAgregarPlanes" tabindex="-1" aria-labelledby="gridModalLabel" aria-modal="true" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content color-modal">
          <div class="modal-header">
            <h5 class="modal-title text-primary" id="gridModalLabel">{{_textoAccion}} Plan</h5>
            <button type="button" class="btn-close" (click)="limpiarFormulario()" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid bd-example-row">
              <div class="row">
                  <div class="col-md-12">
                      <div class="well well-sm">
                          <form class="form-horizontal" [formGroup]="formaPlan">
                              <fieldset>
                                  <!-- <legend class="text-center text-primary mb-3"><h1 class="display-4">Mi perfil</h1></legend> -->
                                  <div class="form-group row mb-3">
                                      <span class="col-md-1 col-md-offset-2 text-primary text-center"><i class="fa fa-file-signature bigicon"></i></span>
                                      <div class="col-md-8">
                                          <input name="descripcion"
                                                 formControlName="descripcion" 
                                                 type="text" 
                                                 placeholder="Descripción" 
                                                 [class.is-invalid]="descripcionNoValido" 
                                                 class="form-control text-primary color-text-box">
                                      </div>
                                      <div class="col-md-3 px-0">
                                          <small *ngIf="descripcionNoValido" class="text-danger">
                                            Descripción no valida
                                          </small>
                                      </div>
                                  </div>
  
                                  <div class="form-group row mb-3">
                                      <span class="col-md-1 col-md-offset-2 text-primary text-center"><i class="fa fa-dollar-sign bigicon"></i></span>
                                      <div class="col-md-8">
                                          <input formControlName="precio" 
                                                 type="number"
                                                 [class.is-invalid]="precioNoValido"
                                                 placeholder="Precio" 
                                                 class="form-control text-primary color-text-box">
                                      </div>
                                      <div class="col-md-3 px-0">
                                          <small *ngIf="precioNoValido" class="text-danger">
                                            Precio no valido
                                          </small>
                                      </div>
                                  </div>

                                  <div class="form-group row mb-3">
                                      <span class="col-md-1 col-md-offset-2 text-primary text-center"><i class="fa fa-arrow-down-1-9 bigicon"></i></span>
                                      <div class="col-md-8">
                                          <input formControlName="cantidad" 
                                                 type="number"
                                                 [class.is-invalid]="cantidadNoValido"
                                                 placeholder="Cantidad" 
                                                 class="form-control text-primary color-text-box">
                                      </div>
                                      <div class="col-md-3 px-0">
                                          <small *ngIf="cantidadNoValido" class="text-danger">
                                            Cantidad no valido
                                          </small>
                                      </div>
                                  </div>

                                  <div class="form-group row mb-3">
                                      <span class="col-md-1 col-md-offset-2 text-primary text-center"><i class="fa fa-calendar-days bigicon"></i></span>
                                      <div class="col-md-8">
                                          <input formControlName="vigenciaxunidad" 
                                                 type="number"
                                                 [class.is-invalid]="vigenciaxunidadNoValido"
                                                 placeholder="Vigencia por unidad" 
                                                 class="form-control text-primary color-text-box">
                                      </div>
                                      <div class="col-md-3 px-0">
                                          <small *ngIf="vigenciaxunidadNoValido" class="text-danger">
                                            Vigencia por unidad no valido
                                          </small>
                                      </div>
                                  </div>

                                  <div class="form-group row mb-3">
                                      <span class="col-md-1 col-md-offset-2 text-primary text-center"><i class="fa fa-image bigicon"></i></span>
                                      <div class="col-md-8">
                                          <input formControlName="urlimagen" 
                                                 type="text"
                                                 placeholder="URL de la imagen" 
                                                 class="form-control text-primary color-text-box">
                                      </div>
                                  </div>

                                  <div class="form-group row mb-3">
                                    <span class="col-md-1 col-md-offset-2 text-primary text-center"><i class="fa fa-calendar-days bigicon"></i></span>
                                    <div class="col-md-8">
                                        <input formControlName="clave" 
                                               type="text"
                                               [class.is-invalid]="claveNoValido"
                                               placeholder="Clave interna del producto" 
                                               class="form-control text-primary color-text-box">
                                    </div>
                                    <div class="col-md-3 px-0">
                                        <small *ngIf="claveNoValido" class="text-danger">
                                          Clave requerida
                                        </small>
                                    </div>
                                  </div>

                                  <div class="form-group row mb-3">
                                    <span class="col-md-1 col-md-offset-2 text-primary text-center"><i class="fa fa-calendar-days bigicon"></i></span>
                                    <div class="col-md-8">
                                        <input formControlName="claveProdSAT" 
                                               type="text"
                                               [class.is-invalid]="claveProdSATNoValido"
                                               placeholder="Clave del SAT requerida" 
                                               class="form-control text-primary color-text-box">
                                    </div>
                                    <div class="col-md-3 px-0">
                                        <small *ngIf="claveProdSATNoValido" class="text-danger">
                                          Clave del SAT
                                        </small>
                                    </div>
                                  </div>

                                  <div class="form-group row mb-3">
                                      <span class="col-md-1 col-md-offset-2 text-primary text-center"><i class="fa fa-image bigicon"></i></span>
                                      <div class="col-md-8">
                                          <input formControlName="visible" 
                                                 type="number"
                                                 [class.is-invalid]="visibleNoValido"
                                                 placeholder="0 para no visible y 1 para visible" 
                                                 class="form-control text-primary color-text-box">
                                      </div>
                                      <div class="col-md-3 px-0">
                                        <small *ngIf="visibleNoValido" class="text-danger">
                                          Valor requerido
                                        </small>
                                    </div>
                                  </div>
          
                              </fieldset>
                          </form>
                      </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" #myModalClose (click)="limpiarFormulario()" class="btn btn-secondary text-light br25" data-bs-dismiss="modal" >Cancelar</button>
            <button type="button" class="btn btn-primary br25" (click)="guardarPlan();">{{_textoAccion}}</button>
          </div>
        </div>
      </div>
    </div>  