<div class="limiter animated fadeInRight">
  <div class="container-login100 animated fadeInRight">
    <div class="wrap-login100 p-t-50 p-b-90">
  <form
    autocomplete="off"
    [formGroup]="formLogin"
    (ngSubmit)="guardarRegistro()"
  >
    <div class="form-group row py-3">
      <label class="col-md-6 col-form-label text-center"
        ><h1>CREAR NUEVA CUENTA</h1></label
      >
    </div>

    <div class="form-group row py-3">
      <label class="col-md-2 col-form-label">Correo electrónico</label>
      <div class="col-md-4 col-10 p-0">
        <input
          class="form-control"
          type="email"
          placeholder="Correo electrónico"
          formControlName="correo"
          [class.is-invalid]="correoNoValido"
        />
      </div>
      <div class="col-md-4 col-form-label">
        <small *ngIf="correoNoValido" class="text-danger">
          Ingrese el correo
        </small>
      </div>
    </div>

    <div class="form-group row py-3">
      <label class="col-md-2 col-form-label">Contraseña</label>
      <div class="col-md-4 col-10 p-0">
        <input
          type="password"
          class="form-control"
          placeholder="Contraseña"
          formControlName="password1"
          [class.is-invalid]="password1NoValido"
        />
      </div>
      <div class="col-md-4 col-form-label">
        <small *ngIf="password1NoValido" class="text-danger">
          Ingrese la contraseña
        </small>
      </div>
    </div>

    <div class="form-group row py-3">
      <label class="col-md-2 col-form-label">Repita contraseña</label>
      <div class="col-md-4 col-10 p-0">
        <input
          type="password"
          class="form-control"
          placeholder="Repita contraseña"
          formControlName="password2"
          [class.is-invalid]="password2NoValido"
        />
      </div>
      <div class="col-md-4 col-form-label">
        <small *ngIf="password2NoValido" class="text-danger">
          La contraseña no coincide
        </small>
      </div>
    </div>

    <div class="form-group row py-3">
      <label class="col-md-2 col-form-label">&nbsp;</label>
      <div class="col-4 d-grid gap-2 mix-auto">
        <button type="submit" class="btn btn-primary btn-lg">
          Crear cuenta
        </button>
      </div>
    </div>

    <div class="text-center p-3">
      <a class="text-black" routerLink="/iniciarsesion"
        >¿Ya tienes una cuenta? / Ingresar</a
      >
    </div>
  </form>
</div>
</div>
</div>