<div class="limiter animated fadeInRight">
  <div class="container-login100 animated fadeInRight">
    <div class="wrap-login100 p-t-50 p-b-90">
  <form [formGroup]="formLogin" autocomplete="on">
    <div class="form-group row py-3">
      <label class="col-md-12 col-form-label text-center"
        ><h1 class="display-4 text-primary">Crear cuenta nueva</h1></label
      >
    </div>

    <div class="form-group row py-3">
      <label class="col-md-2 col-form-label text-primary text-end">Correo electrónico</label>
      <div class="col-md-4 col-10 p-0">
        <input type="email" 
               autocomplete="on"
               class="form-control text-primary color-text-box"
               placeholder="Correo electrónico"
               formControlName="correo"
               [class.is-invalid]="correoNoValido"/>
      </div>
      <div class="col-md-4 col-form-label">
        <small *ngIf="correoNoValido" class="text-danger">
          Ingrese una dirección de correo valida
        </small>
      </div>
    </div>

    <div class="form-group row py-0">
      <label class="col-md-2 col-form-label text-primary text-end">Contraseña</label>
      <div class="col-md-4 col-10 p-0">
        <input
          [type]="obtenerTipo"
          class="form-control text-primary color-text-box"
          placeholder="Contraseña"
          formControlName="password1"
          [class.is-invalid]="password1NoValido"
        />
      </div>
      <div class="col-auto px-0">
        <button type="button" tabindex="-1" class="btn btn-primary px-1" (click)="cambiarTipo()"><span class="col-md-1 col-md-offset-2 text-center">
          <div *ngIf="obtenerTipo=='text'">
            <i class="fa fa-eye"></i>
          </div>
          <div *ngIf="obtenerTipo=='password'">
            <i class="fa fa-eye-slash"></i>
          </div>
        </span></button>
      </div>
      <div class="col-md-4 col-form-label">
        <small *ngIf="password1NoValido" class="text-danger">
          Ingrese la contraseña
        </small>
      </div>
    </div>

    <div class="form-group row py-3">
      <label class="col-md-2 col-form-label text-primary text-end">Repita contraseña</label>
      <div class="col-md-4 col-10 p-0">
        <input
          [type]="obtenerTipo"
          class="form-control text-primary color-text-box"
          placeholder="Repita contraseña"
          formControlName="password2"
          [class.is-invalid]="passwordsDiferentes"
        />
      </div>
      <div class="col-auto px-0">
        <button type="button" tabindex="-1" class="btn btn-primary px-1" (click)="cambiarTipo()"><span class="col-md-1 col-md-offset-2 text-center">
          <div *ngIf="obtenerTipo=='text'">
            <i class="fa fa-eye"></i>
          </div>
          <div *ngIf="obtenerTipo=='password'">
            <i class="fa fa-eye-slash"></i>
          </div>
        </span></button>
      </div>
      <div class="col-md-4 col-form-label">
        <small *ngIf="passwordsDiferentes" class="text-danger">
          La contraseña no coincide
        </small>
      </div>
    </div>

    <div class="form-group row py-0">
      <label class="col-md-2 col-form-label">&nbsp;</label>
      <div class="col-md-4">
        <div class="form-check">
          <input class="form-check-input"
                 type="checkbox" 
                 [checked]="_soyAgente"
                 id="flexCheckChecked">
          <label class="form-check-label text-primary" for="flexCheckChecked">
            Soy agente inmobiliario
          </label>
        </div>
      </div>
    </div>

    <div class="form-group row py-3">
      <label class="col-md-2 col-form-label">&nbsp;</label>
      <!-- <div class="col-2 d-grid gap-2 mix-auto">
        <button type="button" (click)="guardarRegistro(2)" class="form-control btn btn-primary btn-lg" >
          SOY Dueño
        </button>
      </div> -->
      <div class="col-4 d-grid gap-2 mix-auto">
        <button type="button" (click)="guardarRegistro()" class="form-control btn btn-primary btn-lg" >
          Crear cuenta
        </button>
      </div>
    </div>

    <div class="text-center p-2">
      <a class="text-success" routerLink="/iniciarsesion">¿Ya tienes una cuenta? / Ingresar</a>
    </div>
    <div class="text-center p-2">
      <a class="text-success" routerLink="/recuperarpassword">¿Olvidaste tu contraseña? / Recuperar contraseña</a>
    </div>
  </form>
</div>
</div>
</div>