<div class="container py-5 animate__animated" [ngClass]="{' animate__zoomIn': _numeroPaso === 1, ' animate__zoomOut': _numeroPaso === 2}">

    <div class="container" >
      <div class="row px-0" >
          <div class="col-md-12" >
            <legend class="text-center text-primary mb-3 "><h1 class="display-4">Pagar y publicar</h1></legend>
          </div>
      </div>
    </div>

    <div class="container py-5" style="border-width:1px 1px 0px 1px; border-style: solid; border-radius: 20px 20px 0px 0px; border-color: rgba(223, 126, 137, 0.8); background: rgba(223, 126, 137, 0.15);">
      <div class="form-group row">
        <legend class="text-center text-primary mt-3"><h3>Selecciona el plan con el que quieres publicar o adquiere uno nuevo</h3></legend>
          <div class="col mt-5">
            <div class="text-center">
              <div class="row">
                <div class="col-md-1"></div>
                <div class="col d-grid">
                  <input type="radio" class="btn-check" name="options-outlined" id="planActual" autocomplete="off" [checked]="!_planActualNuevo" (change)="cambiarPlan(0)">
                  <label class="btn btn-outline-primary br25" for="planActual">Deseo utilizar uno de mis planes ó paquetes</label>
                </div>
                <div class="col-md-1"></div>
                <div class="col d-grid">
                  <input type="radio" class="btn-check" name="options-outlined" id="planNuevo" autocomplete="off" [checked]="_planActualNuevo" (change)="cambiarPlan(1)">
                  <label class="btn btn-outline-primary br25" for="planNuevo">Deseo adquirir un plan diferente o nuevo</label>
                </div>
                <div class="col-md-1"></div>
              </div>
            </div>
          </div>

        <div *ngIf="!_planActualNuevo && !_cargandoInformacion">
          <h4 *ngIf="(_planesCliente.length > 0 || _paquetesCliente.length > 0) && !_cargandoInformacion" class="text-center text-primary my-5">
            Actualmente dispones de los siguientes planes y/o paquetes<br/>y puedes usar cualquiera de ellos
          </h4>

          <h4 *ngIf="!_cargandoInformacion && _planesCliente.length === 0 && _paquetesCliente.length === 0 && !_esDesarrollo" class="display-4 text-center text-primary my-5">
            No dispones de ningún plan adquirido. Puedes adquirir uno desde aquí
          </h4>

          <h4 *ngIf="!_cargandoInformacion && _planesCliente.length === 0 && _paquetesCliente.length === 0 && _esDesarrollo" class="display-4 text-center text-primary my-5">
            No dispones de ningún plan adquirido<br/>que pueda ser aplicado para publicar un desarrollo
          </h4>

          <div class="card-group justify-content-center">
            <div class="form-group row mb-3" *ngFor="let plancliente of _planesCliente">
                <app-tarjetaplanescliente class="row px-4 gy-2" [_planCliente]="plancliente" [_tipoTarjeta]="'AlPagar'" (_seEligePlanCliente)="seleccionarPlanCliente(plancliente)"></app-tarjetaplanescliente>
            </div>
          </div>

          <div class="card-group justify-content-center">
            <div class="form-group row mb-3" *ngFor="let paqueteCliente of _paquetesCliente">
              <app-tarjetapaquetescliente class="row px-4 g-2" [_paqueteCliente]="paqueteCliente" [_esDesarrollo]="_esDesarrollo" [_tipoTarjeta]="'AlPagar'" (_seEligePlanPaqueteCliente)="seleccionarPlanPaqueteCliente(paqueteCliente)"></app-tarjetapaquetescliente>
            </div>
          </div>

        </div>

        <div *ngIf="_cargandoInformacion">
          <app-loading [_textoLoading]="'Cargando tus planes y/o paquetes...'"></app-loading>
        </div>

      </div>

      <div *ngIf="_planActualNuevo && !_cargandoInformacion" class="form-group row text-center">
        <h4 class="text-center text-primary my-5">Selecciona el plan que deseas adquirir de la lista siguiente</h4>
        <legend class="text-center text-primary mt-3">
          <div class="card-group justify-content-center">
            <div class="form-group row mb-3" *ngFor="let plan of _planes">
                  <app-tarjetaplanes class="row px-5 gy-2" [_plan]="plan" [_origen]="'AlPagar'" (_sePresionaElegirPlan)="seleccionarPlan(plan)"></app-tarjetaplanes>
            </div>
          </div>
          <h4>
            <br>
            Para adquirir uno de nuestros planes deberá de realizar una transferencia electrónica<br>
            a cualquiera de los siguientes bancos:<br><br>
          </h4>
          <div class="card-group justify-content-center">
            <div class="form-group row mb-3" *ngFor="let banco of _bancos">
                  <app-tarjetabanco class="row px-4 gy-2" [_banco]="banco" (_seEligeBanco)="seleccionarBanco(banco)" [_origen]="''"></app-tarjetabanco>
            </div>
          </div>

          <p>
            <br>
            En el asunto deberas colocar lo siguiente: <strong>{{_plan.Clave}}C{{_publicacion.Id_Cliente}}P{{_publicacion.Id_Publicacion}}</strong>
          </p>

          <p>
            <br>
            Una vez realizada dicha transferencia tu anuncio será publicado de manera automaticá<br>
            asi podrá ser visto por miles de personas en todo México<br><br><br>
            Y de esta manera concretar la Venta o su Renta de su propiedad.
          </p>
          </legend>
      </div>

    </div>
    
    <div class="container" >
      <div class="row px-0" >
        <div class="col-md-2 d-grid py-3" style="border-width:0px 1px 5px 1px; border-style: solid; border-color: rgba(223, 126, 137, 0.8); border-radius: 0 0 20px 20px; background: rgba(223, 126, 137, 0.15);">
          <button type="button" 
                  (click)="regresar()" 
                  [disabled]="_guardandoYpublicando"
                  class="btn btn-primary btn-lg align-items-right br25">
                  <i class="fa fa-arrow-left"></i>
                  Atras
          </button>
        </div>
        <div class="col-md-4"></div>
          <div class="col-md-3 d-grid py-3" >
              <!-- <button type="button" style="border-radius: 0.8em;" (click)="guardarCaracteristicas()" class="btn btn-primary btn-lg align-items-right">Guardar</button> -->
          </div>
          <div class="col-md-3 d-grid py-3" style="border-width:0px 1px 5px 1px; border-style: solid; border-color: rgba(223, 126, 137, 0.8); border-radius: 0px 0px 20px 20px; background: rgba(223, 126, 137, 0.15);">
              <button type="button"
                      class="btn btn-primary btn-lg align-items-right br25" 
                      (click)="validarPlanYBanco()" [disabled]="_guardandoYpublicando">
                <span *ngIf="_guardandoYpublicando"><i class="fa fa-sync fa-spin"></i> Espere por favor...</span>
                <span *ngIf="!_guardandoYpublicando">Guardar y Publicar</span>
              </button>
              <button type="button" style="visibility: hidden;" #myModalAceptarYPublicar data-bs-toggle="modal" data-bs-target="#gridAgregarFactura" ></button>
              <button type="button" style="visibility: hidden;" #myModalClose data-bs-dismiss="modal" data-bs-target="#gridAgregarFactura"></button>
          </div>
      </div>
    </div>

  </div>

<div class="modal fade" id="gridAgregarFactura" tabindex="-1" aria-labelledby="gridModalLabel" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content color-modal">
      <div class="modal-header">
        <h5 class="modal-title text-primary" id="gridModalLabel">Facturación</h5>
        <button type="button" class="btn-close bg-color-5" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div *ngIf="_datosFiscales.length === 0" class="modal-body py-2 px-0">
        <div class="container">
          <div class="row">

              <div class="card-group justify-content-center">
                <div class="form-group row">
                  <legend class="text-center text-primary mb-3">
                    <h1 class="display-4 mb-4">No cuentas con información fiscal para poder facturar la compra.</h1>
                    <p class="text-primary px-5">Puedes continuar sin facturar o puedes darde alta tus datos fiscales en la sección de <a href="/micuenta/datosfiscales">Mis datos fiscales</a> de tu cuenta.</p>
                  </legend>
                </div>
              </div>

          </div>
        </div>
      </div>

      <div class="modal-body py-2 px-0">
        <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="well well-sm">
                    <div class="card-group justify-content-center">
                      <div class="form-group row" *ngFor="let datoFiscal of _datosFiscales">
                        <app-tarjetadatofiscal  class="row px-5 g-4" (_seSeleccionaDatoFiscal)="seleccionarDatosFiscales(datoFiscal)" [_datoFiscal]="datoFiscal" [_origen]="'PagarYActivar'" ></app-tarjetadatofiscal>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary text-light br25" data-bs-dismiss="modal" [disabled]="_guardandoYpublicando">Cancelar</button>
        <button type="button" class="btn btn-primary br25" (click)="guardarPagaryActivar(0)" [disabled]="_guardandoYpublicando">
          <span *ngIf="_guardandoYpublicandoSF"><i class="fa fa-sync fa-spin"></i> Espere por favor...</span>
          <span *ngIf="!_guardandoYpublicandoSF">Continuar sin Facturar</span>
        </button>
        <button type="button" class="btn btn-primary br25" (click)="guardarPagaryActivar(1)" [disabled]="_guardandoYpublicando || _datosFiscales.length === 0 ">
          <span *ngIf="_guardandoYpublicandoCF"><i class="fa fa-sync fa-spin"></i> Espere por favor...</span>
          <span *ngIf="!_guardandoYpublicandoCF">Continuar y Facturar</span>
        </button>
      </div>
    </div>
  </div>
</div>