<!-- <div class="container animate__animated" [ngClass]="{' animate__backInRight': _numeroPaso === 1, ' animate__backOutLeft': _numeroPaso === 2}"></div> -->
<div class="container animate__animated" [ngClass]="{' animate__zoomIn': _numeroPaso === 1, ' animate__zoomOut': _numeroPaso === 2}">
    <form autocomplete="off" [formGroup]="formCaracteristicas">
      <fieldset>
  
        <div class="container" >
          <div class="row px-0" >
              <div class="col-md-10" >
                <legend class="text-center text-primary mb-3 "><h1 class="display-4">Pagar y publicar</h1></legend>
              </div>
              <div class="col-md-2 d-grid py-3">
                  <!-- <button type="button" style="border-radius: 0.8em;" (click)="pantallaSiguiente()" class="btn btn-primary btn-lg align-items-right">Siguiente</button> -->
              </div>
          </div>
        </div>
  
        <div class="container py-5" style="border-width:0px 1px 0px 0px; border-style: solid; border-radius: 20px 20px 0px 0px; border-color: rgba(223, 126, 137, 0.8); background: rgba(223, 126, 137, 0.15);">
          <div class="form-group row">
            <legend class="text-center text-primary mt-3"><h3>Selecciona el plan con el que quieres publicar.</h3></legend>
            <br>
            <h4 class="text-center text-primary">Actualmente dispones de los siguientes planes y puedes usar cualquiera de ellos</h4>

            <div class="card-group justify-content-center">
              <div class="form-group row mb-3" *ngFor="let plancliente of _planesCliente">
                  <app-tarjetaplanescliente class="row px-4 gy-2" [_planCliente]="plancliente" [_tipoTarjeta]="'AlPagar'" (_seEligePlan)="elegirPlanCliente(plancliente)"></app-tarjetaplanescliente>
              </div>
            </div>

          </div>

          <div class="form-group row mt-5 text-center">
            <legend class="text-center text-primary mt-3">
              <p>
                Para adquirir uno de nuestros planes deberá de realizar una transferencia electrónica<br>
                a cualquiera de los siguientes bancos:<br>
              </p>
              <div class="card-group justify-content-center">
                <div class="form-group row mb-3" *ngFor="let banco of _bancos">
                      <app-tarjetabanco class="row px-4 gy-2" [_banco]="banco" (_seEligeBanco)="seleccionarBanco(banco)"></app-tarjetabanco>
                </div>
              </div>

              <p>
                <br>
                En el asunto deberas colocar lo siguiente: 1-1-21
              </p>

              <p>
                <br>
                Una vez realizada dicha transferencia tu anuncio será publicado de manera automaticá<br>
                asi podrá ser visto por miles de personas en todo México<br><br><br>
                Y de esta manera concretar la Venta o su Renta de su propiedad.
              </p>
              </legend>
          </div>

        </div>
        
        <div class="container" >
          <div class="row px-0" >
            <div class="col-md-2 d-grid py-3" style="border-width:0px 1px 5px 1px; border-style: solid; border-color: rgba(223, 126, 137, 0.8); border-radius: 0 0 20px 20px; background: rgba(223, 126, 137, 0.15);">
              <button type="button" style="border-radius: 0.8em;" (click)="regresar()" class="btn btn-primary btn-lg align-items-right">Atras</button>
            </div>
            <div class="col-md-4"></div>
              <div class="col-md-3 d-grid py-3" >
                  <!-- <button type="button" style="border-radius: 0.8em;" (click)="guardarCaracteristicas()" class="btn btn-primary btn-lg align-items-right">Guardar</button> -->
              </div>
              <div class="col-md-3 d-grid py-3" style="border-width:0px 1px 5px 1px; border-style: solid; border-color: rgba(223, 126, 137, 0.8); border-radius: 0px 0px 20px 20px; background: rgba(223, 126, 137, 0.15);">
                  <button type="button" style="border-radius: 0.8em;" (click)="guardarPagaryActivar()" class="btn btn-primary btn-lg align-items-right">Guardar y Publicar</button>
              </div>
          </div>
        </div>
  
      </fieldset>
    </form>
  </div>