<!-- <div class="container animate__animated" [ngClass]="{' animate__backInRight': _numeroPaso === 1, ' animate__backOutLeft': _numeroPaso === 2}"></div> -->
<div class="container animate__animated" [ngClass]="{' animate__zoomIn': _numeroPaso === 1, ' animate__zoomOut': _numeroPaso === 2}">
    <form autocomplete="off" [formGroup]="formCaracteristicas">
      <fieldset>
  
        <div class="container" >
          <div class="row px-0" >
              <div class="col-md-10" >
                <legend class="text-center text-primary mb-3 "><h1 class="display-4">Pagar y publicar</h1></legend>
              </div>
              <div class="col-md-2 d-grid py-3">
                  <!-- <button type="button" style="border-radius: 0.8em;" (click)="pantallaSiguiente()" class="btn btn-primary btn-lg align-items-right">Siguiente</button> -->
              </div>
          </div>
        </div>
  
        <div class="container py-5" style="border-width:0px 1px 0px 0px; border-style: solid; border-radius: 20px 20px 0px 0px; border-color: rgba(223, 126, 137, 0.8); background: rgba(223, 126, 137, 0.15);">
          <div class="form-group row">
            <legend class="text-center text-primary mt-3"><h3>Selecciona el plan con el que quieres publicar.</h3></legend>
            <br><h4>Planes disponibles:</h4>
          </div>

          <div class="form-group row mt-5">
            <legend class="text-center text-primary mt-3">
              <p>
                Para adquirir uno de nuestros planes deberá de realizar una transferencia electronica<br>
                al siguiente numero de cuenta de la siguiente manera<br><br>
                No de cuenta: 123123123<br>
                Banco1: 123123123<br>
                Referencia: 123123123-SIMPLE<br>
                Referencia: 123123123-DESTACADO<br>
                Referencia: 123123123-SUPERDESTACADO<br>
                Referencia: 123123123-PAQUETE1<br>
                Referencia: 123123123-PAQUETE2<br><br><br>
                Una vez realizada dicha transferencia tu plan se activara automaticamente<br>
                y asi podras publicar tu anuncio y asi podrá ser visto por<br>
                miles de personas en todo México<br><br><br>
                Y de esta manera concretar la Venta o su Renta de su propiedad.
              </p>
              </legend>
          </div>

        </div>
        
        <div class="container" >
          <div class="row px-0" >
            <div class="col-md-2 d-grid py-3" style="border-width:0px 1px 5px 1px; border-style: solid; border-color: rgba(223, 126, 137, 0.8); border-radius: 0 0 20px 20px; background: rgba(223, 126, 137, 0.15);">
              <button type="button" style="border-radius: 0.8em;" (click)="regresar()" class="btn btn-primary btn-lg align-items-right">Atras</button>
            </div>
            <div class="col-md-4"></div>
              <div class="col-md-3 d-grid py-3" >
                  <!-- <button type="button" style="border-radius: 0.8em;" (click)="guardarCaracteristicas()" class="btn btn-primary btn-lg align-items-right">Guardar</button> -->
              </div>
              <div class="col-md-3 d-grid py-3" style="border-width:0px 1px 5px 1px; border-style: solid; border-color: rgba(223, 126, 137, 0.8); border-radius: 0px 0px 20px 20px; background: rgba(223, 126, 137, 0.15);">
                  <button type="button" style="border-radius: 0.8em;" (click)="guardarPagaryActivar()" class="btn btn-primary btn-lg align-items-right">Guardar y Publicar</button>
              </div>
          </div>
        </div>
  
      </fieldset>
    </form>
  </div>