<form autocomplete="off" [formGroup]="formaOTI" (ngSubmit)="guardarOTI()">
  <div class="container">
    <div class="form-group row py-3">
      <div class="col-md-2">
        <label>Tipo de operación</label>
      </div>
      <div class="col-md-10">
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
          <input type="radio" class="btn-check" id="v1" name="tipoOperacion" value="1" formControlName="tipoOperacion"/>
          <label class="btn btn-outline-primary" for="v1">Venta</label>

          <input type="radio" class="btn-check" id="r1" name="tipoOperacion" value="2"  formControlName="tipoOperacion"/>
          <label class="btn btn-outline-primary" for="r1">Renta</label>

          <!-- <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio3">Radio 3</label> -->
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-2 py-4">
        <label>Tipo de inmueble</label>  
      </div>
      <div class="col-md-10 py-4">
          <div class="row">
            <div class="col-auto" *ngIf="_tiposPropiedad.length > 0">
                <select class="form-select" aria-label="Default select example" [(ngModel)]="tipoPropiedadSeleccionada" name="tipoPropiedad" formControlName="tipoPropiedad" (change)="somethingChanged(3)">
                    <option *ngFor="let tipopropiedad of _tiposPropiedad; let i = index" [value]="tipopropiedad.Id_TipoPropiedad" >{{tipopropiedad.Descripcion}}</option>
                 </select>
            </div>
            <div class="col-auto">
                <label>Subtipo de inmueble</label>  
              </div>
            <div class="col-auto">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Seleccione el tipo de inmueble</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
      </div>
    </div>
    </div>
  </div>

  <div class="form-group row">
    
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary align-items-right">Guardar</button>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-primary align-items-right">Continuar</button>
            </div>
        </div>
  </div>
</form>
