<form autocomplete="off" [formGroup]="formaOTI" class="py-3">
  <div class="container border-primary" style="border-radius: 20px 20px 0 20px; background: rgba(223, 126, 137, 0.15);">
    <div class="form-group row py-5">
      <div class="col-md-2">
        <label class="text-primary">Tipo de operación</label>
      </div>
      <div class="col-md-10 px-0">
        <div class="btn-group btn-group-lg"  role="group" aria-label="Basic radio toggle button group">
          <input type="radio" class="btn-check" id="v1" name="tipoOperacion" value="1" formControlName="tipoOperacion"/>
          <label class="btn btn-outline-primary" style="border-radius: 15px solid!important;" for="v1">Venta</label>

          <input type="radio" class="btn-check" id="r1" name="tipoOperacion" value="2"  formControlName="tipoOperacion"/>
          <label class="btn btn-outline-primary" for="r1">Renta</label>

          <!-- <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio3">Radio 3</label> -->
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-2 py-4">
        <label class="text-primary">Tipo de inmueble</label>  
      </div>
      <div class="col-md-10 py-4 px-0">
          <div class="row">
            <div class="col-auto" *ngIf="_tiposPropiedad.length > 0">
                <select class="form-select form-select-lg mb-3 text-primary" style="border-radius: 0.8em;" aria-label="Default select example" [(ngModel)]="tipoPropiedadSeleccionada" name="tipoPropiedad" formControlName="tipoPropiedad" (change)="somethingChanged(3)">
                    <option *ngFor="let tipopropiedad of _tiposPropiedad; let i = index" [value]="tipopropiedad.Id_TipoPropiedad" >{{tipopropiedad.Descripcion}}</option>
                 </select>
            </div>
            <div class="col-auto px-0">
                <label class="text-primary">Subtipo de inmueble</label>  
              </div>
            <div class="col-auto">
                <select class="form-select form-select-lg mb-3 text-primary" style="border-radius: 0.8em;" aria-label="Default select example">
                  <option *ngFor="let tipopropiedad of _tiposPropiedad; let i = index" [value]="tipopropiedad.Id_TipoPropiedad" >{{tipopropiedad.Descripcion}}</option>
                </select>
            </div>
      </div>
    </div>
    </div>
  </div>

  <div class="form-group row" >
    
        <div class="row px-0" >
            <div class="col-md-6"></div>
            <div class="col-md-3 d-grid py-3" style="border-width:0px 0px 5px 1px; border-style: solid; border-color: rgba(223, 126, 137, 0.8); border-radius: 0 0 0 20px; background: rgba(223, 126, 137, 0.15);">
                <button type="button" style="border-radius: 0.8em;" (click)="guardarOTI()" class="btn btn-primary btn-lg align-items-right">Guardar</button>
            </div>
            <div class="col-md-3 d-grid py-3" style="border-width:0px 1px 5px 0px; border-style: solid; border-color: rgba(223, 126, 137, 0.8); border-radius: 0 0 20px 0; background: rgba(223, 126, 137, 0.15);">
                <button type="button" style="border-radius: 0.8em;" (click)="guardarOTI()" class="btn btn-primary btn-lg align-items-right">Guardar y Continuar</button>
            </div>
        </div>
  </div>
</form>
