<div class="container animate__animated" [ngClass]="{' animate__zoomIn': _numeroPaso === 1, ' animate__zoomOut': _numeroPaso === 2}">
  <form autocomplete="off" [formGroup]="formaUbicacion" (ngSubmit)="guardarUbicacion()">
    <fieldset>

      <div class="container" >
        <div class="row px-0" >
            <div class="col-md-10" >
              <legend class="text-center text-primary mb-3 "><h1 class="display-4">Ubicación</h1></legend>
            </div>
            <div class="col-md-2 d-grid py-3" style="border-width:1px 1px 0px 1px; border-style: solid; border-color: rgba(223, 126, 137, 0.8); border-radius: 20px 20px 0px 0px; background: rgba(223, 126, 137, 0.15);">
                <button type="button" style="border-radius: 0.8em;" (click)="pantallaSiguiente()" class="btn btn-primary btn-lg align-items-right">Siguiente</button>
            </div>
        </div>
      </div>

      <div class="container" style="border-width:0px 1px 0px 0px; border-style: solid; border-radius: 20px 0px 0px 0px; border-color: rgba(223, 126, 137, 0.8); background: rgba(223, 126, 137, 0.15);">
          <div class="form-group row py-3" formGroupName="direccion">
          <label class="col-2 col-form-label">Dirección</label>
          <div class="form-row col-10 p-0">
            <div class="col-md-12 col-10 p-0">
              <div class="row">
              <div class="col-md-5">
                <div class="col-auto">
                  <select [class.is-invalid]="estadoNoValido" class="form-select" aria-label="Default select example" [(ngModel)]="_estadoSeleccionado" name="estado" formControlName="estado" (change)="estadoSeleccionado(3)">
                    <option value="0" selected>-- Seleccione un Estado --</option>
                    <option *ngFor="let estado of _Estados; let i = index" [value]="estado.Id_Estado" >{{estado.Nombre}}</option>
                  </select>
                  <input type="text" class="form-control" list="miLista" id="exampleDataList" placeholder="Seleccione el Estado...">
                  <datalist id="miLista">
                    <label for="elemento">Selecciona un elemento de la lista:</label>
                    <select id="elementos" name="elementos">
                      <option>Opción 1</option>
                      <option>Opción 2</option>
                      <option>Opción 3</option>
                      <option>Opción 4</option>
                      <option>Opción N</option>   
                    </select>     
                  </datalist>
              </div>
              </div>
              <div class="col-md-5 col-form-label px-0">
                <small *ngIf="estadoNoValido" class="text-danger">
                  Estado invalido
                </small>
              </div>
            </div>
            </div>

            <div class="col-md-12 col-10 p-0 py-3">
              <div class="row">
                <div class="col-md-5">
                  <select [class.is-invalid]="municipioNoValido" class="form-select" aria-label="Default select example" [(ngModel)]="_municipioSeleccionado" name="municipio" formControlName="municipio" (change)="municipioSeleccionado(3)">
                    <option value="0" selected>-- Seleccione un Municipio --</option>
                    <option *ngFor="let municipio of _Municipios; let i = index" [value]="municipio.Id_Municipio" >{{municipio.Municipio}}</option>
                  </select>
                </div>
              <div class="col-md-4 col-10 px-0">
                <small *ngIf="municipioNoValido" class="text-danger">
                  Municipio invalido
                </small>
              </div>
            </div>
            </div>

            <div class="col-md-12 col-10 p-0 py-0">
              <div class="row">
                <div class="col-md-5">
                  <select [class.is-invalid]="asentamientoNoValido" class="form-select" aria-label="Default select example" [(ngModel)]="_asentamientoSeleccionado" name="asentamiento" formControlName="asentamiento" (change)="asentamientoSeleccionado()">
                    <option value="0" selected>-- Seleccione un Asentamiento --</option>
                    <option *ngFor="let asentamiento of _Asentamientos; let i = index" [value]="asentamiento.Id_Asentamiento" >{{asentamiento.Asentamiento}}</option>
                  </select>
                </div>
              <div class="col-md-4 col-10 px-0">
                <small *ngIf="asentamientoNoValido" class="text-danger">
                  Asentamiento/Colonia invalida
                </small>
              </div>
            </div>
            </div>

            <div class="col-md-12 col-10 p-0 py-3">
              <div class="row">
                <div class="col-md-5">
              <input
                type="text"
                class="form-control"
                placeholder="Calle y número"
                formControlName="calleynumero"
                [class.is-invalid]="calleynumeroNoValido"
              />
                </div>
              <div class="col-md-4 col-10 px-0">
                <small *ngIf="calleynumeroNoValido" class="text-danger">
                  Calle requerida
                </small>
              </div>
            </div>
            </div>

          </div>
          </div>
        </div>
        
        <div class="container" >
          <div class="row px-0" >
              <div class="col-md-2 d-grid py-3" style="border-width:0px 1px 5px 1px; border-style: solid; border-color: rgba(223, 126, 137, 0.8); border-radius: 0 0 20px 20px; background: rgba(223, 126, 137, 0.15);">
                <button type="button" style="border-radius: 0.8em;" (click)="regresar()" class="btn btn-primary btn-lg align-items-right">Atras</button>
              </div>
              <div class="col-md-4"></div>
              <div class="col-md-3 d-grid py-3" >
                  <!-- <button type="button" style="border-radius: 0.8em;" (click)="guardarUbicacion()" class="btn btn-primary btn-lg align-items-right">Guardar</button> -->
              </div>
              <div class="col-md-3 d-grid py-3" style="border-width:0px 1px 5px 1px; border-style: solid; border-color: rgba(223, 126, 137, 0.8); border-radius: 0px 0px 20px 20px; background: rgba(223, 126, 137, 0.15);">
                  <button type="button" style="border-radius: 0.8em;" (click)="guardarUbicacion()" class="btn btn-primary btn-lg align-items-right">Guardar y Continuar</button>
              </div>
          </div>
        </div>
  </fieldset>
  </form>
</div>