<!-- <div>
  <iframe width="853" height="480" src="https://www.youtube.com/embed/jU4y56oeavs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div> -->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal">
                    <fieldset>
                        <legend class="text-center text-primary mb-3 animate__animated animate__fadeInLeft"><h1 class="display-4">Tipos de asentamiento</h1></legend>
                        <div class="form-group row mb-3">
                            <div class="col-md-10 p-0">
                                <a class="btn btn-primary btn-sm" style="border-radius:25px;" (click)="limpiarFormulario()" data-bs-toggle="modal" data-bs-target="#gridAgregarTipoAsentamiento" >
                                    <span class="col-md-1 col-md-offset-2 text-center">
                                    <i class="fa fa-add bigicon" aria-hidden="true"></i>
                                </span></a>
                            </div>
                            <div class="col-md-2 p-0 align-items-end">
                                <td class="align-items-end">
                                  <span class="text-primary">Total de registros: <strong>{{_tiposAsentamiento.length}}</strong></span>
                                </td>
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <table class="table table-primary table-striped text-primary">
                                <thead>
                                  <tr>
                                    <th width="50px" class="text-primary text-center" scope="col">#</th>
                                    <!-- <th class="text-primary" scope="col">Id Cliente</th> -->
                                    <th width="70px" class="text-primary text-center" scope="col">Clave</th>
                                    <th width="350px" class="text-primary text-center" scope="col">Descripción</th>
                                    <th width="190px" class="text-primary text-center" scope="col">Fecha de Alta</th>
                                    <th width="190px" class="text-primary text-center" scope="col">Fecha de Modificación</th>
                                    <th class="text-primary text-center" scope="col">Modificar</th>
                                    <th class="text-primary text-center" scope="col">Eliminar</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let tipoAsentamiento of _tiposAsentamiento; let i = index;">
                                    <td class="text-primary text-center" scope="row">{{tipoAsentamiento.Id_TipoAsentamiento}}</td>
                                    <td class="text-primary">{{tipoAsentamiento.Clave}}</td>
                                    <td class="text-primary">{{tipoAsentamiento.Descripcion}}</td>
                                    <td width="150px" class="text-primary text-center">{{tipoAsentamiento.FechaAlta | date:'yyyy-MM-dd HH:mm'}}</td>
                                    <td width="150px" class="text-primary text-center">{{tipoAsentamiento.FechaModificacion | date:'yyyy-MM-dd HH:mm'}}</td>
                                    <td width="90px" class="p-1">
                                        <div class="col-auto d-grid p-0 m-0" heigth="auto">
                                            <a class="btn btn-primary" heigth="auto" (click)="obtenerTipoAsentamiento(tipoAsentamiento);" data-bs-toggle="modal" data-bs-target="#gridAgregarTipoAsentamiento"><span class="col-md-1 col-md-offset-2 text-center">
                                                <i class="fa fa-pencil"></i>
                                            </span></a>
                                        </div>
                                    </td>
                                    <td width="90px" class="p-1">
                                    <div class="col-auto d-grid p-0 m-0">
                                        <a class="btn btn-primary" heigth="auto" (click)="eliminarTipoAsentamiento(tipoAsentamiento);" ><span class="col-md-1 col-md-offset-2 text-center">
                                            <i class="fa fa-trash-can"></i>
                                        </span></a>
                                    </div></td>
                                  </tr>
                                </tbody>
                              </table>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="gridAgregarTipoAsentamiento" tabindex="-1" aria-labelledby="gridModalLabel" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-primary" id="gridModalLabel">{{_textoAccion}} tipo de asentamiento</h5>
          <button type="button" class="btn-close" (click)="limpiarFormulario()" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container-fluid bd-example-row">
            <div class="row">
                <div class="col-md-12">
                    <div class="well well-sm">
                        <form class="form-horizontal" [formGroup]="formaTipoAsentamiento">
                            <fieldset>

                              <div class="form-group row mb-3">
                                <span class="col-md-1 col-md-offset-2 text-primary text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                                <div class="col-md-8">
                                    <input formControlName="clave" 
                                           type="text"
                                           [class.is-invalid]="claveNoValido"
                                           placeholder="Clave" 
                                           class="form-control text-primary">
                                </div>
                                <div class="col-md-3 px-0">
                                    <small *ngIf="claveNoValido" class="text-danger">
                                      Clave no valida
                                    </small>
                                </div>
                              </div>

                                <div class="form-group row mb-3">
                                    <span class="col-md-1 col-md-offset-2 text-primary text-center"><i class="fa fa-user bigicon"></i></span>
                                    <div class="col-md-8">
                                        <input formControlName="descripcion" 
                                               type="text" placeholder="Descripción" 
                                               [class.is-invalid]="descripcionNoValido" 
                                               class="form-control text-primary">
                                    </div>
                                    <div class="col-md-3 px-0">
                                        <small *ngIf="descripcionNoValido" class="text-danger">
                                          Descripción no valida
                                        </small>
                                    </div>
                                </div>

                                
        
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" #myModalClose (click)="limpiarFormulario()" class="btn btn-secondary text-light" data-bs-dismiss="modal" >Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="guardarTipoAsentamiento();">{{_textoAccion}}</button>
        </div>
      </div>
    </div>
  </div>  