.form-zone {
  border-radius: 22px;
  max-width: 100%;
  padding: 10px;
  top: 130px;
  width: auto;
  /*background: rgba(72,69,64,1);*/
  /* background: rgba(255, 255, 255, 1); */
}

.form-zone.Ligth {
  border-radius: 22px;
  max-width: 100%;
  padding: 10px;
  top: 130px;
  width: auto;
  /*background: rgba(72,69,64,1);*/
  background: rgba(255, 255, 255, 1);
}

.form-zone.Dark {
  border-radius: 22px;
  max-width: 100%;
  padding: 10px;
  top: 130px;
  width: auto;
  /*background: rgba(72,69,64,1);*/
  background: rgb(0, 0, 0);
}

#containerMain.Ligth {
  background-color: white;
}

#containerMain.Dark {
  background-color: black;
}
