.form-zone {
  border-radius: 22px;
  max-width: 100%;
  padding: 10px;
  top: 130px;
  width: auto;
  /*background: rgba(72,69,64,1);*/
  /* background: rgba(255, 255, 255, 1); */
}

.form-zone.Ligth {
  border-radius: 22px;
  max-width: 100%;
  padding: 10px;
  top: 130px;
  width: auto;
  /*background: rgba(72,69,64,1);*/
  background: rgba(255, 255, 255, 1);
}

.form-zone.Dark {
  border-radius: 22px;
  max-width: 100%;
  padding: 10px;
  top: 130px;
  width: auto;
  /*background: rgba(72,69,64,1);*/
  background: rgb(0, 0, 0);
}

#containerMain.Ligth {
  background-color: white;
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

#containerMain.Dark {
  background-color: #111111;
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.header {
  color: #bf4080;
  font-size: 27px;
  padding: 10px;
}

.bigicon {
  font-size: 35px;
  color: #bf4080;
  text-shadow: -1px -1px 1px rgb(200, 200, 200), 1px 1px 1px rgb(200, 200, 200), -1px 1px 1px rgb(200, 200, 200), 1px -1px 1px rgb(200, 200, 200);
}

.medicon {
  font-size: 25px;
  text-shadow: -1px -1px 1px rgb(200, 200, 200), 1px 1px 1px rgb(200, 200, 200), -1px 1px 1px rgb(200, 200, 200), 1px -1px 1px rgb(200, 200, 200);
}

.bg-color-rt{
  background-color: rgba(223, 126, 137, 0.15);
}

.bg-color-2{
  background-color: #646464;
}

.bg-color-3{
  background-color: rgba(255,0,0,0.2);
}

.bg-color-4{
  background-color: rgba(223, 126, 137, .8);
}

.borde-card{
  border: 1px solid rgba(223, 126, 137, .8);
}

.br25{
  border-radius: 25px;
}

.br20{
  border-radius: 20px;
}

.br15{
  border-radius: 15px;
}

.br10{
  border-radius: 10px;
}

/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
  height: 100%;
}