<div class="container animate__animated" [ngClass]="{' animate__zoomIn': _numeroPaso === 1, ' animate__zoomOut': _numeroPaso === 2}">
  <form autocomplete="off" [formGroup]="formCaracteristicas">
    <fieldset>

      <div class="container" >
        <div class="row px-0" >
            <div class="col-md-10" >
              <legend class="text-center text-primary mb-3 "><h1 class="display-4">Características</h1></legend>
            </div>
            <div class="col-md-2 d-grid py-3" style="border-width:1px 1px 0px 1px; border-style: solid; border-color: rgba(223, 126, 137, 0.8); border-radius: 20px 20px 0px 0px; background: rgba(223, 126, 137, 0.15);">
                <button type="button" style="border-radius: 0.8em;" (click)="pantallaSiguiente()" class="btn btn-primary btn-lg align-items-right">Siguiente</button>
            </div>
        </div>
      </div>

      <div class="container pt-3" style="border-width:0px 1px 0px 0px; border-style: solid; border-radius: 20px 0px 0px 0px; border-color: rgba(223, 126, 137, 0.8); background: rgba(223, 126, 137, 0.15);">
        <div class="form-group row">
          <legend class="text-center text-primary mt-2"><h3>Principales</h3></legend>
        </div>
        <div class="form-group row py-0">
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <div class="col-md-6 input-group">
              <span class="input-group-text text-primary">Recamaras</span>
              <input  class="form-control"
                      type="number"
                      min="0" 
                      max="99"
                      formControlName="recamaras"/>
            </div>
          </div>
          <div class="col-md-2">
            <div class="col-md-6 input-group">
              <span class="input-group-text text-primary">Baños</span>
              <input  class="form-control"
                      type="number"
                      min="0" 
                      max="99"
                      formControlName="banios"/>
            </div>
          </div>
          <div class="col-auto">
            <div class="col-md-6 input-group">
              <span class="input-group-text text-primary">&#189; Baños</span>
              <input  class="form-control"
                      type="number"
                      min="0" 
                      max="99"
                      formControlName="mediosbanios"/>
            </div>
          </div>
          <div class="col-auto">
            <div class="col-md-6 input-group">
              <span class="input-group-text text-primary">Estacionamientos</span>
              <input  class="form-control"
                      type="number"
                      min="0" 
                      max="99"
                      formControlName="estacionamientos"/>
            </div>
          </div>
        </div>

        

        <div class="form-group row py-0">

          <div class="col">
            <div class="form-group row mt-5 mb-3">
              <legend class="text-center text-primary mt-3"><h3>Superficie</h3></legend>
            </div>
            <div class="col-md-auto">
              <div class="row">
                <div class="col-md-6 input-group">
                  <span class="input-group-text text-end text-primary" style="width: 170px;">Superficie construida</span>
                  <input  class="form-control"
                          type="number"
                          min="0" 
                          max="999999"
                          formControlName="superficieConstruida"/>
                  <span class="input-group-text text-primary">m<sup>2</sup></span>
                </div>
              </div>
            </div>
              <div class="col-md-auto py-3">
                <div class="col-md-12 p-0 input-group">
                  <span class="input-group-text  text-primary" style="width: 170px;">Superficie terreno</span>
                  <input class="form-control"
                          type="number"
                          min="0" 
                          max="999999"
                          formControlName="superficieTerreno"/>
                          <span class="input-group-text text-primary">m<sup>2</sup></span>
                </div>
              </div>
            </div>

            <div class="col">

              <div class="form-group row mt-5 mb-3">
                <legend class="text-center text-primary mt-3"><h3>Antiguedad</h3></legend>
              </div>
      
              <div class="form-group row py-0">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                  <div class="form-check">
                    <input class="form-check-input" 
                           type="radio" 
                           value="0"
                           name="antiguedad" 
                           [checked]="_checkNueva"
                           (change)="seleccionarAntiguedad(0)"
                           id="flexRadioDefault1">
                    <label class="form-check-label text-primary" for="flexRadioDefault1">
                      Nueva
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" 
                           type="radio" 
                           name="antiguedad"
                           value="-1"
                           (change)="seleccionarAntiguedad(-1)"
                           [checked]="_checkEnConstruccion"
                           id="flexRadioDefault2">
                    <label class="form-check-label text-primary" for="flexRadioDefault2">
                      En construcción
                    </label>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-check">
                    <input class="form-check-input" 
                           type="radio" 
                           name="antiguedad"
                           value="1"
                           [checked]="_checkAnios"
                           (change)="seleccionarAntiguedad(1)"
                           id="flexRadioDefault1">
                    <label class="form-check-label text-primary" for="flexRadioDefault1">
                      Años de antiguedad
                    </label>
                  </div>
                  <div class="col-md-5">
                    <div class="col-md-12 p-0">
                      <input class="form-control"
                             type="number"
                             min="1"
                             max="999"
                             [hidden]="_mostrarAniosAntiguedad"
                             formControlName="aniosAntiguedad"/>
                    </div>
                  </div>
                </div>
                <div class="col-md-1"></div>
              </div>

            </div>

        </div>

        

        <div class="form-group row mt-5">
          <legend class="text-center text-primary mt-3"><h3>Precio</h3></legend>
        </div>

        <div class="form-group row py-0">
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <label class="col-md-12 col-form-label text-primary">Precio del inmueble</label>
            <div class="col-md-12 p-0 input-group">
              <span class="input-group-text text-primary">$</span>
              <input  class="form-control"
                      type="number"
                      min="0" 
                      max="999999"
                      formControlName="precioInmueble" />
              <span class="input-group-text text-primary">.00</span>
            </div>
          </div>
          <div class="col-md-3">
            <label class="col-md-12 col-form-label text-primary">Mantenimiento</label>
            <div class="col-md-12 p-0 input-group ">
              <span class="input-group-text text-primary">$</span>
              <input  class="form-control"
                      type="number"
                      min="0" 
                      max="999999"
                      formControlName="coutaMantenimiento" />
                      <span class="input-group-text text-primary">.00</span>
            </div>
          </div>
          <div class="col-md-2">
            <div class="col-md-12 p-0 m-0">
              <label class="col-md-12 col-form-label text-primary">Tipo de Moneda</label>
              <div class="form-check form-check-inline">
                <input class="form-check-input" 
                       type="radio" 
                       value="1"
                       name="moneda"
                       formControlName="moneda"
                       [checked]="_checkMoneda1"
                       id="monedaMNX">
                <label class="form-check-label text-primary" for="monedaMNX">
                  MNX
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" 
                       type="radio" 
                       name="moneda"
                       value="2"
                       formControlName="moneda"
                       [checked]="_checkMoneda2"
                       id="monedaUSD" 
                       checked>
                <label class="form-check-label text-primary" for="monedaUSD">
                  USD
                </label>
              </div>
              
            </div>
          </div>
          <div class="col-md-3">
            <div class="row">&nbsp;</div>
            <div class="row">&nbsp;</div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" 
                    type="checkbox" 
                    value="0" 
                    formControlName="precioNegociable"
                    id="checkPrecioNegociable">
              <label class="form-check-label text-primary" for="checkPrecioNegociable">
                Precio negociable
              </label>
            </div>
          </div>
        </div>

        <div class="form-group row mt-5">
          <legend class="text-center text-primary mt-3"><h3>Descripción del inmueble</h3></legend>
        </div>

        <div class="form-group row ">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <label class="col-md-12 col-form-label text-primary">Titulo</label>
            <div class="col-md-12 p-0">
              <input  class="form-control"
                      type="text"
                      formControlName="titulo"
              />
            </div>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-2"></div>
          <div class="col-md-8 mb-5">
            <label class="col-md-12 col-form-label text-primary">Descripción</label>
            <div class="col-md-12 p-0">
              <textarea class="form-control"
                        type="textarea"
                        rows="3"
                        placeholder="Escribe un mínimo de 100 caracteres"
                        maxlength="1000"
                        minlength="100"
                        formControlName="descripcion"></textarea>
            </div>
          </div>
          
        </div>
      </div>
      
      <div class="container" >
        <div class="row px-0" >
          <div class="col-md-2 d-grid py-3" style="border-width:0px 1px 5px 1px; border-style: solid; border-color: rgba(223, 126, 137, 0.8); border-radius: 0 0 20px 20px; background: rgba(223, 126, 137, 0.15);">
            <button type="button" style="border-radius: 0.8em;" (click)="regresar()" class="btn btn-primary btn-lg align-items-right">Atras</button>
          </div>
          <div class="col-md-4"></div>
            <div class="col-md-3 d-grid py-3" >
                <!-- <button type="button" style="border-radius: 0.8em;" (click)="guardarCaracteristicas()" class="btn btn-primary btn-lg align-items-right">Guardar</button> -->
            </div>
            <div class="col-md-3 d-grid py-3" style="border-width:0px 1px 5px 1px; border-style: solid; border-color: rgba(223, 126, 137, 0.8); border-radius: 0px 0px 20px 20px; background: rgba(223, 126, 137, 0.15);">
                <button type="button" style="border-radius: 0.8em;" (click)="guardarCaracteristicas()" class="btn btn-primary btn-lg align-items-right">Guardar y Continuar</button>
            </div>
        </div>
      </div>

    </fieldset>
  </form>
</div>